openapi: 3.0.4
info:
  title: BookingEngineApi Account notes Availability adjustments API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: Availability adjustments
paths:
  /api/connector/v1/availabilityAdjustments/getAll:
    post:
      tags:
      - Availability adjustments
      summary: Get all availability adjustments
      description: 'Returns all availability adjustments.

        Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).'
      operationId: availabilityAdjustments_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityAdjustmentParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              AvailabilityAdjustmentIds:
              - e19297af-373e-4701-b4ea-afae0129bded
              - 7413724a-6c48-46d4-ab3a-afae01280999
              UpdatedUtc:
                StartUtc: '2023-02-18T18:00:10.155Z'
                EndUtc: '2023-02-20T18:00:10.155Z'
              ActivityStates:
              - Active
              - Deleted
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              Limitation:
                Count: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityAdjustmentResult'
              example:
                AvailabilityAdjustments:
                - Id: e19297af-373e-4701-b4ea-afae0129bded
                  AvailabilityBlockId: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                  ResourceCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  StartUtc: null
                  EndUtc: null
                  FirstTimeUnitStartUtc: '2021-10-14T00:00:00Z'
                  LastTimeUnitStartUtc: '2021-10-17T00:00:00Z'
                  UnitCount: 6
                  ActivityState: Active
                  ReleaseOverrideUtc: '2021-10-13T00:00:00Z'
                  UpdatedUtc: '2021-10-21T13:32:32Z'
                  IsActive: false
                  PaxCounts: null
                  FirstTimeUnitReleaseUtc: '2021-10-13T00:00:00Z'
                - Id: 7413724a-6c48-46d4-ab3a-afae01280999
                  AvailabilityBlockId: null
                  ResourceCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  StartUtc: null
                  EndUtc: null
                  FirstTimeUnitStartUtc: '2023-02-19T23:00:00Z'
                  LastTimeUnitStartUtc: '2023-02-23T23:00:00Z'
                  UnitCount: 5
                  ActivityState: Deleted
                  ReleaseOverrideUtc: null
                  UpdatedUtc: '2023-02-28T23:00:00Z'
                  IsActive: false
                  PaxCounts: null
                  FirstTimeUnitReleaseUtc: null
                Cursor: 7413724a-6c48-46d4-ab3a-afae01280999
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
components:
  schemas:
    AvailabilityAdjustment:
      title: Availability adjustment
      required:
      - ActivityState
      - FirstTimeUnitStartUtc
      - Id
      - IsActive
      - LastTimeUnitStartUtc
      - ResourceCategoryId
      - UnitCount
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the [Availability adjustment](https://mews-systems.gitbook.io/connector-api/operations/#availability-adjustment).
          format: uuid
        AvailabilityBlockId:
          type: string
          description: Unique identifier of the [Availability block](https://mews-systems.gitbook.io/connector-api/operations/availabilityblocks/#availability-block) which the availability adjustment belongs to.
          format: uuid
          nullable: true
        ResourceCategoryId:
          type: string
          description: Unique identifier of the [Resource category](https://mews-systems.gitbook.io/connector-api/operations/resources/#resource-category) whose availability is updated.
          format: uuid
        StartUtc:
          type: string
          description: Start of the interval in UTC timezone in ISO 8601 format.
          nullable: true
          deprecated: true
        EndUtc:
          type: string
          description: End of the interval in UTC timezone in ISO 8601 format.
          nullable: true
          deprecated: true
        FirstTimeUnitStartUtc:
          minLength: 1
          type: string
          description: Start of the time interval, expressed as the timestamp for the start of the first [time unit](https://mews-systems.gitbook.io/connector-api/operations/services/#time-unit), in UTC timezone ISO 8601 format.
          format: date-time
        LastTimeUnitStartUtc:
          minLength: 1
          type: string
          description: End of the time interval, expressed as the timestamp for the start of the last [time unit](https://mews-systems.gitbook.io/connector-api/operations/services/#time-unit), in UTC timezone ISO 8601 format.
          format: date-time
        UnitCount:
          type: integer
          description: Adjustment value applied on the interval.
          format: int32
        ActivityState:
          title: Activity state
          allOf:
          - $ref: '#/components/schemas/ActivityStateEnum'
          description: 'Shows whether the availability adjustment is active or deleted.


            Deleted


            Active'
          deprecated: true
          x-enumNames:
          - Deleted
          - Active
          x-enumDescriptions:
          - ''
          - ''
          x-deprecatedMessage: Use `IsActive` instead.
        ReleaseOverrideUtc:
          type: string
          description: Exact moment the availability adjustment is released if set; overrides the release strategy of the associated availability block.
          format: date-time
          nullable: true
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the adjustment in UTC timezone in ISO 8601 format.
          format: date-time
        IsActive:
          type: boolean
          description: Whether the availability adjustment is still active.
        PaxCounts:
          maxItems: 5
          type: array
          items:
            $ref: '#/components/schemas/PaxCount'
          description: Collection of predicted occupancy of availability adjustments. Relates to how many adjustments are assigned to each count of guests.
          nullable: true
        FirstTimeUnitReleaseUtc:
          type: string
          description: Exact moment the first time unit of the availability adjustment is released based on `ReleaseOverrideUtc` or the `ReleaseStrategy` of the associated availability block, or the `OperationalEditableHistoryInterval` of the associated enterprise if not set, or `null` if `AvailabilityBlockId` is `null`.
          format: date-time
          nullable: true
      additionalProperties: false
      x-schema-id: AvailabilityAdjustment
    AvailabilityAdjustmentResult:
      title: AvailabilityAdjustmentResult
      required:
      - AvailabilityAdjustments
      type: object
      properties:
        AvailabilityAdjustments:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityAdjustment'
          description: Availability adjustments.
        Cursor:
          type: string
          description: Unique identifier of the item one newer in time order than the items to be returned. If Cursor is not specified, i.e. null, then the latest or most recent items will be returned.
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: AvailabilityAdjustmentResult
    ActivityState:
      title: Activity state
      enum:
      - Deleted
      - Active
      type: string
    AvailabilityAdjustmentParameters:
      title: AvailabilityAdjustmentParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
          nullable: true
        AvailabilityAdjustmentIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the requested [Availability adjustments](https://mews-systems.gitbook.io/connector-api/operations/#availability-adjustment).
          nullable: true
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the availability adjustments were updated.
          nullable: true
          x-max-interval-in-months: 3
        ActivityStates:
          type: array
          items:
            $ref: '#/components/schemas/ActivityState'
          description: Whether to return only active, only deleted, or both types of record. If not specified, only active records will be returned.
          nullable: true
      additionalProperties: false
      x-schema-id: AvailabilityAdjustmentParameters
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type: string
          format: date-time
          nullable: true
        EndUtc:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\r\n\r\n- **Start equals End (equality mode)**  \r\n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\r\n  \r\n  ```\r\n  CreatedUtc == StartUtc\r\n  ```\r\n  \r\n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\r\n\r\n- **Start differs from End (interval mode)**  \r\n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\r\n  \r\n  ```\r\n  StartUtc <= CreatedUtc < EndUtc\r\n  ```\r\n  \r\n  In other words, the start is inclusive and the end is exclusive.\r\n\r\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
        RequestId:
          type: string
          nullable: true
        Details:
          nullable: true
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    ActivityStateEnum:
      title: Activity state
      enum:
      - Deleted
      - Active
      type: string
      description: '


        Deleted


        Active'
      x-enumNames:
      - Deleted
      - Active
      x-enumDescriptions:
      - ''
      - ''
    PaxCount:
      title: PaxCount
      required:
      - PersonCount
      - UnitCount
      type: object
      properties:
        PersonCount:
          type: integer
          description: Predicted guest count that will be assigned to the Resource. The guest count must fit within the Resource Category maximum capacity.
          format: int32
        UnitCount:
          type: integer
          description: Positive number of adjustments that are assigned to `PersonCount`. The sum of all `UnitCount` in `PaxCounts` should match the adjustment value applied to the interval.
          format: int32
      additionalProperties: false
      x-schema-id: PaxCount
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
        Cursor:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
