openapi: 3.0.4
info:
  title: BookingEngineApi Account notes Tax environments API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: Tax environments
paths:
  /api/connector/v1/taxEnvironments/getAll:
    post:
      tags:
      - Tax environments
      summary: Get all tax environments
      description: Returns all tax environments supported by the API.
      operationId: taxEnvironments_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Parameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxEnvironmentResult'
              example:
                TaxEnvironments:
                - Code: AT-2020
                  CountryCode: AUT
                  ValidityStartUtc: '2020-06-30T22:00:00Z'
                  ValidityEndUtc: null
                  TaxationCodes:
                  - AT-2020
                - Code: AW-2023
                  CountryCode: ABW
                  ValidityStartUtc: '2023-01-01T04:00:00Z'
                  ValidityEndUtc: null
                  TaxationCodes:
                  - AW-2023
                  - AW-TOURIST-2023
                  - AW-RESIDENCE
                - Code: CA-QC-TR-2023
                  CountryCode: CAN
                  ValidityStartUtc: '2023-10-19T19:00:00Z'
                  ValidityEndUtc: null
                  TaxationCodes:
                  - CA-TR-2023
                  - CA-QC-2023
                  - CA-QC-LODGING-2023
                  - CA-QC-LO-FLAT
                - Code: PH-MA-CUSTOM
                  CountryCode: PHL
                  ValidityStartUtc: null
                  ValidityEndUtc: null
                  TaxationCodes:
                  - PH
                  - PH-MA-CUSTOM
                  - PH-MA-SERVICE
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
components:
  schemas:
    TaxEnvironmentResult:
      title: TaxEnvironmentResult
      required:
      - TaxEnvironments
      type: object
      properties:
        TaxEnvironments:
          type: array
          items:
            $ref: '#/components/schemas/TaxEnvironment'
          description: The supported tax environments.
      additionalProperties: false
      x-schema-id: TaxEnvironmentResult
    TaxEnvironment:
      title: Tax environment
      required:
      - Code
      - CountryCode
      - TaxationCodes
      type: object
      properties:
        Code:
          minLength: 1
          type: string
          description: Code of the tax environment.
        CountryCode:
          minLength: 1
          type: string
          description: ISO 3166-1 alpha-3 code of associated country, e.g. `USA` or `GBR`.
        ValidityStartUtc:
          type: string
          description: If specified, marks the start of the validity interval in UTC timezone in ISO 8601 format.
          nullable: true
        ValidityEndUtc:
          type: string
          description: If specified, marks the end of the validity interval in UTC timezone in ISO 8601 format.
          nullable: true
        TaxationCodes:
          type: array
          items:
            type: string
          description: Codes of the `Taxation` that are used by this environment.
      additionalProperties: false
      description: Tax environment represents set of `Taxation` together with optional validity interval.
      x-schema-id: TaxEnvironment
    Parameters:
      title: Parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
      additionalProperties: false
      x-schema-id: Parameters
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
        RequestId:
          type: string
          nullable: true
        Details:
          nullable: true
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
