openapi: 3.0.4
info:
  title: BookingEngineApi Account notes Vouchers API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: Vouchers
paths:
  /api/connector/v1/vouchers/getAll:
    post:
      tags:
      - Vouchers
      summary: Get all vouchers
      description: Returns all rate vouchers filtered by [Service](https://mews-systems.gitbook.io/connector-api/operations/services/#service), voucher code or voucher identifier. Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: vouchers_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              Extent:
                Vouchers: true
                VoucherCodes: true
                VoucherAssignments: true
                Companies: false
                Rates: false
              ServiceIds:
              - bd26d8db-86da-4f96-9efc-e5a4654a4a94
              - 8c1bd738-a505-4b29-aa71-9ecc2982b843
              VoucherIds:
              - fe568bbd-1ecb-4bb2-bf77-96c3698de20d
              VoucherCodeValues:
              - TEST-VOUCHER-CODE
              ActivityStates:
              - Active
              UpdatedUtc:
                StartUtc: '2023-10-10T00:00:00Z'
                EndUtc: '2023-10-17T00:00:00Z'
              ExternalIdentifiers:
              - Voucher-001
              - Voucher-002
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              Limitation:
                Count: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherResult'
              example:
                Vouchers:
                - Id: fe568bbd-1ecb-4bb2-bf77-96c3698de20d
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Name: Weekend Voucher
                  CreatedUtc: '2018-11-29T08:17:05Z'
                  UpdatedUtc: '2020-10-30T13:38:49Z'
                  Type: Public
                  ActivityState: Active
                  CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  TravelAgencyId: null
                  OccupiableIntervalStartUtc: null
                  OccupiableIntervalEndUtc: null
                  ExternalIdentifier: VCHR-278
                  IsActive: true
                VoucherCodes:
                - Id: 11111111-1111-1111-1111-111111111111
                  VoucherId: fe568bbd-1ecb-4bb2-bf77-96c3698de20d
                  Value: TEST-VOUCHER-CODE
                  ValidityStartUtc: null
                  ValidityEndUtc: null
                  CreatedUtc: '2020-10-30T13:37:16Z'
                  UpdatedUtc: '2020-10-30T13:37:16Z'
                  ActivityState: Active
                  IsActive: true
                - Id: 22222222-2222-2222-2222-222222222222
                  VoucherId: fe568bbd-1ecb-4bb2-bf77-96c3698de20d
                  Value: 05400269B23A59C649E4
                  ValidityStartUtc: '2020-10-09T22:00:00Z'
                  ValidityEndUtc: '2020-10-09T22:00:00Z'
                  CreatedUtc: '2020-10-09T15:08:14Z'
                  UpdatedUtc: '2020-10-09T15:08:14Z'
                  ActivityState: Active
                  IsActive: true
                VoucherAssignments:
                - VoucherId: fe568bbd-1ecb-4bb2-bf77-96c3698de20d
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                - VoucherId: fe568bbd-1ecb-4bb2-bf77-96c3698de20d
                  RateId: b7e6a1c2-4f3a-4e2b-9c1d-2a5e7b8c9d0f
                Rates: null
                Companies: null
                Cursor: fe568bbd-1ecb-4bb2-bf77-96c3698de20d
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/vouchers/add:
    post:
      tags:
      - Vouchers
      summary: Add vouchers
      description: Adds the specified vouchers to the specified [Services](https://mews-systems.gitbook.io/connector-api/operations/services/#service). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: vouchers_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleVoucherAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              VoucherParameters:
              - ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                Name: Weekend Voucher
                Type: Public
                AssignedRateIds:
                - ed4b660b-19d0-434b-9360-a4de2ea42eda
                - b7e6a1c2-4f3a-4e2b-9c1d-2a5e7b8c9d0f
              - ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                Name: Sample company voucher
                Type: PartnerCompany
                CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                AssignedRateIds:
                - ed4b660b-19d0-434b-9360-a4de2ea42eda
                - b7e6a1c2-4f3a-4e2b-9c1d-2a5e7b8c9d0f
                OccupiableIntervalStartUtc: '2023-12-31T22:00:00Z'
                OccupiableIntervalEndUtc: '2024-01-01T22:00:00Z'
                ExternalIdentifier: VCHR-278
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherWriteResult'
              example:
                Vouchers:
                - Id: fe568bbd-1ecb-4bb2-bf77-96c3698de20d
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Name: Weekend Voucher
                  CreatedUtc: '2018-11-29T08:17:05Z'
                  UpdatedUtc: '2020-10-30T13:38:49Z'
                  Type: Public
                  ActivityState: Active
                  CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  TravelAgencyId: null
                  OccupiableIntervalStartUtc: null
                  OccupiableIntervalEndUtc: null
                  ExternalIdentifier: VCHR-278
                  IsActive: true
                - Id: f4a9942c-2616-4074-b1f4-4b959515e933
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Name: Sample company voucher
                  CreatedUtc: '2023-12-01T08:17:05Z'
                  UpdatedUtc: '2023-12-02T13:38:49Z'
                  Type: PartnerCompany
                  ActivityState: Active
                  CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  TravelAgencyId: null
                  OccupiableIntervalStartUtc: '2023-12-31T22:00:00Z'
                  OccupiableIntervalEndUtc: '2024-01-01T22:00:00Z'
                  ExternalIdentifier: VCHR-278
                  IsActive: true
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/vouchers/update:
    post:
      tags:
      - Vouchers
      summary: Update vouchers
      description: Updates information about the specified vouchers. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: vouchers_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleVoucherUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              VoucherUpdates:
              - VoucherId: fe568bbd-1ecb-4bb2-bf77-96c3698de20d
                Name:
                  Value: Weekend Voucher
                Type:
                  Value: Public
                AssignedRateIds:
                  Value:
                  - ed4b660b-19d0-434b-9360-a4de2ea42eda
                  - b7e6a1c2-4f3a-4e2b-9c1d-2a5e7b8c9d0f
              - VoucherId: f4a9942c-2616-4074-b1f4-4b959515e933
                Name:
                  Value: Sample company voucher
                Type:
                  Value: PartnerCompany
                CompanyId:
                  Value: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                AssignedRateIds:
                  Value:
                  - ed4b660b-19d0-434b-9360-a4de2ea42eda
                  - b7e6a1c2-4f3a-4e2b-9c1d-2a5e7b8c9d0f
                OccupiableIntervalStartUtc:
                  Value: '2023-12-31T22:00:00Z'
                OccupiableIntervalEndUtc:
                  Value: '2024-01-01T22:00:00Z'
                ExternalIdentifier:
                  Value: VCHR-278
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherWriteResult'
              example:
                Vouchers:
                - Id: fe568bbd-1ecb-4bb2-bf77-96c3698de20d
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Name: Weekend Voucher
                  CreatedUtc: '2018-11-29T08:17:05Z'
                  UpdatedUtc: '2020-10-30T13:38:49Z'
                  Type: Public
                  ActivityState: Active
                  CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  TravelAgencyId: null
                  OccupiableIntervalStartUtc: null
                  OccupiableIntervalEndUtc: null
                  ExternalIdentifier: VCHR-278
                  IsActive: true
                - Id: f4a9942c-2616-4074-b1f4-4b959515e933
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Name: Sample company voucher
                  CreatedUtc: '2023-12-01T08:17:05Z'
                  UpdatedUtc: '2023-12-02T13:38:49Z'
                  Type: PartnerCompany
                  ActivityState: Active
                  CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  TravelAgencyId: null
                  OccupiableIntervalStartUtc: '2023-12-31T22:00:00Z'
                  OccupiableIntervalEndUtc: '2024-01-01T22:00:00Z'
                  ExternalIdentifier: VCHR-278
                  IsActive: true
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/vouchers/delete:
    post:
      tags:
      - Vouchers
      summary: Delete vouchers
      description: Delete specified vouchers. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: vouchers_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleVoucherDeleteParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              VoucherIds:
              - fe568bbd-1ecb-4bb2-bf77-96c3698de20d
              - f4a9942c-2616-4074-b1f4-4b959515e933
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              example: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
components:
  schemas:
    StringUpdateValue:
      title: String update value
      type: object
      properties:
        Value:
          type: string
          description: Value which is to be updated.
          nullable: true
      additionalProperties: false
      x-schema-id: StringUpdateValue
    MultipleVoucherUpdateParameters:
      title: MultipleVoucherUpdateParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - VoucherUpdates
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          nullable: true
        VoucherUpdates:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/VoucherUpdateParameters'
          description: Details of voucher updates.
      additionalProperties: false
      x-schema-id: MultipleVoucherUpdateParameters
    RateForExtent:
      title: Rate for extent
      required:
      - GroupId
      - Id
      - IsActive
      - IsBaseRate
      - IsEnabled
      - IsPublic
      - Names
      - ServiceId
      - Type
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate.
          format: uuid
        GroupId:
          type: string
          description: Unique identifier of `Rate Group` where the rate belongs.
          format: uuid
        ServiceId:
          type: string
          description: Unique identifier of the `Service`.
          format: uuid
        BaseRateId:
          type: string
          description: Unique identifier of the base `Rate`.
          format: uuid
          nullable: true
        IsBaseRate:
          type: boolean
          description: Whether the rate is a base rate.
        BusinessSegmentId:
          type: string
          description: Unique identifier of the `Business Segment`.
          format: uuid
          nullable: true
        IsActive:
          type: boolean
          description: Whether the rate is still active.
        IsEnabled:
          type: boolean
          description: Whether the rate is currently available to customers.
        IsPublic:
          type: boolean
          description: Whether the rate is publicly available.
        Type:
          title: Rate type
          allOf:
          - $ref: '#/components/schemas/RateTypeEnum'
          description: 'Type of the rate.


            Public


            Private


            AvailabilityBlock'
          x-enumNames:
          - Public
          - Private
          - AvailabilityBlock
          x-enumDescriptions:
          - ''
          - ''
          - ''
        Name:
          type: string
          description: Name of the rate (in the default language).
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `Names` instead
        Names:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the name.
          x-schema-id: LocalizedStrings
        ShortName:
          type: string
          description: Short name of the rate (in the default language).
          nullable: true
        UpdatedUtc:
          minLength: 1
          type: string
          description: Interval in which the rates were updated.
          format: date-time
        ExternalNames:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the external name of the rate.
          nullable: true
          x-schema-id: LocalizedStrings
        Description:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the description of the rate.
          nullable: true
          x-schema-id: LocalizedStrings
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of the rate from external system.
          nullable: true
      additionalProperties: false
      description: '`Rate` entity, without some of the details, e.g. pricing.'
      x-schema-id: RateForExtent
    MultipleVoucherAddParameters:
      title: MultipleVoucherAddParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - VoucherParameters
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          nullable: true
        VoucherParameters:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/VoucherAddParameters'
          description: Vouchers to be added.
      additionalProperties: false
      x-schema-id: MultipleVoucherAddParameters
    AssignedRateIds:
      title: Assigned rate ids
      type: object
      properties:
        Value:
          maxItems: 10
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of Rates (or `null` should it not be updated).
          nullable: true
      additionalProperties: false
      description: Has same structure as [Array of strings update value](https://mews-systems.gitbook.io/connector-api/operations/_objects#array-of-strings-update-value).
      x-schema-id: AssignedRateIds
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
        RequestId:
          type: string
          nullable: true
        Details:
          nullable: true
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    VoucherAssignment:
      title: Voucher assignment
      type: object
      properties:
        VoucherId:
          type: string
          description: Unique identifier of [Voucher](https://mews-systems.gitbook.io/connector-api/operations/#voucher).
          format: uuid
        RateId:
          type: string
          description: Unique identifier of [Rate](https://mews-systems.gitbook.io/connector-api/operations/rates/#rate) the voucher is assigned with.
          format: uuid
      additionalProperties: false
      x-schema-id: VoucherAssignment
    VoucherExtent:
      title: Voucher Extent
      type: object
      properties:
        Vouchers:
          type: boolean
          description: Whether the response should contain main information about vouchers.
          nullable: true
        VoucherCodes:
          type: boolean
          description: Whether the response should contain voucher codes used by customers.
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `voucherCodes/getAll`
        VoucherAssignments:
          type: boolean
          description: Whether the response should contain assignments between vouchers and Rates.
          nullable: true
        Companies:
          type: boolean
          description: Whether the response should contain detail of related companies.
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `companies/getAll`
        Rates:
          type: boolean
          description: Whether the response should contain detail of assigned rates.
          nullable: true
      additionalProperties: false
      description: Extent of data to be returned. Whether only specific voucher info should be returned or related items as well.
      x-schema-id: VoucherExtent
    VoucherTypeUpdateValue:
      title: Voucher Type update value
      type: object
      properties:
        Value:
          title: Voucher Type
          allOf:
          - $ref: '#/components/schemas/VoucherTypeEnum'
          description: Value which is to be updated.
          x-enumNames:
          - Public
          - PartnerCompany
          - TravelAgency
          x-enumDescriptions:
          - ''
          - ''
          - ''
      additionalProperties: false
      x-schema-id: VoucherTypeUpdateValue
    MultipleVoucherDeleteParameters:
      title: MultipleVoucherDeleteParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - VoucherIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          nullable: true
        VoucherIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the vouchers to be deleted.
      additionalProperties: false
      x-schema-id: MultipleVoucherDeleteParameters
    VoucherTypeEnum:
      title: Voucher Type
      enum:
      - Public
      - PartnerCompany
      - TravelAgency
      type: string
      description: '


        Public


        PartnerCompany


        TravelAgency'
      x-enumNames:
      - Public
      - PartnerCompany
      - TravelAgency
      x-enumDescriptions:
      - ''
      - ''
      - ''
    OldAddress:
      title: Address
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the address.
          format: uuid
        Line1:
          type: string
          description: First line of the address.
          nullable: true
        Line2:
          type: string
          description: Second line of the address.
          nullable: true
        City:
          type: string
          description: The city.
          nullable: true
        PostalCode:
          type: string
          description: Postal code.
          nullable: true
        CountryCode:
          type: string
          description: ISO 3166-1 code of the `Country`.
          nullable: true
        CountrySubdivisionCode:
          type: string
          description: ISO 3166-2 code of the administrative division, e.g. `DE-BW`.
          nullable: true
        Latitude:
          type: number
          description: The latitude.
          format: double
          nullable: true
        Longitude:
          type: number
          description: The longitude.
          format: double
          nullable: true
      additionalProperties: false
      description: ''
      x-schema-id: OldAddress
    Unit:
      type: object
      additionalProperties: false
    VoucherResult:
      title: VoucherResult
      type: object
      properties:
        Vouchers:
          type: array
          items:
            $ref: '#/components/schemas/Voucher'
          description: Details about vouchers added to the system.
          nullable: true
        VoucherCodes:
          type: array
          items:
            $ref: '#/components/schemas/VoucherCode'
          description: Information about voucher codes used by customers.
          nullable: true
        VoucherAssignments:
          type: array
          items:
            $ref: '#/components/schemas/VoucherAssignment'
          description: The assignments between vouchers and [Rates](https://mews-systems.gitbook.io/connector-api/operations/rates/#rate).
          nullable: true
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/RateForExtent'
          description: The assigned rates.
          nullable: true
        Companies:
          type: array
          items:
            $ref: '#/components/schemas/Company'
          description: The related companies and travel agencies.
          nullable: true
        Cursor:
          type: string
          description: Unique identifier of the item one newer in time order than the items to be returned. If Cursor is not specified, i.e. null, then the latest or most recent items will be returned.
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: VoucherResult
    VoucherAddParameters:
      title: Voucher Parameters
      required:
      - Name
      - ServiceId
      - Type
      type: object
      properties:
        ServiceId:
          type: string
          description: Unique identifier of Service.
          format: uuid
        Name:
          maxLength: 128
          minLength: 1
          type: string
          description: Internal name of the voucher.
        Type:
          title: Voucher Type
          allOf:
          - $ref: '#/components/schemas/VoucherTypeEnum'
          description: 'Type of the voucher.


            Public


            PartnerCompany


            TravelAgency'
          x-enumNames:
          - Public
          - PartnerCompany
          - TravelAgency
          x-enumDescriptions:
          - ''
          - ''
          - ''
        CompanyId:
          type: string
          description: Unique identifier of Company.
          format: uuid
          nullable: true
        AssignedRateIds:
          maxItems: 10
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of Rates.
          nullable: true
        OccupiableIntervalStartUtc:
          type: string
          description: Start of the interval in which the voucher can be applied.
          format: date-time
          nullable: true
        OccupiableIntervalEndUtc:
          type: string
          description: End of the interval in which the voucher can be applied.
          format: date-time
          nullable: true
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of the voucher from external system.
          nullable: true
      additionalProperties: false
      x-schema-id: VoucherAddParameters
    ActivityStateEnum:
      title: Activity state
      enum:
      - Deleted
      - Active
      type: string
      description: '


        Deleted


        Active'
      x-enumNames:
      - Deleted
      - Active
      x-enumDescriptions:
      - ''
      - ''
    VoucherCode:
      title: Voucher code
      required:
      - ActivityState
      - Id
      - IsActive
      - VoucherId
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the voucher code.
          format: uuid
        VoucherId:
          type: string
          description: Unique identifier of `Voucher` the code belongs to.
          format: uuid
        Value:
          type: string
          description: Value of voucher code used by customers.
          nullable: true
        ValidityStartUtc:
          type: string
          description: If specified, marks the beginning of interval in which the code can be used.
          nullable: true
        ValidityEndUtc:
          type: string
          description: If specified, marks the end of interval in which the code can be used.
          nullable: true
        CreatedUtc:
          type: string
          description: Creation date and time of the voucher in UTC timezone in ISO 8601 format.
          nullable: true
        UpdatedUtc:
          type: string
          description: Last update date and time of the voucher in UTC timezone in ISO 8601 format.
          nullable: true
        ActivityState:
          title: Activity state
          allOf:
          - $ref: '#/components/schemas/ActivityStateEnum'
          description: 'Whether voucher code is active or deleted.


            Deleted


            Active'
          deprecated: true
          x-enumNames:
          - Deleted
          - Active
          x-enumDescriptions:
          - ''
          - ''
          x-deprecatedMessage: Use `IsActive` instead.
        IsActive:
          type: boolean
          description: Whether the voucher code is still active.
      additionalProperties: false
      x-schema-id: VoucherCode
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
        Cursor:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    VoucherFilterParameters:
      title: VoucherFilterParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Extent
      - Limitation
      - ServiceIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
          nullable: true
        Extent:
          title: Voucher Extent
          allOf:
          - $ref: '#/components/schemas/VoucherExtent'
          description: Extent of data to be returned. Whether only specific voucher info should be returned or related items as well.
        ServiceIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of [Services](https://mews-systems.gitbook.io/connector-api/operations/services/#service) where the vouchers belong to.
        VoucherIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of vouchers.
          nullable: true
        CompanyIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the companies.
          nullable: true
        VoucherCodeValues:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
          description: Value of voucher codes used by customers.
          nullable: true
        ActivityStates:
          type: array
          items:
            $ref: '#/components/schemas/ActivityStates'
          description: Whether to return only active, only deleted, or both types of record. If not specified, both active and deleted records will be returned.
          nullable: true
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the vouchers were updated.
          nullable: true
          x-max-interval-in-months: 3
        ExternalIdentifiers:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
          description: Identifiers of [Voucher](https://mews-systems.gitbook.io/connector-api/operations/#voucher) from external systems.
          nullable: true
      additionalProperties: false
      x-schema-id: VoucherFilterParameters
    RateTypeEnum:
      title: Rate type
      enum:
      - Public
      - Private
      - AvailabilityBlock
      type: string
      description: '


        Public


        Private


        AvailabilityBlock'
      x-enumNames:
      - Public
      - Private
      - AvailabilityBlock
      x-enumDescriptions:
      - ''
      - ''
      - ''
    CompanyOptions:
      title: Company Options
      type: object
      properties:
        Invoiceable:
          type: boolean
          description: Whether the company is invoiceable or not.
        AddFeesToInvoices:
          type: boolean
          description: Whether the company has an additional fee applied for invoicing or not.
        AddTaxDeductedPaymentToInvoices:
          type: boolean
          description: Whether tax-deducted payments should be automatically added to invoices.
      additionalProperties: false
      description: Options of the company.
      x-schema-id: CompanyOptions
    ActivityStates:
      title: Activity state
      enum:
      - Deleted
      - Active
      type: string
      description: Activity states used for filtering.
    CreditRatingBasicEnum:
      title: Credit rating basic
      enum:
      - CreditOk
      - PaymentRequiredUpfront
      - LocalDecisionRequired
      type: string
      description: '


        CreditOk (Company can book services.)


        PaymentRequiredUpfront (Company must pay upfront.)


        LocalDecisionRequired (Requires local approval.)'
      x-enumNames:
      - CreditOk
      - PaymentRequiredUpfront
      - LocalDecisionRequired
      x-enumDescriptions:
      - Company can book services.
      - Company must pay upfront.
      - Requires local approval.
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type: string
          format: date-time
          nullable: true
        EndUtc:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\r\n\r\n- **Start equals End (equality mode)**  \r\n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\r\n  \r\n  ```\r\n  CreatedUtc == StartUtc\r\n  ```\r\n  \r\n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\r\n\r\n- **Start differs from End (interval mode)**  \r\n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\r\n  \r\n  ```\r\n  StartUtc <= CreatedUtc < EndUtc\r\n  ```\r\n  \r\n  In other words, the start is inclusive and the end is exclusive.\r\n\r\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    Company:
      title: Company
      required:
      - ChainId
      - CreditRating
      - Id
      - IsActive
      - Name
      - Number
      - Options
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the company.
          format: uuid
        ChainId:
          type: string
          description: Unique identifier of the chain.
          format: uuid
        Name:
          minLength: 1
          type: string
          description: Name of the company.
        MotherCompanyId:
          type: string
          description: Unique identifier of mother company.
          format: uuid
          nullable: true
        InvoicingEmail:
          type: string
          description: Email for issuing invoices to the company.
          format: email
          nullable: true
        WebsiteUrl:
          type: string
          description: The website url of the company.
          format: uri
          nullable: true
        InvoiceDueInterval:
          type: string
          description: The maximum time, when the invoice has to be be paid in ISO 8601 duration format.
          nullable: true
        Options:
          title: Company Options
          allOf:
          - $ref: '#/components/schemas/CompanyOptions'
          description: Options of the company.
        CreditRating:
          title: Credit Rating
          allOf:
          - $ref: '#/components/schemas/CreditRating'
          description: Credit rating to define creditworthiness of the company.
        Department:
          type: string
          description: The internal segmentation of a company, e.g. sales department.
          nullable: true
        DunsNumber:
          type: string
          description: The Dun & Bradstreet unique 9-digit DUNS number.
          nullable: true
        ReferenceIdentifier:
          type: string
          description: External system identifier - custom identifier used by an external system such as an external database.
          nullable: true
        AccountingCode:
          type: string
          description: Accounting code of the company.
          nullable: true
        AdditionalTaxIdentifier:
          type: string
          description: Additional tax identifier of the company.
          nullable: true
        BillingCode:
          type: string
          description: Billing code of the company.
          nullable: true
        Contact:
          type: string
          description: Other contact details, such as telephone, email or similar.
          nullable: true
        ContactPerson:
          type: string
          description: Contact person of the company.
          nullable: true
        ElectronicInvoiceIdentifier:
          type: string
          description: Electronic invoice identifier of the company.
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `AdditionalTaxIdentifier` instead.
        Identifier:
          type: string
          description: Fiscal or legal identifier of the company.
          nullable: true
        Iata:
          type: string
          description: Iata of the company.
          nullable: true
        IsActive:
          type: boolean
          description: Whether the company is still active.
        Notes:
          type: string
          description: Additional notes.
          nullable: true
        Number:
          type: integer
          description: Unique number of the company (max 19 digits).
          format: int64
        TaxIdentifier:
          type: string
          description: Tax identification number of the company.
          nullable: true
        Telephone:
          type: string
          description: Contact telephone number.
          format: tel
          nullable: true
        CreatedUtc:
          type: string
          description: Date of [Company](https://mews-systems.gitbook.io/connector-api/operations/#company) creation date and time.
          format: date-time
          nullable: true
        UpdatedUtc:
          type: string
          description: Date of [Company](https://mews-systems.gitbook.io/connector-api/operations/#company) last update date and time.
          format: date-time
          nullable: true
        Address:
          title: Address
          allOf:
          - $ref: '#/components/schemas/OldAddress'
          description: ''
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use AddressId instead.
        AddressId:
          type: string
          description: Unique identifier of the company [Address](https://mews-systems.gitbook.io/connector-api/operations/addresses/#account-address).
          format: uuid
          nullable: true
        MergeTargetId:
          type: string
          description: Unique identifier of the account (Customer) to which this company is linked.
          format: uuid
          nullable: true
        TaxIdentificationNumber:
          type: string
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use TaxIdentifier instead.
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of company from external system.
          nullable: true
      additionalProperties: false
      x-schema-id: Company
    CreditRating:
      title: Credit Rating
      type: object
      properties:
        Basic:
          allOf:
          - $ref: '#/components/schemas/CreditRatingBasicEnum'
          description: 'Indicates the credit status of a company.


            CreditOk (Company can book services.)


            PaymentRequiredUpfront (Company must pay upfront.)


            LocalDecisionRequired (Requires local approval.)'
          nullable: true
      additionalProperties: false
      description: Credit rating to define creditworthiness of the company.
      x-schema-id: CreditRating
    VoucherUpdateParameters:
      title: Vouchers update parameters
      required:
      - VoucherId
      type: object
      properties:
        VoucherId:
          type: string
          description: Unique identifier of the Voucher.
          format: uuid
        Name:
          title: String update value
          maxLength: 128
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Internal name of the voucher (or `null` if the name should not be updated).
          nullable: true
        Type:
          title: Voucher Type update value
          allOf:
          - $ref: '#/components/schemas/VoucherTypeUpdateValue'
          description: Type of the voucher e.g. 'Public', 'PartnerCompany' or 'TravelAgency' (or `null` if the type should not be updated).
          nullable: true
        CompanyId:
          title: Guid update value
          allOf:
          - $ref: '#/components/schemas/GuidNullableUpdateValue'
          description: Unique identifier of Company (Company or Travel Agency) the voucher is related to. This is required for Type of `PartnerCompany` or `TravelAgency`. Use `null` if Company should not be updated.
          nullable: true
        AssignedRateIds:
          title: Assigned rate IDs
          allOf:
          - $ref: '#/components/schemas/AssignedRateIds'
          description: Unique identifiers of Rates (or `null` should it not be updated).
          nullable: true
        OccupiableIntervalStartUtc:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Start of the interval in which the voucher can be applied (or `null` if the start time should not be updated).
          format: date-time
          nullable: true
        OccupiableIntervalEndUtc:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: End of the interval in which the voucher can be applied (or `null` if the end time should not be updated).
          format: date-time
          nullable: true
        ExternalIdentifier:
          title: String update value
          maxLength: 255
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Identifier of the voucher from external system (or `null` if the identifier should not be updated).
          nullable: true
      additionalProperties: false
      x-schema-id: VoucherUpdateParameters
    GuidNullableUpdateValue:
      title: Guid update value
      type: object
      properties:
        Value:
          type: string
          description: Value which is to be updated.
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: GuidNullableUpdateValue
    Voucher:
      title: Voucher
      required:
      - ActivityState
      - CreatedUtc
      - EnterpriseId
      - Id
      - IsActive
      - Name
      - ServiceId
      - Type
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of voucher.
          format: uuid
        ServiceId:
          type: string
          description: Unique identifier of [Service](https://mews-systems.gitbook.io/connector-api/operations/services/#service) the voucher belongs to.
          format: uuid
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise to which the voucher belongs.
          format: uuid
        Name:
          maxLength: 128
          minLength: 1
          type: string
          description: Internal name of the voucher.
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the voucher in UTC timezone in ISO 8601 format.
          format: date-time
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the voucher in UTC timezone in ISO 8601 format.
          format: date-time
        Type:
          title: Voucher Type
          allOf:
          - $ref: '#/components/schemas/VoucherTypeEnum'
          description: 'Type of the voucher.


            Public


            PartnerCompany


            TravelAgency'
          x-enumNames:
          - Public
          - PartnerCompany
          - TravelAgency
          x-enumDescriptions:
          - ''
          - ''
          - ''
        ActivityState:
          title: Activity state
          allOf:
          - $ref: '#/components/schemas/ActivityStateEnum'
          description: 'Whether voucher is active or deleted.


            Deleted


            Active'
          deprecated: true
          x-enumNames:
          - Deleted
          - Active
          x-enumDescriptions:
          - ''
          - ''
          x-deprecatedMessage: Use `IsActive` instead.
        CompanyId:
          type: string
          description: Unique identifier of [Company](https://mews-systems.gitbook.io/connector-api/operations/companies/#company) the voucher is related to.
          format: uuid
          nullable: true
        TravelAgencyId:
          type: string
          description: Unique identifier of [Company](https://mews-systems.gitbook.io/connector-api/operations/companies/#company) with [Travel agency contract](https://mews-systems.gitbook.io/connector-api/operations/companycontracts/#travel-agency-contract) the voucher is related to.
          format: uuid
          nullable: true
        OccupiableIntervalStartUtc:
          type: string
          description: Start of the time interval, expressed as the timestamp for the start of the first time unit, in UTC timezone ISO 8601 format.
          format: date-time
          nullable: true
        OccupiableIntervalEndUtc:
          type: string
          description: End of the time interval, expressed as the timestamp for the start of the last time unit, in UTC timezone ISO 8601 format.
          format: date-time
          nullable: true
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of the voucher from external system.
          nullable: true
        IsActive:
          type: boolean
          description: Whether the voucher is still active.
      additionalProperties: false
      x-schema-id: Voucher
    VoucherWriteResult:
      title: VoucherWriteResult
      type: object
      properties:
        Vouchers:
          type: array
          items:
            $ref: '#/components/schemas/Voucher'
          description: Details about vouchers added to the system.
          nullable: true
      additionalProperties: false
      x-schema-id: VoucherWriteResult
