openapi: 3.2.0
info:
  title: Booking Engine API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: BookingEngineApi
paths:
  /api/bookingEngine/v1/services/getAvailability:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAvailabilityResult'
      summary: Create api booking engine services get availability
      x-summary-source: derived
      operationId: postApiBookingEngineV1ServicesGetAvailability
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAvailabilityResult'
      summary: Describe api booking engine services get availability
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ServicesGetAvailability
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAvailabilityResult'
      summary: Get api booking engine services get availability
      x-summary-source: derived
      operationId: getApiBookingEngineV1ServicesGetAvailability
      x-operation-id-source: derived
  /api/bookingEngine/v1/reservations/getPricing:
    post:
      tags:
      - BookingEngineApi
      description: https://mews.myjetbrains.com/youtrack/issue/RND-102251
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPricing'
      deprecated: true
      x-deprecatedMessage: https://mews.myjetbrains.com/youtrack/issue/RND-102251
      summary: Create api booking engine reservations get pricing
      x-summary-source: derived
      operationId: postApiBookingEngineV1ReservationsGetPricing
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      description: https://mews.myjetbrains.com/youtrack/issue/RND-102251
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPricing'
      deprecated: true
      x-deprecatedMessage: https://mews.myjetbrains.com/youtrack/issue/RND-102251
      summary: Describe api booking engine reservations get pricing
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ReservationsGetPricing
      x-operation-id-source: derived
  /api/bookingEngine/v1/availabilityBlocks/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult'
      summary: Create api booking engine availability blocks get all
      x-summary-source: derived
      operationId: postApiBookingEngineV1AvailabilityBlocksGetAll
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult'
      summary: Describe api booking engine availability blocks get all
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1AvailabilityBlocksGetAll
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult'
      summary: Get api booking engine availability blocks get all
      x-summary-source: derived
      operationId: getApiBookingEngineV1AvailabilityBlocksGetAll
      x-operation-id-source: derived
  /api/bookingEngine/v1/configurations/get:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResult'
      summary: Create api booking engine configurations get
      x-summary-source: derived
      operationId: postApiBookingEngineV1ConfigurationsGet
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResult'
      summary: Describe api booking engine configurations get
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ConfigurationsGet
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResult'
      summary: Get api booking engine configurations get
      x-summary-source: derived
      operationId: getApiBookingEngineV1ConfigurationsGet
      x-operation-id-source: derived
  /api/bookingEngine/v1/enterprises/getPaymentConfiguration:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfiguration'
      summary: Create api booking engine enterprises get payment configuration
      x-summary-source: derived
      operationId: postApiBookingEngineV1EnterprisesGetPaymentConfiguration
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfiguration'
      summary: Describe api booking engine enterprises get payment configuration
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1EnterprisesGetPaymentConfiguration
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfiguration'
      summary: Get api booking engine enterprises get payment configuration
      x-summary-source: derived
      operationId: getApiBookingEngineV1EnterprisesGetPaymentConfiguration
      x-operation-id-source: derived
  /api/bookingEngine/v1/paymentCurrency/get:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResult'
      summary: Create api booking engine payment currency get
      x-summary-source: derived
      operationId: postApiBookingEngineV1PaymentCurrencyGet
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResult'
      summary: Describe api booking engine payment currency get
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1PaymentCurrencyGet
      x-operation-id-source: derived
  /api/bookingEngine/v1/exchangeRates/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResult'
      summary: Create api booking engine exchange rates get all
      x-summary-source: derived
      operationId: postApiBookingEngineV1ExchangeRatesGetAll
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResult'
      summary: Describe api booking engine exchange rates get all
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ExchangeRatesGetAll
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResult'
      summary: Get api booking engine exchange rates get all
      x-summary-source: derived
      operationId: getApiBookingEngineV1ExchangeRatesGetAll
      x-operation-id-source: derived
  /api/bookingEngine/v1/paymentCards/authorize:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentCardParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizePaymentCardResult'
      summary: Create api booking engine payment cards authorize
      x-summary-source: derived
      operationId: postApiBookingEngineV1PaymentCardsAuthorize
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentCardParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizePaymentCardResult'
      summary: Describe api booking engine payment cards authorize
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1PaymentCardsAuthorize
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentCardParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizePaymentCardResult'
      summary: Get api booking engine payment cards authorize
      x-summary-source: derived
      operationId: getApiBookingEngineV1PaymentCardsAuthorize
      x-operation-id-source: derived
  /api/bookingEngine/v1/paymentCards/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCardResult'
      summary: Create api booking engine payment cards get all
      x-summary-source: derived
      operationId: postApiBookingEngineV1PaymentCardsGetAll
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCardResult'
      summary: Describe api booking engine payment cards get all
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1PaymentCardsGetAll
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCardResult'
      summary: Get api booking engine payment cards get all
      x-summary-source: derived
      operationId: getApiBookingEngineV1PaymentCardsGetAll
      x-operation-id-source: derived
  /api/bookingEngine/v1/reservationGroups/create:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
      summary: Create api booking engine reservation groups create
      x-summary-source: derived
      operationId: postApiBookingEngineV1ReservationGroupsCreate
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
      summary: Describe api booking engine reservation groups create
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ReservationGroupsCreate
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
      summary: Get api booking engine reservation groups create
      x-summary-source: derived
      operationId: getApiBookingEngineV1ReservationGroupsCreate
      x-operation-id-source: derived
  /api/bookingEngine/v1/reservationGroups/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
      summary: Create api booking engine reservation groups get all
      x-summary-source: derived
      operationId: postApiBookingEngineV1ReservationGroupsGetAll
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
      summary: Describe api booking engine reservation groups get all
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ReservationGroupsGetAll
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
      summary: Get api booking engine reservation groups get all
      x-summary-source: derived
      operationId: getApiBookingEngineV1ReservationGroupsGetAll
      x-operation-id-source: derived
  /api/bookingEngine/v1/reservationGroups/get:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
      summary: Create api booking engine reservation groups get
      x-summary-source: derived
      operationId: postApiBookingEngineV1ReservationGroupsGet
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
      summary: Describe api booking engine reservation groups get
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ReservationGroupsGet
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
      summary: Get api booking engine reservation groups get
      x-summary-source: derived
      operationId: getApiBookingEngineV1ReservationGroupsGet
      x-operation-id-source: derived
  /api/bookingEngine/v1/reservations/getPrices:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
      summary: Create api booking engine reservations get prices
      x-summary-source: derived
      operationId: postApiBookingEngineV1ReservationsGetPrices
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
      summary: Describe api booking engine reservations get prices
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ReservationsGetPrices
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
      summary: Get api booking engine reservations get prices
      x-summary-source: derived
      operationId: getApiBookingEngineV1ReservationsGetPrices
      x-operation-id-source: derived
  /api/bookingEngine/v1/reservations/price:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
      summary: Create api booking engine reservations price
      x-summary-source: derived
      operationId: postApiBookingEngineV1ReservationsPrice
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
      summary: Describe api booking engine reservations price
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ReservationsPrice
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
      summary: Get api booking engine reservations price
      x-summary-source: derived
      operationId: getApiBookingEngineV1ReservationsPrice
      x-operation-id-source: derived
  /api/bookingEngine/v1/products/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAllProductsParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsResult'
      summary: Create api booking engine products get all
      x-summary-source: derived
      operationId: postApiBookingEngineV1ProductsGetAll
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAllProductsParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsResult'
      summary: Describe api booking engine products get all
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ProductsGetAll
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAllProductsParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsResult'
      summary: Get api booking engine products get all
      x-summary-source: derived
      operationId: getApiBookingEngineV1ProductsGetAll
      x-operation-id-source: derived
  /api/bookingEngine/v1/products/getPrices:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricesResult'
      summary: Create api booking engine products get prices
      x-summary-source: derived
      operationId: postApiBookingEngineV1ProductsGetPrices
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricesResult'
      summary: Describe api booking engine products get prices
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ProductsGetPrices
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricesResult'
      summary: Get api booking engine products get prices
      x-summary-source: derived
      operationId: getApiBookingEngineV1ProductsGetPrices
      x-operation-id-source: derived
  /api/bookingEngine/v1/services/getPricing:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePricingResult'
      summary: Create api booking engine services get pricing
      x-summary-source: derived
      operationId: postApiBookingEngineV1ServicesGetPricing
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePricingResult'
      summary: Describe api booking engine services get pricing
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1ServicesGetPricing
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePricingResult'
      summary: Get api booking engine services get pricing
      x-summary-source: derived
      operationId: getApiBookingEngineV1ServicesGetPricing
      x-operation-id-source: derived
  /api/bookingEngine/v1/restrictions/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestrictionParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionResult'
      summary: Create api booking engine restrictions get all
      x-summary-source: derived
      operationId: postApiBookingEngineV1RestrictionsGetAll
      x-operation-id-source: derived
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestrictionParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionResult'
      summary: Describe api booking engine restrictions get all
      x-summary-source: derived
      operationId: optionsApiBookingEngineV1RestrictionsGetAll
      x-operation-id-source: derived
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestrictionParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionResult'
      summary: Get api booking engine restrictions get all
      x-summary-source: derived
      operationId: getApiBookingEngineV1RestrictionsGetAll
      x-operation-id-source: derived
  /api/bookingEngine/v1/services/getPromotions:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePromotionParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedServiceResult'
      summary: Create api booking engine services get promotions
      x-summary-source: derived
      operationId: postApiBookingEngineV1ServicesGetPromotions
      x-operation-id-source: derived
  /api/bookingEngine/v1/services/getCalendarData:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarDataParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarDataResult'
      summary: Create api booking engine services get calendar data
      x-summary-source: derived
      operationId: postApiBookingEngineV1ServicesGetCalendarData
      x-operation-id-source: derived
  /api/bookingEngine/v1/resourceCategories/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceCategoryParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCategoryResult'
      summary: Create api booking engine resource categories get all
      x-summary-source: derived
      operationId: postApiBookingEngineV1ResourceCategoriesGetAll
      x-operation-id-source: derived
components:
  schemas:
    RateGroup:
      title: RateGroup
      required:
      - Id
      - Ordering
      - SettlementCurrencyCode
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Ordering:
          type: integer
          format: int32
        SettlementMaximumNights:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        SettlementMaximumTimeUnits:
          type:
          - integer
          - 'null'
          format: int32
        SettlementCurrencyCode:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: RateGroup
    ResourceCategoryExtent:
      title: ResourceCategoryExtent
      required:
      - ImageAssignments
      type: object
      properties:
        ImageAssignments:
          type: boolean
      additionalProperties: false
      x-schema-id: ResourceCategoryExtent
    ProductClassificationValues:
      title: ProductClassificationValues
      type: object
      properties:
        Food:
          type: boolean
        Beverage:
          type: boolean
        Wellness:
          type: boolean
        CityTax:
          type: boolean
        Fee:
          type: boolean
      additionalProperties: false
      x-schema-id: ProductClassificationValues
    SurchargeConfiguration:
      title: SurchargeConfiguration
      required:
      - SurchargeFees
      type: object
      properties:
        SurchargeFees:
          type: object
          additionalProperties:
            type: number
            format: double
        SurchargeServiceId:
          type:
          - string
          - 'null'
          format: uuid
      additionalProperties: false
      x-schema-id: SurchargeConfiguration
    Payment:
      title: Payment
      required:
      - Amount
      - CreatedUtc
      - EnterpriseId
      - Id
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
        EnterpriseId:
          type: string
          format: uuid
        CreatedUtc:
          minLength: 1
          type: string
        State:
          minLength: 1
          type: string
        Amount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        ChargeAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        PaymentRequestId:
          type:
          - string
          - 'null'
          format: uuid
        StateShouldImmediatelyChange:
          type: boolean
      additionalProperties: false
      x-schema-id: Payment
    AgeCategoryClassification:
      enum:
      - Adult
      - Child
      type: string
    ReservationSettlement:
      title: ReservationSettlement
      required:
      - Action
      - Amount
      - IsTriggeredOnConfirmation
      - Trigger
      - TriggerOffset
      - Type
      type: object
      properties:
        Amount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        Action:
          minLength: 1
          type: string
        Type:
          minLength: 1
          type: string
        Trigger:
          minLength: 1
          type: string
        TriggerOffset:
          minLength: 1
          type: string
        IsTriggeredOnConfirmation:
          type: boolean
      additionalProperties: false
      x-schema-id: ReservationSettlement
    ResourceCategoryResult:
      title: ResourceCategoryResult
      required:
      - ResourceCategories
      type: object
      properties:
        ResourceCategories:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategory'
        ImageAssignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ResourceCategoryImageAssignment'
      additionalProperties: false
      x-schema-id: ResourceCategoryResult
    Coproduct:
      title: Coproduct
      required:
      - Discriminator
      - Value
      type: object
      properties:
        Discriminator:
          minLength: 1
          type: string
        Value: {}
      additionalProperties: false
      x-schema-id: Coproduct
    Chain:
      title: Chain
      required:
      - Id
      - Name
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          minLength: 1
          type: string
        Email:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: Chain
    CreditCardData:
      title: CreditCardData
      type: object
      properties:
        PaymentGatewayData:
          type:
          - string
          - 'null'
        ObfuscatedCreditCardNumber:
          type:
          - string
          - 'null'
        Expiration:
          type:
          - string
          - 'null'
        HolderName:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: CreditCardData
    ProductPrice:
      title: ProductPrice
      required:
      - AgeCategoryPrices
      - ProductId
      - TotalAmount
      - UnitAmount
      - UnitAmountPerFullTimeUnit
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
        TotalAmount: {}
        UnitAmount: {}
        UnitAmountPerFullTimeUnit: {}
        AgeCategoryPrices:
          type: array
          items:
            $ref: '#/components/schemas/AgeCategoryProductPrice'
      additionalProperties: false
      x-schema-id: ProductPrice
    ProductOrderPricingInfo:
      title: ProductOrderPricingInfo
      required:
      - Classifications
      - ProductId
      - TotalAmount
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
        AgeCategoryId:
          type:
          - string
          - 'null'
          format: uuid
        ProductName:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          deprecated: true
        ProductOptions:
          allOf:
          - $ref: '#/components/schemas/ProductOptions'
          deprecated: true
        ChargingMode:
          type:
          - string
          - 'null'
          deprecated: true
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        Classifications:
          allOf:
          - $ref: '#/components/schemas/ProductClassificationValues'
      additionalProperties: false
      x-schema-id: ProductOrderPricingInfo
    Amount:
      title: Amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
        GrossValue:
          type: number
          format: double
        NetValue:
          type: number
          format: double
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
        Breakdown:
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
      additionalProperties: false
      x-schema-id: Amount
    ReservationPricingInfo:
      title: ReservationPricingInfo
      required:
      - AdditionalExpensePrices
      - ProductOrderPrices
      - TotalAmount
      type: object
      properties:
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        AmountToChargeOnConfirmation:
          allOf:
          - $ref: '#/components/schemas/Amount'
        ProductOrderPrices:
          type: array
          items:
            $ref: '#/components/schemas/ProductOrderPricingInfo'
        AdditionalExpensePrices:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalExpensePricingInfo'
        Identifier:
          type:
          - string
          - 'null'
        ParentReservationIdentifier:
          type:
          - string
          - 'null'
        Settlements:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReservationSettlement'
      additionalProperties: false
      x-schema-id: ReservationPricingInfo
    Reservation:
      title: Reservation
      required:
      - Amount
      - ChargeAmount
      - Cost
      - EndUtc
      - Id
      - Notes
      - Number
      - OccupancyData
      - ProductIds
      - RateId
      - RoomCategoryId
      - ServiceTimeUnitPeriod
      - ServiceTotalAmounts
      - StartUtc
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Number:
          minLength: 1
          type: string
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        RoomCategoryId:
          type: string
          format: uuid
        RateId:
          type: string
          format: uuid
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        Notes:
          minLength: 1
          type: string
        Cost: {}
        Amount: {}
        ChargeAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        ServiceTotalAmounts: {}
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        Rate:
          allOf:
          - $ref: '#/components/schemas/Rate'
          deprecated: true
        ServiceTimeUnitPeriod:
          $ref: '#/components/schemas/TimeUnitPeriod'
        AdultCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        ChildCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
      additionalProperties: false
      x-schema-id: Reservation
    Service:
      title: Service
      required:
      - CreatedUtc
      - Data
      - EnterpriseId
      - Id
      - IsActive
      - Names
      - Ordering
      - ShortNames
      type: object
      properties:
        Id:
          type: string
          format: uuid
        EnterpriseId:
          type: string
          format: uuid
        Ordering:
          type: integer
          format: int32
        CreatedUtc:
          minLength: 1
          type: string
        Names:
          type: object
          additionalProperties:
            type: string
        ShortNames:
          type: object
          additionalProperties:
            type: string
        IsActive:
          type: boolean
        Data:
          allOf:
          - $ref: '#/components/schemas/Coproduct'
      additionalProperties: false
      x-schema-id: Service
    LegalEntityIdentifierConfiguration:
      title: LegalEntityIdentifierConfiguration
      type: object
      properties:
        LegalEntityIdentifier:
          allOf:
          - $ref: '#/components/schemas/LegalEntityIdentifier'
        IsRequired:
          type: boolean
      additionalProperties: false
      x-schema-id: LegalEntityIdentifierConfiguration
    Restriction:
      title: Restriction
      required:
      - Conditions
      - Exceptions
      - Id
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        Conditions:
          allOf:
          - $ref: '#/components/schemas/RestrictionConditions'
        Exceptions:
          allOf:
          - $ref: '#/components/schemas/RestrictionExceptions'
        ExternalIdentifier:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: Restriction
    PromotedServiceResult:
      title: PromotedServiceResult
      type: object
      properties:
        PromotedServices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PromotedService'
        ResourceCategories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ResourceCategory'
        Rates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Rate'
      additionalProperties: false
      x-schema-id: PromotedServiceResult
    Rate:
      title: Rate
      required:
      - CurrencyCode
      - Description
      - Id
      - IsDefault
      - IsPrivate
      - Name
      - Ordering
      - RateGroupId
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        RateGroupId:
          type: string
          format: uuid
        BaseRateId:
          type:
          - string
          - 'null'
          format: uuid
        Ordering:
          type: integer
          format: int32
        Name:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        Description:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        IsPrivate:
          type: boolean
        IsDefault:
          type: boolean
        CurrencyCode:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: Rate
    TaxBreakdownItem:
      title: TaxBreakdownItem
      required:
      - NetValue
      - TaxRateCode
      - TaxValue
      type: object
      properties:
        TaxRateCode:
          minLength: 1
          type: string
        NetValue:
          type: number
          format: double
        TaxValue:
          type: number
          format: double
      additionalProperties: false
      x-schema-id: TaxBreakdownItem
    RestrictionResult:
      title: RestrictionResult
      required:
      - Restrictions
      type: object
      properties:
        Restrictions:
          type: array
          items:
            $ref: '#/components/schemas/Restriction'
      additionalProperties: false
      x-schema-id: RestrictionResult
    TaxValue:
      title: TaxValue
      required:
      - TaxRateCode
      - Value
      type: object
      properties:
        TaxRateCode:
          minLength: 1
          type: string
        Value:
          type: number
          format: double
      additionalProperties: false
      x-schema-id: TaxValue
    PaymentCardFilterParameters:
      title: PaymentCardFilterParameters
      required:
      - Client
      - PaymentCardIds
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        PaymentCardIds:
          type: array
          items:
            type: string
            format: uuid
      additionalProperties: false
      x-schema-id: PaymentCardFilterParameters
    ServiceAvailabilityParameters:
      title: ServiceAvailabilityParameters
      required:
      - Client
      - EndUtc
      - EnterpriseId
      - ServiceId
      - Session
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        CategoryIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        BookingEngineId:
          type:
          - string
          - 'null'
          format: uuid
      additionalProperties: false
      x-schema-id: ServiceAvailabilityParameters
    ResourceCategory:
      title: ResourceCategory
      required:
      - Description
      - ExtraBedCount
      - Id
      - Name
      - NormalBedCount
      - Ordering
      - ServiceId
      - SpaceType
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        Ordering:
          type: integer
          format: int32
        NormalBedCount:
          type: integer
          format: int32
        ExtraBedCount:
          type: integer
          format: int32
        SpaceType:
          $ref: '#/components/schemas/ResourceCategoryType'
      additionalProperties: false
      x-schema-id: ResourceCategory
    PaymentRequest:
      title: PaymentRequest
      required:
      - Id
      - ReservationGroupId
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ReservationGroupId:
          type: string
          format: uuid
        State:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: PaymentRequest
    City:
      title: City
      required:
      - Id
      - Name
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        ImageId:
          type:
          - string
          - 'null'
          format: uuid
      additionalProperties: false
      x-schema-id: City
    PaymentMethods:
      title: PaymentMethods
      required:
      - ApplePay
      - GooglePay
      - Ideal
      - PaymentCard
      type: object
      properties:
        PaymentCard:
          type: boolean
        Ideal:
          type: boolean
        ApplePay:
          type: boolean
        GooglePay:
          type: boolean
      additionalProperties: false
      x-schema-id: PaymentMethods
    CancellationPolicy:
      title: CancellationPolicy
      required:
      - CalculatedFee
      - EndUtc
      - RateId
      type: object
      properties:
        RateId:
          type: string
          format: uuid
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        CalculatedFee:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: CancellationPolicy
    PromotedService:
      title: PromotedService
      required:
      - MinPricePerTimeUnit
      - Ordering
      - PromotedRateId
      - PromotedRateName
      - PromotedResourceCategoryDescription
      - PromotedResourceCategoryId
      - PromotedResourceCategoryName
      - PromotedServiceAssignmentId
      - PromotedServiceDefaultOccupancyData
      - PromotedServiceEndOffset
      - PromotedServiceId
      - PromotedServiceOptions
      - PromotedServiceReservationIntervalLimit
      - PromotedServiceStartOffset
      - PromotedServiceTimeUnitPeriod
      - PromotedServiceUnitCountLimit
      type: object
      properties:
        PromotedServiceAssignmentId:
          type: string
          format: uuid
        PromotedServiceId:
          type: string
          format: uuid
        PromotedRateId:
          type: string
          format: uuid
        PromotedServiceTimeUnitPeriod:
          $ref: '#/components/schemas/TimeUnitPeriod'
        PromotedServiceStartOffset:
          minLength: 1
          type: string
          format: date-time
          readOnly: true
        PromotedServiceEndOffset:
          minLength: 1
          type: string
          format: date-time
          readOnly: true
        PromotedServiceUnitCountLimit:
          $ref: '#/components/schemas/PromotedServiceAssignmentUnitCountLimit'
        PromotedServiceReservationIntervalLimit:
          $ref: '#/components/schemas/PromotedServiceAssignmentReservationIntervalLimit'
        PromotedServiceDefaultOccupancyData:
          allOf:
          - $ref: '#/components/schemas/OccupancyData'
        PromotedServiceOptions:
          allOf:
          - $ref: '#/components/schemas/ServiceOptions'
        PromotedRateName:
          type: object
          additionalProperties:
            type: string
        PromotedResourceCategoryId:
          type: string
          format: uuid
        PromotedResourceCategoryName:
          type: object
          additionalProperties:
            type: string
        PromotedResourceCategoryDescription:
          type: object
          additionalProperties:
            type: string
        AvailableCount:
          type: integer
          format: int32
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        UnitAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        ImageId:
          type:
          - string
          - 'null'
          format: uuid
        Ordering:
          type: integer
          format: int32
        MinPricePerTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
          readOnly: true
      additionalProperties: false
      x-schema-id: PromotedService
    AgeCategory:
      title: AgeCategory
      required:
      - Classification
      - Id
      - IsDefault
      - Name
      - ServiceId
      - ShortName
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        ShortName:
          type: object
          additionalProperties:
            type: string
        Classification:
          $ref: '#/components/schemas/AgeCategoryClassification'
        IsDefault:
          type: boolean
        MinimalAge:
          type:
          - integer
          - 'null'
          format: int32
        MaximalAge:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
      x-schema-id: AgeCategory
    ReservationParameters:
      title: ReservationParameters
      required:
      - EndUtc
      - Identifier
      - OccupancyData
      - RateId
      - RoomCategoryId
      - StartUtc
      type: object
      properties:
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        RoomCategoryId:
          type: string
          format: uuid
        RateId:
          type: string
          format: uuid
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        ProductIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        Notes:
          type:
          - string
          - 'null'
        Identifier:
          minLength: 1
          type: string
        VoucherCode:
          type:
          - string
          - 'null'
        AdultCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        ChildCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        MaxAdultCount:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
      x-schema-id: ReservationParameters
    RatePricing:
      title: RatePricing
      required:
      - AverageAmountPerFullTimeUnit
      - AverageAmountPerTimeUnit
      - TotalAmount
      type: object
      properties:
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        AverageAmountPerTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
        AverageAmountPerFullTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: RatePricing
    ServiceOptions:
      title: ServiceOptions
      required:
      - ProRataCharging
      type: object
      properties:
        ProRataCharging:
          type: boolean
      additionalProperties: false
      x-schema-id: ServiceOptions
    BookingEngineParameters:
      title: BookingEngineParameters
      required:
      - BookingEngineId
      - Client
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        BookingEngineId:
          type: string
          format: uuid
      additionalProperties: false
      x-schema-id: BookingEngineParameters
    EnterpriseParameters:
      title: EnterpriseParameters
      required:
      - Client
      - EnterpriseId
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
      additionalProperties: false
      x-schema-id: EnterpriseParameters
    ServiceAvailabilityResult:
      title: ServiceAvailabilityResult
      required:
      - ApplicableRestrictions
      - CategoryAvailabilities
      - TimeUnitStartsUtc
      type: object
      properties:
        TimeUnitStartsUtc:
          type: array
          items:
            type: string
        CategoryAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/CategoryAvailability'
        ApplicableRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/Restriction'
        CategoryMappings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CategoryMapping'
      additionalProperties: false
      x-schema-id: ServiceAvailabilityResult
    AvailabilityBlock:
      title: AvailabilityBlock
      required:
      - EndUtc
      - Id
      - RateId
      - ServiceId
      - StartUtc
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        RateId:
          type: string
          format: uuid
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: AvailabilityBlock
    SellLimitStatistic:
      title: SellLimitStatistic
      required:
      - Available
      - Limit
      type: object
      properties:
        Limit:
          type: integer
          format: int32
        Available:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: SellLimitStatistic
    ProductPricesResult:
      title: ProductPricesResult
      required:
      - Prices
      type: object
      properties:
        Prices:
          type: array
          items:
            $ref: '#/components/schemas/ProductPrice'
      additionalProperties: false
      x-schema-id: ProductPricesResult
    BookingEngine:
      title: BookingEngine
      required:
      - BookerReservationCustomerEmailInput
      - CancellationOffset
      - CheckoutStatement
      - CompetitorRateDescription
      - DisplayFlexibleRates
      - Id
      - IsDefault
      - IsPrimary
      - OccupancyData
      - PaymentCardRequirement
      - RequiredFields
      - ServiceId
      - TaxMessage
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        IsPrimary:
          type: boolean
        IsDefault:
          type: boolean
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        PaymentCardRequirement:
          minLength: 1
          type: string
        BookerReservationCustomerEmailInput:
          minLength: 1
          type: string
        RequiredFields:
          type: array
          items:
            type: string
        CheckoutStatement:
          type: object
          additionalProperties:
            type: string
        CompetitorRateDescription:
          type: object
          additionalProperties:
            type: string
        TaxMessage:
          $ref: '#/components/schemas/BookingEngineTaxMessage'
        CancellationOffset:
          minLength: 1
          type: string
        DisplayFlexibleRates:
          type: boolean
        OnlineTravelAgencies:
          type:
          - array
          - 'null'
          items:
            type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CurrencyCode:
          type:
          - string
          - 'null'
        IntroVideoUrl:
          type:
          - string
          - 'null'
        Theme:
          type:
          - string
          - 'null'
        PrimaryColor:
          type:
          - string
          - 'null'
        VoucherCode:
          type:
          - string
          - 'null'
        DisplayVoucherCode:
          type:
          - boolean
          - 'null'
        GtmContainerId:
          type:
          - string
          - 'null'
        StartDateOffset:
          type:
          - integer
          - 'null'
          format: int32
        EndDateOffset:
          type:
          - integer
          - 'null'
          format: int32
        DisplaySpecialRequests:
          type:
          - boolean
          - 'null'
        DisplayRateComparison:
          type:
          - boolean
          - 'null'
        DisplayAvailability:
          type:
          - boolean
          - 'null'
        ChildSelectionEnabled:
          type:
          - boolean
          - 'null'
        CompetitorPriceRelativeAdjustment:
          type:
          - number
          - 'null'
          format: double
        MaxAdultCount:
          type:
          - integer
          - 'null'
          format: int32
        IncludeEmailInPurchaseEvent:
          type: boolean
        AllowAfterMidnightReservations:
          type: boolean
      additionalProperties: false
      x-schema-id: BookingEngine
    ExchangeRate:
      title: ExchangeRate
      required:
      - SourceCurrency
      - TargetCurrency
      type: object
      properties:
        SourceCurrency:
          minLength: 1
          type: string
          format: currency
        TargetCurrency:
          minLength: 1
          type: string
          format: currency
        Value:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
      x-schema-id: ExchangeRate
    CategoryAvailability:
      title: CategoryAvailability
      required:
      - Availabilities
      - CategoryId
      type: object
      properties:
        CategoryId:
          type: string
          format: uuid
        Availabilities:
          type: array
          items:
            type: integer
            format: int32
      additionalProperties: false
      x-schema-id: CategoryAvailability
    ServicePricingParameters:
      title: ServicePricingParameters
      required:
      - Client
      - CurrencyCode
      - EndUtc
      - EnterpriseId
      - ServiceId
      - Session
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        CurrencyCode:
          minLength: 1
          type: string
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        BookingEngineId:
          type:
          - string
          - 'null'
          format: uuid
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        RateIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        CategoryIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        ProductIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        OccupancyData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OccupancyData'
        VoucherCode:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: ServicePricingParameters
    CreateReservationGroupParameters:
      title: CreateReservationGroupParameters
      required:
      - Client
      - Customer
      - Reservations
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        HotelId:
          type:
          - string
          - 'null'
          format: uuid
        EnterpriseId:
          type:
          - string
          - 'null'
          format: uuid
        RecaptchaVerificationToken:
          type:
          - string
          - 'null'
        Customer:
          allOf:
          - $ref: '#/components/schemas/Customer'
        Reservations:
          type: array
          items:
            $ref: '#/components/schemas/ReservationParameters'
        PromotedServiceReservations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PromotedServiceReservationParameters'
        CreditCardData:
          allOf:
          - $ref: '#/components/schemas/CreditCardData'
        ConfigurationId:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
        BookingEngineId:
          type:
          - string
          - 'null'
          format: uuid
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        Booker:
          allOf:
          - $ref: '#/components/schemas/Customer'
      additionalProperties: false
      x-schema-id: CreateReservationGroupParameters
    PromotedServiceAssignmentReservationIntervalLimit:
      enum:
      - SameAsParent
      - InsideParent
      type: string
    RestrictionParameters:
      title: RestrictionParameters
      required:
      - Client
      - EndUtc
      - ServiceIds
      - Session
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        ServiceIds:
          type: array
          items:
            type: string
            format: uuid
        StartUtc:
          minLength: 1
          type: string
          format: date-time
        EndUtc:
          minLength: 1
          type: string
          format: date-time
      additionalProperties: false
      x-schema-id: RestrictionParameters
    PaymentGateway:
      title: PaymentGateway
      required:
      - Accounts
      - IsMerchant
      - Model
      - PaymentCardStorageType
      - PublicKey
      - SupportedCreditCardTypes
      - SupportedPaymentMethods
      type: object
      properties:
        PaymentGatewayType:
          type:
          - string
          - 'null'
          deprecated: true
        PaymentCardStorageType:
          minLength: 1
          type: string
        IsMerchant:
          type: boolean
        Model:
          minLength: 1
          type: string
        SupportedCreditCardTypes:
          type: array
          items:
            type: string
        SupportedPaymentMethods:
          allOf:
          - $ref: '#/components/schemas/PaymentMethods'
        PublicKey:
          minLength: 1
          type: string
        Accounts:
          type: array
          items:
            $ref: '#/components/schemas/PaymentGatewayAccount'
        DefaultCurrencyCode:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: PaymentGateway
    LegalEntityIdentifier:
      title: LegalEntityIdentifier
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
        Label:
          type:
          - string
          - 'null'
        ValidationRegex:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: LegalEntityIdentifier
    CalendarDataParameters:
      title: CalendarDataParameters
      required:
      - BookingEngineId
      - Client
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        BookingEngineId:
          type: string
          format: uuid
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        VoucherCode:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: CalendarDataParameters
    Address:
      title: Address
      type: object
      properties:
        Line1:
          type:
          - string
          - 'null'
        Line2:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
        CountryCode:
          type:
          - string
          - 'null'
        Latitude:
          type:
          - number
          - 'null'
          format: double
        Longitude:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
      x-schema-id: Address
    ResourceCategoryPricing:
      title: ResourceCategoryPricing
      required:
      - CategoryId
      - OccupancyPrices
      type: object
      properties:
        CategoryId:
          type: string
          format: uuid
        OccupancyPrices:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyPricing'
      additionalProperties: false
      x-schema-id: ResourceCategoryPricing
    AccountingEnvironment:
      title: AccountingEnvironment
      type: object
      properties:
        CustomerIdentifiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LegalEntityIdentifierConfiguration'
      additionalProperties: false
      x-schema-id: AccountingEnvironment
    PromotedServiceAssignmentUnitCountLimit:
      enum:
      - PerReservation
      - PerSpace
      - PerGuest
      - NoLimit
      type: string
    ReservationGroup:
      title: ReservationGroup
      required:
      - Id
      - Name
      - TotalAmount
      - TotalCost
      type: object
      properties:
        Id:
          type: string
          format: uuid
        TotalCost: {}
        TotalAmount: {}
        Name:
          minLength: 1
          type: string
        ReservationOwnerEmail:
          type:
          - string
          - 'null'
        CustomerId:
          type:
          - string
          - 'null'
          format: uuid
        PaymentRequestId:
          type:
          - string
          - 'null'
          format: uuid
      additionalProperties: false
      x-schema-id: ReservationGroup
    PromotedServiceReservationParameters:
      title: PromotedServiceReservationParameters
      required:
      - EndUtc
      - ParentReservationIdentifier
      - PromotedServiceAssignmentId
      - StartUtc
      type: object
      properties:
        ParentReservationIdentifier:
          minLength: 1
          type: string
        PromotedServiceAssignmentId:
          type: string
          format: uuid
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        Notes:
          type:
          - string
          - 'null'
        Identifier:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: PromotedServiceReservationParameters
    OccupancyData:
      title: OccupancyData
      required:
      - AgeCategoryId
      - PersonCount
      type: object
      properties:
        AgeCategoryId:
          type: string
          format: uuid
        PersonCount:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: OccupancyData
    ProductOptions:
      title: ProductOptions
      type: object
      properties:
        SelectedByDefault:
          type: boolean
        BillAsPackage:
          type: boolean
        OfferToCustomer:
          type: boolean
        ExcludePriceFromOffer:
          type: boolean
        OfferToEmployee:
          type: boolean
      additionalProperties: false
      x-schema-id: ProductOptions
    ConfigurationParameters:
      title: ConfigurationParameters
      required:
      - Client
      - Ids
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        Ids:
          type: array
          items:
            type: string
            format: uuid
        PrimaryId:
          type:
          - string
          - 'null'
          format: uuid
      additionalProperties: false
      x-schema-id: ConfigurationParameters
    ReservationPriceResult:
      title: ReservationPriceResult
      required:
      - CancellationFees
      - CancellationPolicies
      - ReservationPrice
      - TotalAmountGatewayCurrency
      type: object
      properties:
        ReservationPrice:
          type: array
          items:
            $ref: '#/components/schemas/ReservationPricingInfo'
        CancellationPolicies:
          type: array
          items:
            $ref: '#/components/schemas/CancellationPolicy'
        CancellationFees:
          type: array
          items:
            $ref: '#/components/schemas/CancellationFeeResult'
        TotalAmountGatewayCurrency:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: ReservationPriceResult
    ResourcePricing:
      title: ResourcePricing
      type: object
      properties:
        RateId:
          type: string
          format: uuid
        Price:
          allOf:
          - $ref: '#/components/schemas/ResourcePrice'
        MaxPrice:
          allOf:
          - $ref: '#/components/schemas/ResourcePrice'
        CityTaxIncludedInPrice:
          type: boolean
        SellLimitStatistic:
          allOf:
          - $ref: '#/components/schemas/SellLimitStatistic'
      additionalProperties: false
      x-schema-id: ResourcePricing
    ExchangeRateParameters:
      title: ExchangeRateParameters
      required:
      - Client
      - EnterpriseId
      - Session
      - SourceCurrencyCode
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
        SourceCurrencyCode:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: ExchangeRateParameters
    AdditionalExpensePricingInfo:
      title: AdditionalExpensePricingInfo
      required:
      - TotalAmount
      - Type
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/OrderItemType'
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: AdditionalExpensePricingInfo
    PaymentConfiguration:
      title: PaymentConfiguration
      required:
      - PaymentGateway
      - SurchargeConfiguration
      type: object
      properties:
        PaymentGateway:
          allOf:
          - $ref: '#/components/schemas/PaymentGateway'
        SurchargeConfiguration:
          allOf:
          - $ref: '#/components/schemas/SurchargeConfiguration'
      additionalProperties: false
      x-schema-id: PaymentConfiguration
    TimeUnitPeriod:
      enum:
      - Day
      - Month
      - Hour
      type: string
    PaymentCardAuthorizationAction:
      title: PaymentCardAuthorizationAction
      required:
      - HttpMethod
      - Type
      - Url
      type: object
      properties:
        Type:
          minLength: 1
          type: string
        Url:
          minLength: 1
          type: string
        HttpMethod:
          minLength: 1
          type: string
        Data: {}
      additionalProperties: false
      x-schema-id: PaymentCardAuthorizationAction
    AvailabilityBlockResult:
      title: AvailabilityBlockResult
      required:
      - AvailabilityBlocks
      type: object
      properties:
        AvailabilityBlocks:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityBlock'
      additionalProperties: false
      x-schema-id: AvailabilityBlockResult
    AuthorizePaymentCardParameters:
      title: AuthorizePaymentCardParameters
      required:
      - BrowserInfo
      - Client
      - EnterpriseId
      - PaymentCardId
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
        PaymentCardId:
          type: string
          format: uuid
        BrowserInfo:
          allOf:
          - $ref: '#/components/schemas/BrowserInfo'
      additionalProperties: false
      x-schema-id: AuthorizePaymentCardParameters
    Product:
      title: Product
      required:
      - AlwaysIncluded
      - Amounts
      - ChargingMode
      - Classifications
      - Description
      - Id
      - IncludedByDefault
      - Name
      - Ordering
      - PostingMode
      - Prices
      - Pricing
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        IncludedByDefault:
          type: boolean
        AlwaysIncluded:
          type: boolean
        Prices: {}
        Pricing:
          allOf:
          - $ref: '#/components/schemas/Coproduct'
        Amounts: {}
        Charging:
          type:
          - string
          - 'null'
          deprecated: true
        ChargingMode:
          minLength: 1
          type: string
        Posting:
          type:
          - string
          - 'null'
          deprecated: true
        PostingMode:
          minLength: 1
          type: string
        Ordering:
          type: integer
          format: int32
        CategoryId:
          type:
          - string
          - 'null'
          format: uuid
        ImageId:
          type:
          - string
          - 'null'
          format: uuid
        RelativePrice:
          type:
          - number
          - 'null'
          format: double
        Classifications:
          type: array
          items:
            type: string
      additionalProperties: false
      x-schema-id: Product
    BrowserInfo:
      title: BrowserInfo
      required:
      - ColorDepth
      - Language
      - ScreenHeight
      - ScreenWidth
      - TimeZoneOffset
      - UserAgent
      type: object
      properties:
        ColorDepth:
          type: integer
          format: int32
        ScreenWidth:
          type: integer
          format: int32
        ScreenHeight:
          type: integer
          format: int32
        TimeZoneOffset:
          type: integer
          format: int32
        UserAgent:
          minLength: 1
          type: string
        Language:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: BrowserInfo
    Occupancy:
      title: Occupancy
      type: object
      properties:
        AdultCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        ChildCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        OccupancyData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OccupancyData'
      additionalProperties: false
      x-schema-id: Occupancy
    RestrictionConditions:
      title: RestrictionConditions
      required:
      - Days
      - Hours
      - Type
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/RestrictionType'
        ExactRateId:
          type:
          - string
          - 'null'
          format: uuid
        BaseRateId:
          type:
          - string
          - 'null'
          format: uuid
        RateGroupId:
          type:
          - string
          - 'null'
          format: uuid
        ResourceCategoryId:
          type:
          - string
          - 'null'
          format: uuid
        ResourceCategoryType:
          anyOf:
          - $ref: '#/components/schemas/ResourceCategoryType'
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
        Days:
          type: array
          items:
            type: string
        Hours:
          type: array
          items:
            type: string
      additionalProperties: false
      x-schema-id: RestrictionConditions
    RestrictionType:
      enum:
      - ClosedToStay
      - ClosedToArrival
      - ClosedToDeparture
      type: string
    OccupancyPricing:
      title: OccupancyPricing
      required:
      - Occupancies
      - RateGroupPrices
      type: object
      properties:
        Occupancies:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        RateGroupPrices:
          type: array
          items:
            $ref: '#/components/schemas/RateGroupPricing'
      additionalProperties: false
      x-schema-id: OccupancyPricing
    Enterprise:
      title: Enterprise
      required:
      - AcceptedCurrencyCodes
      - Address
      - ChainId
      - CityId
      - DefaultCurrencyCode
      - DefaultLanguageCode
      - Description
      - Email
      - IanaTimeZoneIdentifier
      - Id
      - IsFxMultiCurrencyServiceEnabled
      - Name
      - Pricing
      - TaxEnvironmentCode
      - Telephone
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ChainId:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
        CityId:
          type: string
          format: uuid
        Email:
          minLength: 1
          type: string
        Telephone:
          minLength: 1
          type: string
        DefaultLanguageCode:
          minLength: 1
          type: string
        DefaultCurrencyCode:
          minLength: 1
          type: string
        IanaTimeZoneIdentifier:
          minLength: 1
          type: string
        AcceptedCurrencyCodes:
          type: array
          items:
            type: string
        TaxEnvironmentCode:
          minLength: 1
          type: string
        Pricing:
          minLength: 1
          type: string
        AdditionalLegalStatements:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties:
              type: string
          deprecated: true
        ImageId:
          type:
          - string
          - 'null'
          format: uuid
        IntroImageId:
          type:
          - string
          - 'null'
          format: uuid
        GrossAmountTaxPrecision:
          type:
          - integer
          - 'null'
          format: int32
        ShowSmsConsent:
          type: boolean
        AccountingEnvironment:
          allOf:
          - $ref: '#/components/schemas/AccountingEnvironment'
        IsFxMultiCurrencyServiceEnabled:
          type: boolean
      additionalProperties: false
      x-schema-id: Enterprise
    TaxBreakdown:
      title: TaxBreakdown
      required:
      - Items
      type: object
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/TaxBreakdownItem'
      additionalProperties: false
      x-schema-id: TaxBreakdown
    ResourceCategoryParameters:
      title: ResourceCategoryParameters
      required:
      - Client
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        ConfigurationId:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
        ServiceId:
          type:
          - string
          - 'null'
          format: uuid
        ResourceCategoryIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        Extent:
          allOf:
          - $ref: '#/components/schemas/ResourceCategoryExtent'
      additionalProperties: false
      x-schema-id: ResourceCategoryParameters
    BookingEngineTaxMessage:
      enum:
      - None
      - Vat
      - VatAndCityTax
      - CityTax
      - Fees
      - VatAndFees
      - CityTaxAndFees
      - VatAndCityTaxAndFees
      type: string
    ResourceCategoryImageAssignment:
      title: ResourceCategoryImageAssignment
      required:
      - CategoryId
      - Id
      - ImageId
      - Ordering
      type: object
      properties:
        Id:
          type: string
          format: uuid
        CategoryId:
          type: string
          format: uuid
        ImageId:
          type: string
          format: uuid
        Ordering:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: ResourceCategoryImageAssignment
    GetAllProductsResult:
      title: GetAllProductsResult
      required:
      - Products
      type: object
      properties:
        Products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
      additionalProperties: false
      x-schema-id: GetAllProductsResult
    CalendarDataResult:
      title: CalendarDataResult
      required:
      - Rates
      - ResourceCategories
      type: object
      properties:
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        ResourceCategories:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategory'
      additionalProperties: false
      x-schema-id: CalendarDataResult
    CancellationFee:
      title: CancellationFee
      required:
      - Amount
      - EndUtc
      type: object
      properties:
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        Amount:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: CancellationFee
    CurrencyResult:
      title: CurrencyResult
      required:
      - Code
      type: object
      properties:
        Code:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
      additionalProperties: false
      x-schema-id: CurrencyResult
    PaymentCardResult:
      title: PaymentCardResult
      required:
      - PaymentCards
      type: object
      properties:
        PaymentCards:
          type: array
          items:
            $ref: '#/components/schemas/PaymentCard'
      additionalProperties: false
      x-schema-id: PaymentCardResult
    ResourceCategoryType:
      enum:
      - Room
      - Bed
      - Dorm
      - Apartment
      - Suite
      - Villa
      - Site
      - Office
      - MeetingRoom
      - ParkingSpot
      - Desk
      - TeamArea
      - Membership
      - Tent
      - CaravanOrRV
      - UnequippedCampsite
      - Bike
      - ExtraBed
      - Cot
      - Crib
      - ConferenceRoom
      - Rooftop
      - Garden
      - Restaurant
      - Amphitheater
      - PrivateSpaces
      type: string
    ReservationGroupParameters:
      title: ReservationGroupParameters
      required:
      - Client
      - Ids
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        HotelId:
          type:
          - string
          - 'null'
          format: uuid
        EnterpriseId:
          type:
          - string
          - 'null'
          format: uuid
        ReservationGroupId:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
        Ids:
          type: array
          items:
            type: string
            format: uuid
        Extent:
          allOf:
          - $ref: '#/components/schemas/ReservationGroupExtent'
      additionalProperties: false
      x-schema-id: ReservationGroupParameters
    ReservationGroupResult:
      title: ReservationGroupResult
      required:
      - CreditCardAvailable
      - OrderedProducts
      - Rates
      - ReservationGroups
      - Reservations
      type: object
      properties:
        Id:
          type: string
          format: uuid
          deprecated: true
        CustomerId:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
        PaymentRequestId:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
        TotalCost:
          deprecated: true
        TotalAmount:
          deprecated: true
        ReservationGroups:
          type: array
          items:
            $ref: '#/components/schemas/ReservationGroup'
        Reservations:
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
        OrderedProducts:
          type: array
          items:
            $ref: '#/components/schemas/OrderedProduct'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        ResourceCategories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ResourceCategory'
        CreditCardAvailable:
          type: boolean
        PaymentCardId:
          type:
          - string
          - 'null'
          format: uuid
        PaymentRequests:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PaymentRequest'
        Payments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Payment'
      additionalProperties: false
      x-schema-id: ReservationGroupResult
    PaymentGatewayAccount:
      title: PaymentGatewayAccount
      type: object
      properties:
        CurrencyCode:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: PaymentGatewayAccount
    GetAllProductsParameters:
      title: GetAllProductsParameters
      required:
      - Client
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        ConfigurationId:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
        ServiceId:
          type:
          - string
          - 'null'
          format: uuid
        ProductIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
      x-schema-id: GetAllProductsParameters
    ServicePricingResult:
      title: ServicePricingResult
      required:
      - CancellationFees
      - CancellationPolicies
      - CategoryPrices
      - RateGroups
      - Rates
      - ViolatedRestrictions
      type: object
      properties:
        RateGroups:
          type: array
          items:
            $ref: '#/components/schemas/RateGroup'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        CategoryPrices:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategoryPricing'
        ViolatedRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/Restriction'
        CancellationPolicies:
          type: array
          items:
            $ref: '#/components/schemas/CancellationPolicy'
        CancellationFees:
          type: array
          items:
            $ref: '#/components/schemas/CancellationFeeResult'
      additionalProperties: false
      x-schema-id: ServicePricingResult
    ReservationPriceParameters:
      title: ReservationPriceParameters
      required:
      - Client
      - Reservations
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        ConfigurationId:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
        ServiceId:
          type:
          - string
          - 'null'
          format: uuid
        Reservations:
          type: array
          items:
            $ref: '#/components/schemas/ReservationParameters'
        PromotedServiceReservations:
          type:
[...]
