openapi: 3.0.4
info:
  title: BookingEngineApi Account notes Reservations API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: Reservations
paths:
  /api/connector/v1/reservations/getChannelManagerDetails:
    post:
      tags:
      - Reservations
      summary: Get reservation channel manager details
      description: Returns channel manager-related details for the specified reservations. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: reservations_getChannelManagerDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationsChannelManagerDetailsFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationIds:
              - 9b59b50d-bd32-4ce5-add8-09ea0e1300e7
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationsChannelManagerDetailsResult'
              example:
                ChannelManagerDetails:
                - ReservationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  RequestedRateCode: XyZ123AbC789
                  ChannelManagerName: HotelConnect
                  ChannelNumber: HC1234
                  ChannelManagerGroupNumber: 9E5F7BC3B6F0102
                  ChannelManagerNumber: '1'
                  CreatedUtc: '2025-03-10T15:30:00Z'
                - ReservationId: 9b59b50d-bd32-4ce5-add8-09ea0e1300e7
                  RequestedRateCode: LmN456OpQ012
                  ChannelManagerName: GlobalRes
                  ChannelNumber: GR5678
                  ChannelManagerGroupNumber: 461190401CD25FE
                  ChannelManagerNumber: '1'
                  CreatedUtc: '2025-03-11T09:45:00Z'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
      x-restricted: true
  /api/connector/v1/reservations/getAll/2023-06-06:
    post:
      tags:
      - Reservations
      summary: Get all reservations (ver 2023-06-06)
      description: 'Returns all reservations within scope of the Access Token, filtered according to the specified parameters. This operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).

        '
      operationId: reservations_getAll_2023-06-06
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationServiceOrderFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationIds:
              - 0f515589-99b4-423d-b83a-b237009f0509
              - 9b59b50d-bd32-4ce5-add8-09ea0e1300e7
              ServiceIds:
              - bd26d8db-86da-4f96-9efc-e5a4654a4a94
              - 8c1bd738-a505-4b29-aa71-9ecc2982b843
              ReservationGroupIds:
              - 94843f6f-3be3-481b-a1c7-06458774c3df
              AccountIds:
              - fadd5bb6-b428-45d5-94f8-fd0d89fece6d
              PartnerCompanyIds:
              - c021013e-4930-4592-8e32-91b0b1fc9663
              TravelAgencyIds:
              - a793d381-65a2-4fa6-9514-00c4c5bfe607
              Numbers:
              - '50'
              - '51'
              - '52'
              - '53'
              AssignedResourceIds:
              - 5ee074b1-6c86-48e8-915f-c7aa4702086f
              - c32386aa-1cd2-414a-a823-489325842fbe
              AvailabilityBlockIds:
              - 5ee074b1-6c86-48e8-915f-c7aa4702086f
              - c32386aa-1cd2-414a-a823-489325842fbe
              CreatedUtc:
                StartUtc: '2023-04-01T00:00:00Z'
                EndUtc: '2023-05-05T00:00:00Z'
              UpdatedUtc:
                StartUtc: '2023-04-01T00:00:00Z'
                EndUtc: '2023-05-05T00:00:00Z'
              CollidingUtc:
                StartUtc: '2023-04-01T00:00:00Z'
                EndUtc: '2023-05-05T00:00:00Z'
              ScheduledStartUtc:
                StartUtc: '2023-04-01T00:00:00Z'
                EndUtc: '2023-05-05T00:00:00Z'
              ScheduledEndUtc:
                StartUtc: '2023-04-01T00:00:00Z'
                EndUtc: '2023-05-05T00:00:00Z'
              States:
              - Inquired
              - Confirmed
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              Limitation:
                Count: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationServiceOrderResult'
              example:
                Reservations:
                - Id: 0f515589-99b4-423d-b83a-b237009f0509
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  AccountType: Customer
                  CreatorProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  UpdaterProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  BookerId: ebd507c5-6bfd-4ca9-96aa-ffed6fa94f72
                  Number: '52'
                  State: Confirmed
                  Origin: Connector
                  CommanderOrigin: null
                  OriginDetails: null
                  CreatedUtc: '2023-03-23T16:00:00Z'
                  UpdatedUtc: '2023-04-22T17:00:00Z'
                  CancelledUtc: null
                  VoucherId: null
                  BusinessSegmentId: null
                  Options:
                    OwnerCheckedIn: true
                    AllCompanionsCheckedIn: true
                    AnyCompanionCheckedIn: true
                    ConnectorCheckIn: true
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  CreditCardId: null
                  GroupId: 94843f6f-3be3-481b-a1c7-06458774c3df
                  RequestedResourceCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  AssignedResourceId: 20e00c32-d561-4008-8609-82d8aa525714
                  AvailabilityBlockId: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                  PartnerCompanyId: c021013e-4930-4592-8e32-91b0b1fc9663
                  TravelAgencyId: a793d381-65a2-4fa6-9514-00c4c5bfe607
                  AssignedResourceLocked: false
                  ChannelNumber: TW48ZP
                  ChannelManagerNumber: ''
                  CancellationReason: null
                  ReleasedUtc: null
                  StartUtc: '2023-04-23T14:00:00Z'
                  EndUtc: '2023-04-25T12:00:00Z'
                  ScheduledStartUtc: '2023-04-23T14:00:00Z'
                  ActualStartUtc: null
                  ScheduledEndUtc: '2023-04-25T12:00:00Z'
                  ActualEndUtc: null
                  Purpose: Leisure
                  QrCodeData: '{"Reservations":[{"Id":"0f515589-99b4-423d-b83a-b237009f0509","GroupId":"94843f6f-3be3-481b-a1c7-06458774c3df","CustomerId":"fadd5bb6-b428-45d5-94f8-fd0d89fece6d"}]}'
                  PersonCounts:
                  - AgeCategoryId: 1f67644f-052d-4863-acdf-ae1600c60ca0
                    Count: 2
                  - AgeCategoryId: ab58c939-be30-4a60-8f75-ae1600c60c9f
                    Count: 2
                Cursor: 0f515589-99b4-423d-b83a-b237009f0509
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/getAll:
    post:
      tags:
      - Reservations
      summary: Get all reservations (ver 2017-04-12)
      description: Use [Get all reservations (ver 2023-06-06)](https://mews-systems.gitbook.io/connector-api/operations/reservations#get-all-reservations-ver-2023-06-06).
      operationId: reservations_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              StartUtc: '2016-01-01T00:00:00Z'
              EndUtc: '2016-01-07T00:00:00Z'
              ServiceIds:
              - bd26d8db-86da-4f96-9efc-e5a4654a4a94
              ReservationIds:
              - db6cad34-9a91-448b-bea1-abbe01240d9c
              CustomerIds:
              - 8e1d0ca6-1dde-4be0-8566-aafc01866110
              RateIds:
              - ed4b660b-19d0-434b-9360-a4de2ea42eda
              ChannelNumbers:
              - TW48ZP
              States:
              - Started
              Extent:
                Reservations: true
                ReservationGroups: true
                Customers: true
              Limitation:
                Cursor: e7f26210-10e7-462e-9da8-ae8300be8ab7
                Count: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResult'
              example:
                BusinessSegments: null
                Customers:
                - Address: null
                  BirthDate: null
                  BirthPlace: null
                  CategoryId: null
                  Classifications: []
                  CreatedUtc: '2016-01-01T00:00:00Z'
                  Email: null
                  FirstName: John
                  Sex: null
                  Id: 35d4b117-4e60-44a3-9580-c582117eff98
                  IdentityCard: null
                  LanguageCode: null
                  LastName: Smith
                  LoyaltyCode: null
                  NationalityCode: US
                  Notes: ''
                  Number: '1'
                  Passport: null
                  Phone: 00420123456789
                  SecondLastName: null
                  TaxIdentificationNumber: null
                  Title: null
                  UpdatedUtc: '2016-01-01T00:00:00Z'
                  Visa: null
                OrderItems: null
                Products: null
                RateGroups: null
                Rates: null
                ReservationGroups:
                - Id: c704dff3-7811-4af7-a3a0-7b2b0635ac59
                  Name: 13-12-Smith-F712
                Reservations:
                - Id: bfee2c44-1f84-4326-a862-5289598f6e2d
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  GroupId: 94843f6f-3be3-481b-a1c7-06458774c3df
                  Number: '52'
                  ChannelNumber: TW48ZP
                  ChannelManager: ''
                  ChannelManagerGroupNumber: null
                  ChannelManagerNumber: null
                  State: Processed
                  Origin: Connector
                  OriginDetail: null
                  Purpose: Student
                  CreatedUtc: '2016-02-20T14:58:02Z'
                  UpdatedUtc: '2016-02-20T14:58:02Z'
                  CancelledUtc: null
                  StartUtc: '2016-02-20T13:00:00Z'
                  EndUtc: '2016-02-22T11:00:00Z'
                  ReleasedUtc: null
                  RequestedCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  AssignedResourceId: 20e00c32-d561-4008-8609-82d8aa525714
                  AssignedResourceLocked: false
                  BusinessSegmentId: null
                  CompanyId: null
                  TravelAgencyId: null
                  AvailabilityBlockId: null
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  VoucherId: null
                  CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
                  PersonCounts:
                  - AgeCategoryId: 1f67644f-052d-4863-acdf-ae1600c60ca0
                    Count: 2
                  - AgeCategoryId: ab58c939-be30-4a60-8f75-ae1600c60c9f
                    Count: 2
                Services: null
                Resources: null
                ResourceCategories: null
                ResourceCategoryAssignments: null
                Notes: null
                Cursor: 8d02142f-31cf-4115-90bf-ae5200c7a1ba
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
      deprecated: true
      x-deprecatedMessage: Use [Get all reservations (ver 2023-06-06)](https://mews-systems.gitbook.io/connector-api/operations/reservations#get-all-reservations-ver-2023-06-06).
  /api/connector/v1/reservations/price:
    post:
      tags:
      - Reservations
      summary: Price reservations
      description: "Returns prices of reservations with the specified parameters.\r\nNote that the operation doesn't check the maximum capacity of requested resource category. Requesting person counts above the capacity will return prices for the maximum available capacity.\r\n\r\nThis operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/)."
      operationId: reservations_price
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationDataParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
              Reservations:
              - Identifier: '1234'
                StartUtc: '2018-01-01T14:00:00Z'
                EndUtc: '2018-01-02T10:00:00Z'
                RequestedCategoryId: 0a5da171-3663-4496-a61e-35ecbd78b9b1
                RateId: 33667cab-f17f-4089-ad07-c2cd50fa0df1
                Notes: Test reservation
                ProductOrders:
                - ProductId: 3dc5d79b-67ce-48ed-9238-47fcf5d1a59f
                PersonCounts:
                - AgeCategoryId: 1f67644f-052d-4863-acdf-ae1600c60ca0
                  Count: 2
                - AgeCategoryId: ab58c939-be30-4a60-8f75-ae1600c60c9f
                  Count: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPricingResult'
              example:
                ReservationPrices:
                - Identifier: '1234'
                  Total:
                    Currency: GBP
                    NetValue: 20
                    GrossValue: 23
                    TaxValues:
                    - Code: UK-S
                      Value: 3
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/add:
    post:
      tags:
      - Reservations
      summary: Add reservations
      description: Adds the specified reservations as a single group. If `GroupId` is specified, adds the reservations to an already existing group. Note that all reservations linked to an availability block must belong to the same reservation group.
      operationId: reservations_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationAdditionParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
              GroupId: null
              GroupName: null
              SendConfirmationEmail: true
              Reservations:
              - Identifier: '1234'
                State: Confirmed
                StartUtc: '2021-01-01T14:00:00Z'
                EndUtc: '2021-01-03T10:00:00Z'
                ReleasedUtc: null
                CustomerId: e465c031-fd99-4546-8c70-abcf0029c249
                BookerId: e465c031-fd99-4546-8c70-abcf0029c249
                RequestedCategoryId: 0a5da171-3663-4496-a61e-35ecbd78b9b1
                RateId: a39a59fa-3a08-4822-bdd4-ab0b00e3d21f
                TravelAgencyId: null
                CompanyId: null
                Notes: Test reservation
                TimeUnitAmount: null
                PersonCounts:
                - AgeCategoryId: 1f67644f-052d-4863-acdf-ae1600c60ca0
                  Count: 2
                - AgeCategoryId: ab58c939-be30-4a60-8f75-ae1600c60c9f
                  Count: 2
                TimeUnitPrices:
                - Index: 0
                  Amount:
                    Currency: GBP
                    GrossValue: 20
                    TaxCodes:
                    - UK-S
                - Index: 1
                  Amount:
                    Currency: GBP
                    GrossValue: 30
                    TaxCodes:
                    - UK-S
                ProductOrders:
                - ProductId: 2e9eb3fc-8a77-466a-9cd9-abcf002a2a01
                  StartUtc: '2021-01-02T00:00:00Z'
                  EndUtc: '2021-01-03T00:00:00Z'
                AvailabilityBlockId: null
                VoucherCode: SpringSale2021
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationAdditionResult'
              example:
                Reservations:
                - Identifier: '1234'
                  Reservation:
                    Id: bfee2c44-1f84-4326-a862-5289598f6e2d
                    ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                    GroupId: 94843f6f-3be3-481b-a1c7-06458774c3df
                    Number: '52'
                    ChannelManager: ''
                    ChannelManagerGroupNumber: null
                    ChannelManagerNumber: null
                    ChannelNumber: null
                    State: Processed
                    Origin: Connector
                    CreatedUtc: '2016-02-20T14:58:02Z'
                    UpdatedUtc: '2016-02-20T14:58:02Z'
                    CancelledUtc: null
                    StartUtc: '2016-02-20T13:00:00Z'
                    EndUtc: '2016-02-22T11:00:00Z'
                    ReleasedUtc: null
                    RequestedCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                    AssignedResourceId: 20e00c32-d561-4008-8609-82d8aa525714
                    AssignedResourceLocked: false
                    BusinessSegmentId: null
                    CompanyId: null
                    TravelAgencyId: null
                    AvailabilityBlockId: null
                    RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                    VoucherId: null
                    CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
                    CompanionIds:
                    - b22bf671-ccdf-40aa-a7e6-b20a4f91d79a
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/update:
    post:
      tags:
      - Reservations
      summary: Update reservations
      description: Updates information about the specified reservations. Note that if any of the fields are sent as `null`, it won't clear the field in Mews. If the `Value` within the object is sent as `null`, the field will be cleared in Mews. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: reservations_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleReservationUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              Client: Sample Client 1.0.0
              Reason: Testing
              CheckOverbooking: true
              CheckRateApplicability: true
              Reprice: true
              ApplyCancellationFee: true
              ReservationUpdates:
              - ReservationId: 622605a9-2969-441f-9610-aa720099ae1c
                StartUtc:
                  Value: '2019-10-01T14:00:00Z'
                EndUtc:
                  Value: '2019-10-03T10:00:00Z'
                AssignedResourceId:
                  Value: 16ce4335-2198-408b-8949-9722894a42fb
                AssignedResourceLocked:
                  Value: 'false'
                ChannelNumber: null
                RequestedCategoryId: null
                TravelAgencyId:
                  Value: null
                CompanyId:
                  Value: 73ba34d1-f375-460c-bf2d-8a63e71677a6
                BusinessSegmentId: null
                Purpose:
                  Value: Business
                RateId: null
                BookerId:
                  Value: 92923102-bf91-4a4a-8ee8-9dcb79c9d6de
                TimeUnitPrices:
                  Value:
                  - Index: 0
                    Amount:
                      Currency: GBP
                      GrossValue: 20
                      TaxCodes:
                      - UK-S
                  - Index: 1
                    Amount:
                      Currency: GBP
                      GrossValue: 30
                      TaxCodes:
                      - UK-S
                PersonCounts:
                  Value:
                  - AgeCategoryId: ab58c939-be30-4a60-8f75-ae1600c60c9f
                    Count: 2
                  - AgeCategoryId: 1f67644f-052d-4863-acdf-ae1600c60ca0
                    Count: 2
                CreditCardId:
                  Value: 5d802a8f-3238-42b2-94be-ab0300ab2b6c
                AvailabilityBlockId:
                  Value: aaaa654a4a94-4f96-9efc-86da-bd26d8db
                Options:
                  OwnerCheckedIn:
                    Value: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResult'
              example:
                BusinessSegments: null
                Customers:
                - Address: null
                  BirthDate: null
                  BirthPlace: null
                  CategoryId: null
                  Classifications: []
                  CreatedUtc: '2016-01-01T00:00:00Z'
                  Email: null
                  FirstName: John
                  Sex: null
                  Id: 35d4b117-4e60-44a3-9580-c582117eff98
                  IdentityCard: null
                  LanguageCode: null
                  LastName: Smith
                  LoyaltyCode: null
                  NationalityCode: US
                  Notes: ''
                  Number: '1'
                  Passport: null
                  Phone: 00420123456789
                  SecondLastName: null
                  TaxIdentificationNumber: null
                  Title: null
                  UpdatedUtc: '2016-01-01T00:00:00Z'
                  Visa: null
                OrderItems: null
                Products: null
                RateGroups: null
                Rates: null
                ReservationGroups:
                - Id: c704dff3-7811-4af7-a3a0-7b2b0635ac59
                  Name: 13-12-Smith-F712
                Reservations:
                - Id: bfee2c44-1f84-4326-a862-5289598f6e2d
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  GroupId: 94843f6f-3be3-481b-a1c7-06458774c3df
                  Number: '52'
                  ChannelNumber: TW48ZP
                  ChannelManager: ''
                  ChannelManagerGroupNumber: null
                  ChannelManagerNumber: null
                  State: Processed
                  Origin: Connector
                  OriginDetail: null
                  Purpose: Student
                  CreatedUtc: '2016-02-20T14:58:02Z'
                  UpdatedUtc: '2016-02-20T14:58:02Z'
                  CancelledUtc: null
                  StartUtc: '2016-02-20T13:00:00Z'
                  EndUtc: '2016-02-22T11:00:00Z'
                  ReleasedUtc: null
                  RequestedCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  AssignedResourceId: 20e00c32-d561-4008-8609-82d8aa525714
                  AssignedResourceLocked: false
                  BusinessSegmentId: null
                  CompanyId: null
                  TravelAgencyId: null
                  AvailabilityBlockId: null
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  VoucherId: null
                  CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
                  PersonCounts:
                  - AgeCategoryId: 1f67644f-052d-4863-acdf-ae1600c60ca0
                    Count: 2
                  - AgeCategoryId: ab58c939-be30-4a60-8f75-ae1600c60c9f
                    Count: 2
                Services: null
                Resources: null
                ResourceCategories: null
                ResourceCategoryAssignments: null
                Notes: null
                Cursor: 8d02142f-31cf-4115-90bf-ae5200c7a1ba
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/confirm:
    post:
      tags:
      - Reservations
      summary: Confirm reservation
      description: Marks all specified reservations as `Confirmed`. Succeeds only if all confirmation conditions are met (the reservations have the `Optional` state). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: reservations_confirm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmReservationParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationIds:
              - 9af9d8b0-43ae-414d-80a8-abc1012a2a59
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleReservationResult'
              example:
                ReservationIds:
                - 5ca70705-cbb7-48c4-8cc4-abb900aa278c
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/start:
    post:
      tags:
      - Reservations
      summary: Start reservation
      description: Marks a reservation as `Started` (= checked in). Succeeds only if all starting conditions are met (the reservation has the `Confirmed` state, does not have start set to future, has an inspected room assigned etc). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: reservations_start
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationStartParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ReservationId: e6ea708c-2a2a-412f-a152-b6c76ffad49b
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/process:
    post:
      tags:
      - Reservations
      summary: Process reservation
      description: 'Marks a reservation as `Processed` (= checked out). Succeeds only if all processing conditions are met (the reservation has the `Started` state, balance of all reservation members is zero etc). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).

        ### Conditions

        - Reservation has already been checked in.

        - Reservation isn''t alredy in `Processed` state.

        - Reservation can''t be checked out sooner than last day of planned stay.

        - The companion profiles of reservation are complete (details can be found in error message).

        - If `AllowOpenBalance` set to `false`, all bills have to be closable (items on bills are either paid by current customer, or set to be paid by other customer). With `CloseBills` option set to `true` they can be automatically closed, when set to `false` they must be closed manually.

        - If `AllowOpenBalance` set to `true`, `Notes` must be filled in.'
      operationId: reservations_process
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationProcessingParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ReservationId: e6ea708c-2a2a-412f-a152-b6c76ffad49b
              CloseBills: false
              AllowOpenBalance: false
              Notes: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/cancel:
    post:
      tags:
      - Reservations
      summary: Cancel reservation
      description: Cancels all reservation with specified identifiers. Succeeds only if the reservations are cancellable. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: reservations_cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationCancellationParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ReservationIds:
              - 5ca70705-cbb7-48c4-8cc4-abb900aa278c
              PostCancellationFee: true
              Notes: Cancellation through Connector API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleReservationResult'
              example:
                ReservationIds:
                - 5ca70705-cbb7-48c4-8cc4-abb900aa278c
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/updateCustomer:
    post:
      tags:
      - Reservations
      summary: Update reservation customer
      description: Updates customer of a reservation. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: reservations_updateCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationsUpdateCustomerParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ReservationId: 209d984d-4985-4efb-96ec-f6591fc597bf
              CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/updateInterval:
    post:
      tags:
      - Reservations
      summary: Update reservation interval
      description: Updates reservation interval (start, end or both). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: reservations_updateInterval
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationUpdateIntervalParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ReservationId: 209d984d-4985-4efb-96ec-f6591fc597bf
              StartUtc: '2017-08-12T15:00:00Z'
              EndUtc: '2017-08-15T12:00:00Z'
              ChargeCancellationFee: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/addCompanion:
    post:
      tags:
      - Reservations
      summary: Add reservation companion
      description: Adds a customer as a companion to the reservation. Succeeds only if there is space for the new companion (count of current companions is less than `AdultCount + ChildCount`). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: reservations_addCompanion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanionshipAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationId: e6ea708c-2a2a-412f-a152-b6c76ffad49b
              CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanionshipAddResult'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/deleteCompanion:
    post:
      tags:
      - Reservations
      summary: Delete reservation companion
      description: Removes customer companionship from the reservation. Note that the customer profile stays untouched, only the relation between the customer and reservation is deleted. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: reservations_deleteCompanion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanionshipDeleteParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationId: e6ea708c-2a2a-412f-a152-b6c76ffad49b
              CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/addProduct:
    post:
      tags:
      - Reservations
      summary: Add reservation product
      description: Adds a new product order of the specified product to the reservation.
      operationId: reservations_addProduct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationProductParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationId: 4d2aa234-5d30-472c-899f-ab45008c3479
              ProductId: 47312820-2268-4f5c-864d-aa4100ed82bc
              Count: 1
              StartUtc: '2021-01-02T00:00:00Z'
              EndUtc: '2021-01-03T00:00:00Z'
              UnitAmount:
                Currency: GBP
                GrossValue: 10
                TaxCodes:
                - UK-S
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddProductItemsResult'
              example:
                ItemIds:
                - ff81fd7a-29ba-4160-8e22-ab4300f67b23
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/reservations/getAllItems:
    post:
      tags:
      - Reservations
      summary: Get all reservation items
      description: Use orderItems/getAll.
      operationId: reservations_getAllItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationItemParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationIds:
              - e6ea708c-2a2a-412f-a152-b6c76ffad49b
              Currency: EUR
              AccountingStates:
              - Closed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationItemResult'
              example:
                Reservations:
                - ReservationId: e6ea708c-2a2a-412f-a152-b6c76ffad49b
                  OrderItems:
                  - Id: 784a29df-6196-4402-96a0-58695a881239
                    AccountId: d73a087a-00c7-40cf-9372-314d0296334d
                    OrderId: e6ea708c-2a2a-412f-a152-b6c76ffad49b
                    BillId: 7fdc2957-bc08-44d3-ba2a-1c1760a84894
                    AccountingCategoryId: 0cf7aa90-736f-43e9-a7dc-787704548d86
                    Amount:
                      Currency: EUR
                      NetValue: 19.38
                      GrossValue: 23.26
                      TaxValues:
                      - Code: UK-S
                        Value: 3.88
                      Breakdown:
                        Items:
                        - TaxRateCode: UK-S
                          NetValue: 19.38
                          TaxValue: 3.88
                    RevenueType: Service
                    ConsumedUtc: '2016-03-10T13:00:00Z'
                    ClosedUtc: '2016-04-06T06:41:44Z'
                    AccountingState: Closed
                    Data:
                      Discriminator: ProductOrder
                      Value:
                        ProductId: a3f4e006-b3e4-4485-8a00-ad11015ac494
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
      deprecated: true
      x-deprecatedMessage: Use orderItems/getAll.
components:
  schemas:
    ReservationServiceOrderResult:
      title: ReservationServiceOrderResult
      required:
      - Reservations
      type: object
      properties:
        Reservations:
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
          description: The reservations of the enterprise.
        Cursor:
          type: string
          description: Unique identifier of the item one newer in time order than the items to be returned. If Cursor is not specified, i.e. null, then the latest or most recent items will be returned.
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: ReservationServiceOrderResult
    ResourceAccessTokenPermissions:
      title: Resource access token permissions
      type: object
      properties:
        Bed:
          type: boolean
          description: Specify whether the resource access token grants permission to access bed.
        Room:
          type: boolean
          description: Specify whether the resource access token grants permission to access room.
        Floor:
          type: boolean
          description: Specify whether the resource access token grants permission to access floor.
        Building:
          type: boolean
          description: Specify whether the resource access token grants permission to access building.
      additionalProperties: false
      description: ''
      x-schema-id: ResourceAccessTokenPermissions
    RateForExtent:
      title: Rate for extent
      required:
      - GroupId
      - Id
      - IsActive
      - IsBaseRate
      - IsEnabled
      - IsPublic
      - Names
      - ServiceId
      - Type
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate.
          format: uuid
        GroupId:
          type: string
          description: Unique identifier of `Rate Group` where the rate belongs.
          format: uuid
        ServiceId:
          type: string
          description: Unique identifier of the `Service`.
          format: uuid
        BaseRateId:
          type: string
          description: Unique identifier of the base `Rate`.
          format: uuid
          nullable: true
        IsBaseRate:
          type: boolean
          description: Whether the rate is a base rate.
        BusinessSegmentId:
          type: string
          description: Unique identifier of the `Business Segment`.
          format: uuid
          nullable: true
        IsActive:
          type: boolean
          description: Whether the rate is still active.
        IsEnabled:
          type: boolean
          description: Whether the rate is currently available to customers.
        IsPublic:
          type: boolean
          description: Whether the rate is publicly available.
        Type:
          title: Rate type
          allOf:
          - $ref: '#/components/schemas/RateTypeEnum'
          description: 'Type of the rate.


            Public


            Private


            AvailabilityBlock'
          x-enumNames:
          - Public
          - Private
          - AvailabilityBlock
          x-enumDescriptions:
          - ''
          - ''
          - ''
        Name:
          type: string
          description: Name of the rate (in the default language).
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `Names` instead
        Names:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the name.
          x-schema-id: LocalizedStrings
        ShortName:
          type: string
          description: Short name of the rate (in the default language).
          nullable: true
        UpdatedUtc:
          minLength: 1
          type: string
          description: Interval in which the rates were updated.
          format: date-time
        ExternalNames:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the external name of the rate.
          nullable: true
          x-schema-id: LocalizedStrings
        Description:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the description of the rate.
          nullable: true
          x-schema-id: LocalizedStrings
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of the rate from external system.
          nullable: true
      additionalProperties: false
      description: '`Rate` entity, without some of the details, e.g. pricing.'
      x-schema-id: RateForExtent
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
        RequestId:
          type: string
          nullable: true
        Details:
          nullable: true
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    TaxValue:
      title: Tax value
      required:
      - Value
      type: object
      properties:
        Code:
          type: string
          description: Code corresponding to tax type.
          nullable: true
        Value:
          type: number
          description: Amount of tax applied.
          format: double
      additionalProperties: false
      x-schema-id: TaxValue
    ReservationGroupOld:
      title: Reservation groups (ver 2017-04-12)
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the reservation group.
          format: uuid
        Name:
          type: string
          description: Name of the reservation group.
          nullable: true
      additionalProperties: false
      x-schema-id: ReservationGroupOld
    ReservationQrCodeData:
      title: Reservation QR code data
      type: object
      properties:
        ReservationId:
          type: string
          description: Unique identifier of the reservation.
          format: uuid
        Data:
          type: string
          description: Reservation data for QR code generation.
          nullable: true
      additionalProperties: false
      x-schema-id: ReservationQrCodeData
    RebateOrderItemData:
      title: Rebate order item data
      required:
      - RebatedItemId
      type: object
      properties:
        RebatedItemId:
          type: string
          description: Unique identifier of `OrderItem` which has been rebated by current item.
          format: uuid
      additionalProperties: false
      x-schema-id: RebateOrderItemData
    ProductOrderItemData:
      title: Product order item data
      required:
      - ProductId
      type: object
      properties:
        ProductId:
          type: string
          description: Unique identifier of the `Product`.
          format: uuid
        AgeCategoryId:
          type: string
          description: Unique identifier of the `AgeCategory`.
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: ProductOrderItemData
    Customer:
      title: Customer
      required:
      - ChainId
      - Classifications
      - CreatedUtc
      - CreatorProfileId
      - Id
      - IsActive
      - LastName
      - Number
      - Options
      - PreferredSpaceFeatures
      - UpdatedUtc
      - UpdaterProfileId
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the customer.
          format: uuid
        ChainId:
          type: string
          description: Unique identifier of the chain.
          format: uuid
        Number:
          maxLength: 19
          minLength: 1
          type: string
          description: Unique number of the customer (max 19 digits).
        Title:
          allOf:
          - $ref: '#/components/schemas/Title'
          description: 'Title of the customer.


            Mister (Mr.)


            Miss (Ms.)


            Misses (Mrs.)'
          nullable: true
        Sex:
          allOf:
          - $ref: '#/components/schemas/SexEnum'
          description: 'Sex of the customer.


            Male


            Female'
          nullable: true
        FirstName:
          type: string
          description: First name of the customer.
          nullable: true
        LastName:
          minLength: 1
          type: string
          description: Last name of the customer.
        SecondLastName:
          type: string
          description: Second last name of the customer.
          nullable: true
        NationalityCode:
          type: string
          description: ISO 3166-1 code of the [Country](https://mews-systems.gitbook.io/connector-api/operations/countries/#country).
          nullable: true
        PreferredLanguageCode:
          type: string
          description: 'Language and culture code of the customer''s preferred language, according to their profile. For example: `en-GB`, `fr-CA`.'
          nullable: true
        LanguageCode:
          type: string
          description: Language and culture code of the customer's language, based on multiple sources. These sources include the preferred language specified in internal data based on previous bookings, and the preferred language of the customer specified in their profile. If neither of these sources are present, we use the native language based on the customer's nationality. The format is, for example, `en-US` or `fr-FR`.
          nullable: true
        BirthDate:
          type: string
          description: Date of birth in ISO 8601 format.
          nullable: true
        BirthCountryCode:
          type: string
          description: ISO 3166-1 alpha-2 code of the birth country.
          nullable: true
        BirthCountrySubdivisionCode:
          type: string
          description: ISO 3166-2 code of the administrative division, e.g. ES-C.
          nullable: true
        BirthPlace:
          type: string
          description: Place of birth.
          nullable: true
        Occupation:
          type: string
          description: Occupation of the customer.
          nullable: true
        Email:
          type: string
          description: Email address of the customer.
          nullable: true
        HasOtaEmail:
          type: boolean
          description: Whether the customer's email address is a temporary email address from an OTA. For more details, see the [product documentation](https://help.mews.com/s/article/how-to-maintain-ota-guest-profiles-with-verified-email-addresses-obtained-from-the-guest-portal).
        Phone:
          type: string
          description: Phone number of the customer (possibly mobile).
          nullable: true
        TaxIdentificationNumber:
          type: string
          description: Tax identification number of the customer.
          nullable: true
        LoyaltyCode:
          type: string
          description: Loyalty code of the customer.
          nullable: true
        AccountingCode:
          type: string
          description: Accounting code of the customer.
          nullable: true
        BillingCode:
          type: string
          description: Billing code of the customer.
          nullable: true
        Notes:
          type: string
          description: Internal notes about the customer.
          nullable: true
        CarRegistrationNumber:
          maxLength: 255
          type: string
          description: Registration number of the customer's car.
          nullable: true
        DietaryRequirements:
          maxLength: 255
          type: string
          description: Customer's dietary requirements, e.g. Vegan, Halal.
          nullable: true
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the customer in UTC timezone in ISO 8601 format.
          format: date-time
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the customer in UTC timezone in ISO 8601 format.
          format: date-time
        Passport:
          title: Identity document
          allOf:
          - $ref: '#/components/schemas/IdentityDocument'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#get-all-identity-documents) to fetch identity documents.
        IdentityCard:
          title: Identity document
          allOf:
          - $ref: '#/components/schemas/IdentityDocument'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#get-all-identity-documents) to fetch identity documents.
        Visa:
          title: Identity document
          allOf:
          - $ref: '#/components/schemas/IdentityDocument'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#get-all-identity-documents) to fetch identity documents.
        DriversLicense:
          title: Identity document
          allOf:
          - $ref: '#/components/schemas/IdentityDocument'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#get-all-identity-documents) to fetch identity documents.
        Address:
          title: Address
          allOf:
          - $ref: '#/components/schemas/OldAddress'
          description: ''
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `AddressId` instead.
        AddressId:
          type: string
          description: Unique identifier of the `Address` of the customer.
          format: uuid
          nullable: true
        Classifications:
          type: array
          items:
            $ref: '#/components/schemas/CustomerClassificationEnum'
          description: Classifications of the customer.
        Options:
          type: array
          items:
            $ref: '#/components/schemas/CustomerOptionsEnum'
          description: Options of the customer.
        ItalianDestinationCode:
          type: string
          description: Value of Italian destination code.
          nullable: true
        ItalianFiscalCode:
          type: string
          description: Value of Italian fiscal code.
          nullable: true
        ItalianLotteryCode:
          type: string
          description: Italian lottery code.
          nullable: true
        CompanyId:
          type: string
          description: Unique identifier of [Company](https://mews-systems.gitbook.io/connector-api/operations/companies/#company) the customer is associated with.
          format: uuid
          nullable: true
        MergeTargetId:
          type: string
          description: Unique identifier of the account ([Customer](https://mews-systems.gitbook.io/connector-api/operations/#customer)) to which this customer is linked.
          format: uuid
          nullable: true
        ActivityState:
          type: string
          description: '[Activity State](https://mews-systems.gitbook.io/connector-api/operations/#activity-state) of customer record, i.e. whether active or deleted.'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `IsActive` instead.
        IsActive:
          type: boolean
          description: Whether the customer record is still active.
        PreferredSpaceFeatures:
          type: array
          items:
            $ref: '#/components/schemas/ResourceFeatureClassification'
[...]
