openapi: 3.0.4
info:
  title: Account notes BookingEngineApi API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: BookingEngineApi
paths:
  /api/bookingEngine/v1/services/getAvailability:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAvailabilityResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAvailabilityResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAvailabilityResult'
  /api/bookingEngine/v1/reservations/getPricing:
    post:
      tags:
      - BookingEngineApi
      description: https://mews.myjetbrains.com/youtrack/issue/RND-102251
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPricing'
      deprecated: true
      x-deprecatedMessage: https://mews.myjetbrains.com/youtrack/issue/RND-102251
    options:
      tags:
      - BookingEngineApi
      description: https://mews.myjetbrains.com/youtrack/issue/RND-102251
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPricing'
      deprecated: true
      x-deprecatedMessage: https://mews.myjetbrains.com/youtrack/issue/RND-102251
  /api/bookingEngine/v1/availabilityBlocks/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult'
  /api/bookingEngine/v1/configurations/get:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResult'
  /api/bookingEngine/v1/enterprises/getPaymentConfiguration:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfiguration'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfiguration'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfiguration'
  /api/bookingEngine/v1/paymentCurrency/get:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResult'
  /api/bookingEngine/v1/exchangeRates/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResult'
  /api/bookingEngine/v1/paymentCards/authorize:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentCardParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizePaymentCardResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentCardParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizePaymentCardResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentCardParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizePaymentCardResult'
  /api/bookingEngine/v1/paymentCards/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCardResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCardResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCardResult'
  /api/bookingEngine/v1/reservationGroups/create:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
  /api/bookingEngine/v1/reservationGroups/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
  /api/bookingEngine/v1/reservationGroups/get:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
  /api/bookingEngine/v1/reservations/getPrices:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
  /api/bookingEngine/v1/reservations/price:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
  /api/bookingEngine/v1/products/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAllProductsParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAllProductsParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAllProductsParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsResult'
  /api/bookingEngine/v1/products/getPrices:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricesResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricesResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricesResult'
  /api/bookingEngine/v1/services/getPricing:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePricingResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePricingResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePricingResult'
  /api/bookingEngine/v1/restrictions/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestrictionParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionResult'
    options:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestrictionParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionResult'
    get:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestrictionParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionResult'
  /api/bookingEngine/v1/services/getPromotions:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePromotionParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedServiceResult'
  /api/bookingEngine/v1/services/getCalendarData:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarDataParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarDataResult'
  /api/bookingEngine/v1/resourceCategories/getAll:
    post:
      tags:
      - BookingEngineApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceCategoryParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCategoryResult'
components:
  schemas:
    AgeCategoryProductPrice:
      title: AgeCategoryProductPrice
      required:
      - AgeCategoryId
      - ProductId
      - TotalAmount
      - UnitAmount
      - UnitAmountPerFullTimeUnit
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
        AgeCategoryId:
          type: string
          format: uuid
        TotalAmount: {}
        UnitAmount: {}
        UnitAmountPerFullTimeUnit: {}
      additionalProperties: false
      x-schema-id: AgeCategoryProductPrice
    ReservationGroupResult:
      title: ReservationGroupResult
      required:
      - CreditCardAvailable
      - OrderedProducts
      - Rates
      - ReservationGroups
      - Reservations
      type: object
      properties:
        Id:
          type: string
          format: uuid
          deprecated: true
        CustomerId:
          type: string
          format: uuid
          nullable: true
          deprecated: true
        PaymentRequestId:
          type: string
          format: uuid
          nullable: true
          deprecated: true
        TotalCost:
          nullable: true
          deprecated: true
        TotalAmount:
          nullable: true
          deprecated: true
        ReservationGroups:
          type: array
          items:
            $ref: '#/components/schemas/ReservationGroup'
        Reservations:
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
        OrderedProducts:
          type: array
          items:
            $ref: '#/components/schemas/OrderedProduct'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        ResourceCategories:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategory'
          nullable: true
        CreditCardAvailable:
          type: boolean
        PaymentCardId:
          type: string
          format: uuid
          nullable: true
        PaymentRequests:
          type: array
          items:
            $ref: '#/components/schemas/PaymentRequest'
          nullable: true
        Payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
          nullable: true
      additionalProperties: false
      x-schema-id: ReservationGroupResult
    PromotedServiceReservationParameters:
      title: PromotedServiceReservationParameters
      required:
      - EndUtc
      - ParentReservationIdentifier
      - PromotedServiceAssignmentId
      - StartUtc
      type: object
      properties:
        ParentReservationIdentifier:
          minLength: 1
          type: string
        PromotedServiceAssignmentId:
          type: string
          format: uuid
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        Notes:
          type: string
          nullable: true
        Identifier:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: PromotedServiceReservationParameters
    ServiceAvailabilityResult:
      title: ServiceAvailabilityResult
      required:
      - ApplicableRestrictions
      - CategoryAvailabilities
      - TimeUnitStartsUtc
      type: object
      properties:
        TimeUnitStartsUtc:
          type: array
          items:
            type: string
        CategoryAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/CategoryAvailability'
        ApplicableRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/Restriction'
        CategoryMappings:
          type: array
          items:
            $ref: '#/components/schemas/CategoryMapping'
          nullable: true
      additionalProperties: false
      x-schema-id: ServiceAvailabilityResult
    ResourceCategoryResult:
      title: ResourceCategoryResult
      required:
      - ResourceCategories
      type: object
      properties:
        ResourceCategories:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategory'
        ImageAssignments:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategoryImageAssignment'
          nullable: true
      additionalProperties: false
      x-schema-id: ResourceCategoryResult
    TimeUnitPeriod:
      enum:
      - Day
      - Month
      - Hour
      type: string
    TaxValue:
      title: TaxValue
      required:
      - TaxRateCode
      - Value
      type: object
      properties:
        TaxRateCode:
          minLength: 1
          type: string
        Value:
          type: number
          format: double
      additionalProperties: false
      x-schema-id: TaxValue
    PromotedService:
      title: PromotedService
      required:
      - MinPricePerTimeUnit
      - Ordering
      - PromotedRateId
      - PromotedRateName
      - PromotedResourceCategoryDescription
      - PromotedResourceCategoryId
      - PromotedResourceCategoryName
      - PromotedServiceAssignmentId
      - PromotedServiceDefaultOccupancyData
      - PromotedServiceEndOffset
      - PromotedServiceId
      - PromotedServiceOptions
      - PromotedServiceReservationIntervalLimit
      - PromotedServiceStartOffset
      - PromotedServiceTimeUnitPeriod
      - PromotedServiceUnitCountLimit
      type: object
      properties:
        PromotedServiceAssignmentId:
          type: string
          format: uuid
        PromotedServiceId:
          type: string
          format: uuid
        PromotedRateId:
          type: string
          format: uuid
        PromotedServiceTimeUnitPeriod:
          $ref: '#/components/schemas/TimeUnitPeriod'
        PromotedServiceStartOffset:
          minLength: 1
          type: string
          format: date-time
          readOnly: true
        PromotedServiceEndOffset:
          minLength: 1
          type: string
          format: date-time
          readOnly: true
        PromotedServiceUnitCountLimit:
          $ref: '#/components/schemas/PromotedServiceAssignmentUnitCountLimit'
        PromotedServiceReservationIntervalLimit:
          $ref: '#/components/schemas/PromotedServiceAssignmentReservationIntervalLimit'
        PromotedServiceDefaultOccupancyData:
          allOf:
          - $ref: '#/components/schemas/OccupancyData'
        PromotedServiceOptions:
          allOf:
          - $ref: '#/components/schemas/ServiceOptions'
        PromotedRateName:
          type: object
          additionalProperties:
            type: string
        PromotedResourceCategoryId:
          type: string
          format: uuid
        PromotedResourceCategoryName:
          type: object
          additionalProperties:
            type: string
        PromotedResourceCategoryDescription:
          type: object
          additionalProperties:
            type: string
        AvailableCount:
          type: integer
          format: int32
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
          nullable: true
        UnitAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
          nullable: true
        ImageId:
          type: string
          format: uuid
          nullable: true
        Ordering:
          type: integer
          format: int32
        MinPricePerTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
          readOnly: true
      additionalProperties: false
      x-schema-id: PromotedService
    CalendarDataResult:
      title: CalendarDataResult
      required:
      - Rates
      - ResourceCategories
      type: object
      properties:
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        ResourceCategories:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategory'
      additionalProperties: false
      x-schema-id: CalendarDataResult
    ProductOrderPricingInfo:
      title: ProductOrderPricingInfo
      required:
      - Classifications
      - ProductId
      - TotalAmount
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
        AgeCategoryId:
          type: string
          format: uuid
          nullable: true
        ProductName:
          type: object
          additionalProperties:
            type: string
          nullable: true
          deprecated: true
        ProductOptions:
          allOf:
          - $ref: '#/components/schemas/ProductOptions'
          nullable: true
          deprecated: true
        ChargingMode:
          type: string
          nullable: true
          deprecated: true
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        Classifications:
          allOf:
          - $ref: '#/components/schemas/ProductClassificationValues'
      additionalProperties: false
      x-schema-id: ProductOrderPricingInfo
    Customer:
      title: Customer
      type: object
      properties:
        Email:
          type: string
          nullable: true
        FirstName:
          type: string
          nullable: true
        LastName:
          type: string
          nullable: true
        Telephone:
          type: string
          nullable: true
        NationalityCode:
          type: string
          nullable: true
        SendMarketingEmails:
          type: boolean
          nullable: true
        TaxIdentifier:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: Customer
    ResourceCategoryType:
      enum:
      - Room
      - Bed
      - Dorm
      - Apartment
      - Suite
      - Villa
      - Site
      - Office
      - MeetingRoom
      - ParkingSpot
      - Desk
      - TeamArea
      - Membership
      - Tent
      - CaravanOrRV
      - UnequippedCampsite
      - Bike
      - ExtraBed
      - Cot
      - Crib
      - ConferenceRoom
      - Rooftop
      - Garden
      - Restaurant
      - Amphitheater
      - PrivateSpaces
      type: string
    LegalEntityIdentifier:
      title: LegalEntityIdentifier
      type: object
      properties:
        Code:
          type: string
          nullable: true
        Label:
          type: string
          nullable: true
        ValidationRegex:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: LegalEntityIdentifier
    Occupancy:
      title: Occupancy
      type: object
      properties:
        AdultCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
        ChildCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
          nullable: true
      additionalProperties: false
      x-schema-id: Occupancy
    ReservationParameters:
      title: ReservationParameters
      required:
      - EndUtc
      - Identifier
      - OccupancyData
      - RateId
      - RoomCategoryId
      - StartUtc
      type: object
      properties:
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        RoomCategoryId:
          type: string
          format: uuid
        RateId:
          type: string
          format: uuid
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        Notes:
          type: string
          nullable: true
        Identifier:
          minLength: 1
          type: string
        VoucherCode:
          type: string
          nullable: true
        AdultCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
        ChildCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
        MaxAdultCount:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
      x-schema-id: ReservationParameters
    OrderedProduct:
      title: OrderedProduct
      required:
      - Amounts
      - Name
      - ProductId
      - Quantity
      - ReservationGroupId
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
        ReservationGroupId:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Amounts: {}
        Quantity:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: OrderedProduct
    Address:
      title: Address
      type: object
      properties:
        Line1:
          type: string
          nullable: true
        Line2:
          type: string
          nullable: true
        City:
          type: string
          nullable: true
        PostalCode:
          type: string
          nullable: true
        CountryCode:
          type: string
          nullable: true
        Latitude:
          type: number
          format: double
          nullable: true
        Longitude:
          type: number
          format: double
          nullable: true
      additionalProperties: false
      x-schema-id: Address
    ExchangeRateResult:
      title: ExchangeRateResult
      required:
      - EnterpriseExchangeRates
      - PlatformExchangeRates
      type: object
      properties:
        EnterpriseExchangeRates:
          type: array
          items:
            $ref: '#/components/schemas/ExchangeRate'
        PlatformExchangeRates:
          type: array
          items:
            $ref: '#/components/schemas/ExchangeRate'
      additionalProperties: false
      x-schema-id: ExchangeRateResult
    AvailabilityBlockFilterParameters:
      title: AvailabilityBlockFilterParameters
      required:
      - AvailabilityBlockIds
      - Client
      - EnterpriseId
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
        AvailabilityBlockIds:
          type: array
          items:
            type: string
            format: uuid
      additionalProperties: false
      x-schema-id: AvailabilityBlockFilterParameters
    ResourcePricing:
      title: ResourcePricing
      type: object
      properties:
        RateId:
          type: string
          format: uuid
        Price:
          allOf:
          - $ref: '#/components/schemas/ResourcePrice'
          nullable: true
        MaxPrice:
          allOf:
          - $ref: '#/components/schemas/ResourcePrice'
          nullable: true
        CityTaxIncludedInPrice:
          type: boolean
        SellLimitStatistic:
          allOf:
          - $ref: '#/components/schemas/SellLimitStatistic'
          nullable: true
      additionalProperties: false
      x-schema-id: ResourcePricing
    OccupancyData:
      title: OccupancyData
      required:
      - AgeCategoryId
      - PersonCount
      type: object
      properties:
        AgeCategoryId:
          type: string
          format: uuid
        PersonCount:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: OccupancyData
    Service:
      title: Service
      required:
      - CreatedUtc
      - Data
      - EnterpriseId
      - Id
      - IsActive
      - Names
      - Ordering
      - ShortNames
      type: object
      properties:
        Id:
          type: string
          format: uuid
        EnterpriseId:
          type: string
          format: uuid
        Ordering:
          type: integer
          format: int32
        CreatedUtc:
          minLength: 1
          type: string
        Names:
          type: object
          additionalProperties:
            type: string
        ShortNames:
          type: object
          additionalProperties:
            type: string
        IsActive:
          type: boolean
        Data:
          allOf:
          - $ref: '#/components/schemas/Coproduct'
      additionalProperties: false
      x-schema-id: Service
    ReservationGroupExtent:
      title: ReservationGroupExtent
      required:
      - PaymentRequests
      - Payments
      - ResourceCategories
      type: object
      properties:
        PaymentRequests:
          type: boolean
        Payments:
          type: boolean
        ResourceCategories:
          type: boolean
      additionalProperties: false
      x-schema-id: ReservationGroupExtent
    ProductPrice:
      title: ProductPrice
      required:
      - AgeCategoryPrices
      - ProductId
      - TotalAmount
      - UnitAmount
      - UnitAmountPerFullTimeUnit
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
        TotalAmount: {}
        UnitAmount: {}
        UnitAmountPerFullTimeUnit: {}
        AgeCategoryPrices:
          type: array
          items:
            $ref: '#/components/schemas/AgeCategoryProductPrice'
      additionalProperties: false
      x-schema-id: ProductPrice
    ReservationPricingParameters:
      title: ReservationPricingParameters
      required:
      - Client
      - Occupancies
      - RoomCategoryId
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        HotelId:
          type: string
          format: uuid
        VoucherCode:
          type: string
          nullable: true
        StartUtc:
          type: string
          nullable: true
        EndUtc:
          type: string
          nullable: true
        BookingEngineId:
          type: string
          format: uuid
          nullable: true
        RoomCategoryId:
          type: string
          format: uuid
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
        RateIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        Occupancies:
          type: array
          items:
            $ref: '#/components/schemas/Occupancy'
      additionalProperties: false
      x-schema-id: ReservationPricingParameters
    ReservationPriceParameters:
      title: ReservationPriceParameters
      required:
      - Client
      - Reservations
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        ConfigurationId:
          type: string
          format: uuid
          nullable: true
          deprecated: true
        ServiceId:
          type: string
          format: uuid
          nullable: true
        Reservations:
          type: array
          items:
            $ref: '#/components/schemas/ReservationParameters'
        PromotedServiceReservations:
          type: array
          items:
            $ref: '#/components/schemas/PromotedServiceReservationParameters'
          nullable: true
        CurrencyCode:
          type: string
          nullable: true
        SettlementCurrencyCode:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: ReservationPriceParameters
    ConfigurationParameters:
      title: ConfigurationParameters
      required:
      - Client
      - Ids
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        Ids:
          type: array
          items:
            type: string
            format: uuid
        PrimaryId:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: ConfigurationParameters
    ReservationPriceResult:
      title: ReservationPriceResult
      required:
      - CancellationFees
      - CancellationPolicies
      - ReservationPrice
      - TotalAmountGatewayCurrency
      type: object
      properties:
        ReservationPrice:
          type: array
          items:
            $ref: '#/components/schemas/ReservationPricingInfo'
        CancellationPolicies:
          type: array
          items:
            $ref: '#/components/schemas/CancellationPolicy'
        CancellationFees:
          type: array
          items:
            $ref: '#/components/schemas/CancellationFeeResult'
        TotalAmountGatewayCurrency:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: ReservationPriceResult
    EnterpriseParameters:
      title: EnterpriseParameters
      required:
      - Client
      - EnterpriseId
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
      additionalProperties: false
      x-schema-id: EnterpriseParameters
    ProductOptions:
      title: ProductOptions
      type: object
      properties:
        SelectedByDefault:
          type: boolean
        BillAsPackage:
          type: boolean
        OfferToCustomer:
          type: boolean
        ExcludePriceFromOffer:
          type: boolean
        OfferToEmployee:
          type: boolean
      additionalProperties: false
      x-schema-id: ProductOptions
    PromotedServiceAssignmentReservationIntervalLimit:
      enum:
      - SameAsParent
      - InsideParent
      type: string
    PromotedServiceAssignmentUnitCountLimit:
      enum:
      - PerReservation
      - PerSpace
      - PerGuest
      - NoLimit
      type: string
    SellLimitStatistic:
      title: SellLimitStatistic
      required:
      - Available
      - Limit
      type: object
      properties:
        Limit:
          type: integer
          format: int32
        Available:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: SellLimitStatistic
    CategoryAvailability:
      title: CategoryAvailability
      required:
      - Availabilities
      - CategoryId
      type: object
      properties:
        CategoryId:
          type: string
          format: uuid
        Availabilities:
          type: array
          items:
            type: integer
            format: int32
      additionalProperties: false
      x-schema-id: CategoryAvailability
    PaymentCard:
      title: PaymentCard
      required:
      - AuthorizationState
      - Id
      type: object
      properties:
        Id:
          type: string
          format: uuid
        AuthorizationState:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: PaymentCard
    RestrictionParameters:
      title: RestrictionParameters
      required:
      - Client
      - EndUtc
      - ServiceIds
      - Session
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        ServiceIds:
          type: array
          items:
            type: string
            format: uuid
        StartUtc:
          minLength: 1
          type: string
          format: date-time
        EndUtc:
          minLength: 1
          type: string
          format: date-time
      additionalProperties: false
      x-schema-id: RestrictionParameters
    ServicePricingParameters:
      title: ServicePricingParameters
      required:
      - Client
      - CurrencyCode
      - EndUtc
      - EnterpriseId
      - ServiceId
      - Session
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        CurrencyCode:
          minLength: 1
          type: string
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        BookingEngineId:
          type: string
          format: uuid
          nullable: true
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
        RateIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        CategoryIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
          nullable: true
        VoucherCode:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: ServicePricingParameters
    RestrictionExceptions:
      title: RestrictionExceptions
      type: object
      properties:
        MinAdvance:
          type: string
          nullable: true
        MaxAdvance:
          type: string
          nullable: true
        MinLength:
          type: string
          nullable: true
        MaxLength:
          type: string
          nullable: true
        MinPrice:
          type: number
          format: double
          nullable: true
        MaxPrice:
          type: number
          format: double
          nullable: true
        PriceCurrencyCode:
          type: string
          nullable: true
        MaxReservationCount:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
      x-schema-id: RestrictionExceptions
    RateGroupPricing:
      title: RateGroupPricing
      required:
      - CityTaxIncludedInPrice
      - FeeProducts
      - MaxPrice
      - MinPrice
      - MinRateId
      type: object
      properties:
        MinRateId:
          type: string
          format: uuid
        MinPrice:
          allOf:
          - $ref: '#/components/schemas/RatePricing'
        MaxPrice:
          allOf:
          - $ref: '#/components/schemas/RatePricing'
        CityTaxIncludedInPrice:
          type: boolean
        FeeProducts:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        SellLimitStatistic:
          allOf:
          - $ref: '#/components/schemas/SellLimitStatistic'
          nullable: true
      additionalProperties: false
      x-schema-id: RateGroupPricing
    ExchangeRate:
      title: ExchangeRate
      required:
      - SourceCurrency
      - TargetCurrency
      type: object
      properties:
        SourceCurrency:
          minLength: 1
          type: string
          format: currency
        TargetCurrency:
          minLength: 1
          type: string
          format: currency
        Value:
          type: number
          format: double
          nullable: true
      additionalProperties: false
      x-schema-id: ExchangeRate
    ServicePromotionParameters:
      title: ServicePromotionParameters
      required:
      - Client
      - CurrencyCode
      - EndUtc
      - Session
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        ConfigurationId:
          type: string
          format: uuid
          nullable: true
          deprecated: true
        ServiceId:
          type: string
          format: uuid
          nullable: true
        CurrencyCode:
          minLength: 1
          type: string
        StartUtc:
          minLength: 1
          type: string
          format: date-time
        EndUtc:
          minLength: 1
          type: string
          format: date-time
      additionalProperties: false
      x-schema-id: ServicePromotionParameters
    ProductPricesResult:
      title: ProductPricesResult
      required:
      - Prices
      type: object
      properties:
        Prices:
          type: array
          items:
            $ref: '#/components/schemas/ProductPrice'
      additionalProperties: false
      x-schema-id: ProductPricesResult
    ResourcePrice:
      title: ResourcePrice
      type: object
      properties:
        Total:
          nullable: true
        TotalAmount:
          nullable: true
        AveragePerNight:
          nullable: true
          deprecated: true
        AveragePerTimeUnit:
          nullable: true
        AverageAmountPerNight:
          nullable: true
          deprecated: true
        AverageAmountPerTimeUnit:
          nullable: true
        AverageAmountPerFullTimeUnit:
          nullable: true
      additionalProperties: false
      x-schema-id: ResourcePrice
    CancellationFee:
      title: CancellationFee
      required:
      - Amount
      - EndUtc
      type: object
      properties:
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        Amount:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: CancellationFee
    BrowserInfo:
      title: BrowserInfo
      required:
      - ColorDepth
      - Language
      - ScreenHeight
      - ScreenWidth
      - TimeZoneOffset
      - UserAgent
      type: object
      properties:
        ColorDepth:
          type: integer
          format: int32
        ScreenWidth:
          type: integer
          format: int32
        ScreenHeight:
          type: integer
          format: int32
        TimeZoneOffset:
          type: integer
          format: int32
        UserAgent:
          minLength: 1
          type: string
        Language:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: BrowserInfo
    AuthorizePaymentCardResult:
      title: AuthorizePaymentCardResult
      required:
      - Id
      - PaymentCardId
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
        PaymentCardId:
          type: string
          format: uuid
        State:
          minLength: 1
          type: string
        Action:
          allOf:
          - $ref: '#/components/schemas/PaymentCardAuthorizationAction'
          nullable: true
      additionalProperties: false
      x-schema-id: AuthorizePaymentCardResult
    PaymentCardResult:
      title: PaymentCardResult
      required:
      - PaymentCards
      type: object
      properties:
        PaymentCards:
          type: array
          items:
            $ref: '#/components/schemas/PaymentCard'
      additionalProperties: false
      x-schema-id: PaymentCardResult
    AgeCategoryClassification:
      enum:
      - Adult
      - Child
      type: string
    ProductClassificationValues:
      title: ProductClassificationValues
      type: object
      properties:
        Food:
          type: boolean
        Beverage:
          type: boolean
        Wellness:
          type: boolean
        CityTax:
          type: boolean
        Fee:
          type: boolean
      additionalProperties: false
      x-schema-id: ProductClassificationValues
    ServiceAvailabilityParameters:
      title: ServiceAvailabilityParameters
      required:
      - Client
      - EndUtc
      - EnterpriseId
      - ServiceId
      - Session
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
        CategoryIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        BookingEngineId:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: ServiceAvailabilityParameters
    ResourceCategoryImageAssignment:
      title: ResourceCategoryImageAssignment
      required:
      - CategoryId
      - Id
      - ImageId
      - Ordering
      type: object
      properties:
        Id:
          type: string
          format: uuid
        CategoryId:
          type: string
          format: uuid
        ImageId:
          type: string
          format: uuid
        Ordering:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: ResourceCategoryImageAssignment
    Payment:
      title: Payment
      required:
      - Amount
      - CreatedUtc
      - EnterpriseId
      - Id
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
        EnterpriseId:
          type: string
          format: uuid
        CreatedUtc:
          minLength: 1
          type: string
        State:
          minLength: 1
          type: string
        Amount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        ChargeAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
          nullable: true
        PaymentRequestId:
          type: string
          format: uuid
          nullable: true
        StateShouldImmediatelyChange:
          type: boolean
      additionalProperties: false
      x-schema-id: Payment
    PaymentCardAuthorizationAction:
      title: PaymentCardAuthorizationAction
      required:
      - HttpMethod
      - Type
      - Url
      type: object
      properties:
        Type:
          minLength: 1
          type: string
        Url:
          minLength: 1
          type: string
        HttpMethod:
          minLength: 1
          type: string
        Data:
          nullable: true
      additionalProperties: false
      x-schema-id: PaymentCardAuthorizationAction
    Coproduct:
      title: Coproduct
      required:
      - Discriminator
      - Value
      type: object
      properties:
        Discriminator:
          minLength: 1
          type: string
        Value: {}
      additionalProperties: false
      x-schema-id: Coproduct
    AgeCategory:
      title: AgeCategory
      required:
      - Classification
      - Id
      - IsDefault
      - Name
      - ServiceId
      - ShortName
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        ShortName:
          type: object
          additionalProperties:
            type: string
        Classification:
          $ref: '#/components/schemas/AgeCategoryClassification'
        IsDefault:
          type: boolean
        MinimalAge:
          type: integer
          format: int32
          nullable: true
        MaximalAge:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
      x-schema-id: AgeCategory
    ResourceCategory:
      title: ResourceCategory
      required:
      - Description
      - ExtraBedCount
      - Id
      - Name
      - NormalBedCount
      - Ordering
      - ServiceId
      - SpaceType
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        Ordering:
          type: integer
          format: int32
        NormalBedCount:
          type: integer
          format: int32
        ExtraBedCount:
          type: integer
          format: int32
        SpaceType:
          $ref: '#/components/schemas/ResourceCategoryType'
      additionalProperties: false
      x-schema-id: ResourceCategory
    ReservationGroupParameters:
      title: ReservationGroupParameters
      required:
      - Client
      - Ids
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        HotelId:
          type: string
          format: uuid
          nullable: true
        EnterpriseId:
          type: string
          format: uuid
          nullable: true
        ReservationGroupId:
          type: string
          format: uuid
          nullable: true
          deprecated: true
        Ids:
          type: array
          items:
            type: string
            format: uuid
        Extent:
          allOf:
          - $ref: '#/components/schemas/ReservationGroupExtent'
          nullable: true
      additionalProperties: false
      x-schema-id: ReservationGroupParameters
    Rate:
      title: Rate
      required:
      - CurrencyCode
      - Description
      - Id
      - IsDefault
      - IsPrivate
      - Name
      - Ordering
      - RateGroupId
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        RateGroupId:
          type: string
          format: uuid
        BaseRateId:
          type: string
          format: uuid
          nullable: true
        Ordering:
          type: integer
          format: int32
        Name:
          type: object
          additionalProperties:
            type: string
            nullable: true
        Description:
          type: object
          additionalProperties:
            type: string
            nullable: true
        IsPrivate:
          type: boolean
        IsDefault:
          type: boolean
        CurrencyCode:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: Rate
    OrderItemType:
      enum:
      - CancellationFee
      - NightRebate
      - ProductOrderRebate
      - AdditionalExpenseRebate
      - Deposit
      - ExchangeRateDifference
      - CustomItem
      - ServiceCharge
      - CityTax
      - CityTaxDiscount
      - SpaceOrder
      - ProductOrder
      - Surcharge
      - TaxCorrection
      - ResourceUpgradeFee
      - InvoiceFee
      - MulticurrencyFee
      - AllowanceDiscount
      - AllowanceBreakage
      - AllowanceContraBreakage
      type: string
    RestrictionType:
      enum:
      - ClosedToStay
      - ClosedToArrival
      - ClosedToDeparture
      type: string
    BookingEngineTaxMessage:
      enum:
      - None
      - Vat
      - VatAndCityTax
      - CityTax
      - Fees
      - VatAndFees
      - CityTaxAndFees
      - VatAndCityTaxAndFees
      type: string
    PaymentMethods:
      title: PaymentMethods
      required:
      - ApplePay
      - GooglePay
      - Ideal
      - PaymentCard
      type: object
      properties:
        PaymentCard:
          type: boolean
        Ideal:
          type: boolean
        ApplePay:
          type: boolean
        GooglePay:
          type: boolean
      additionalProperties: false
      x-schema-id: PaymentMethods
    ConfigurationResult:
      title: ConfigurationResult
      required:
      - AgeCategories
      - BookingEngines
      - Chains
      - Cities
      - CurrencyCodes
      - Enterprises
      - ImageBaseUrl
      - Services
      type: object
      properties:
        ImageBaseUrl:
          minLength: 1
          type: string
        CurrencyCodes:
          type: array
          items:
            type: string
        BookingEngines:
          type: array
          items:
            $ref: '#/components/schemas/BookingEngine'
        Cities:
          type: array
          items:
            $ref: '#/components/schemas/City'
        AgeCategories:
          type: array
          items:
            $ref: '#/components/schemas/AgeCategory'
        Services:
          type: array
          items:
            $ref: '#/components/schemas/Service'
        Chains:
          type: array
          items:
            $ref: '#/components/schemas/Chain'
        Enterprises:
          type: array
          items:
            $ref: '#/components/schemas/Enterprise'
      additionalProperties: false
      x-schema-id: ConfigurationResult
    ResourceCategoryPricing:
      title: ResourceCategoryPricing
      required:
      - CategoryId
      - OccupancyPrices
      type: object
      properties:
        CategoryId:
          type: string
          format: uuid
        OccupancyPrices:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyPricing'
      additionalProperties: false
      x-schema-id: ResourceCategoryPricing
    BookingEngine:
      title: BookingEngine
      required:
      - BookerReservationCustomerEmailInput
      - CancellationOffset
      - CheckoutStatement
      - CompetitorRateDescription
      - DisplayFlexibleRates
      - Id
      - IsDefault
      - IsPrimary
      - OccupancyData
      - PaymentCardRequirement
      - RequiredFields
      - ServiceId
      - TaxMessage
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        IsPrimary:
          type: boolean
        IsDefault:
          type: boolean
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        PaymentCardRequirement:
          minLength: 1
          type: string
        BookerReservationCustomerEmailInput:
          minLength: 1
          type: string
        RequiredFields:
          type: array
          items:
            type: string
        CheckoutStatement:
          type: object
          additionalProperties:
            type: string
        CompetitorRateDescription:
          type: object
          additionalProperties:
            type: string
        TaxMessage:
          $ref: '#/components/schemas/BookingEngineTaxMessage'
        CancellationOffset:
          minLength: 1
          type: string
        DisplayFlexibleRates:
          type: boolean
        OnlineTravelAgencies:
          type: array
          items:
            type: string
          nullable: true
        LanguageCode:
          type: string
          nullable: true
        CurrencyCode:
          type: string
          nullable: true
        IntroVideoUrl:
          type: string
          nullable: true
        Theme:
          type: string
          nullable: true
        PrimaryColor:
          type: string
          nullable: true
        VoucherCode:
          type: string
          nullable: true
        DisplayVoucherCode:
          type: boolean
          nullable: true
        GtmContainerId:
          type: string
          nullable: true
        StartDateOffset:
          type: integer
          format: int32
          nullable: true
        EndDateOffset:
          type: integer
          format: int32
          nullable: true
        DisplaySpecialRequests:
          type: boolean
          nullable: true
        DisplayRateComparison:
          type: boolean
          nullable: true
        DisplayAvailability:
          type: boolean
          nullable: true
        ChildSelectionEnabled:
          type: boolean
          nullable: true
        CompetitorPriceRelativeAdjustment:
          type: number
          format: double
          nullable: true
        MaxAdultCount:
          type: integer
          format: int32
          nullable: true
        IncludeEmailInPurchaseEvent:
          type: boolean
        AllowAfterMidnightReservations:
          type: boolean
      additionalProperties: false
      x-schema-id: BookingEngine
    TaxBreakdownItem:
      title: TaxBreakdownItem
      required:
      - NetValue
      - TaxRateCode
      - TaxValue
      type: object
      properties:
        TaxRateCode:
          minLength: 1
          type: string
        NetValue:
          type: number
          format: double
        TaxValue:
          type: number
          format: double
      additionalProperties: false
      x-schema-id: TaxBreakdownItem
    ServiceOptions:
      title: ServiceOptions
      required:
      - ProRataCharging
      type: object
      properties:
        ProRataCharging:
          type: boolean
      additionalProperties: false
      x-schema-id: ServiceOptions
    GetAllProductsResult:
      title: GetAllProductsResult
      required:
      - Products
      type: object
      properties:
        Products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
      additionalProperties: false
      x-schema-id: GetAllProductsResult
    Chain:
      title: Chain
      required:
      - Id
      - Name
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          minLength: 1
          type: string
        Email:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: Chain
    SurchargeConfiguration:
      title: SurchargeConfiguration
      required:
      - SurchargeFees
      type: object
      properties:
        SurchargeFees:
          type: object
          additionalProperties:
            type: number
            format: double
        SurchargeServiceId:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: SurchargeConfiguration
    RatePricing:
      title: RatePricing
      required:
      - AverageAmountPerFullTimeUnit
      - AverageAmountPerTimeUnit
      - TotalAmount
      type: object
      properties:
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        AverageAmountPerTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
        AverageAmountPerFullTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: RatePricing
    ResourceOccupancyPricing:
      title: ResourceOccupancyPricing
      type: object
      properties:
        AdultCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
        ChildCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
          nullable: true
        Pricing:
          type: array
          items:
            $ref: '#/components/schemas/ResourcePricing'
          nullable: true
      additionalProperties: false
      x-schema-id: ResourceOccupancyPricing
    LegalEntityIdentifierConfiguration:
      title: LegalEntityIdentifierConfiguration
      type: object
      properties:
        LegalEntityIdentifier:
          allOf:
          - $ref: '#/components/schemas/LegalEntityIdentifier'
          nullable: true
        IsRequired:
          type: boolean
      additionalProperties: false
      x-schema-id: LegalEntityIdentifierConfiguration
    Restriction:
      title: Restriction
      required:
      - Conditions
      - Exceptions
      - Id
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        Conditions:
          allOf:
          - $ref: '#/components/schemas/RestrictionConditions'
        Exceptions:
          allOf:
          - $ref: '#/components/schemas/RestrictionExceptions'
        ExternalIdentifier:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: Restriction
    CalendarDataParameters:
      title: CalendarDataParameters
      required:
      - BookingEngineId
      - Client
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        BookingEngineId:
          type: string
          format: uuid
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
        VoucherCode:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: CalendarDataParameters
    City:
      title: City
      required:
      - Id
      - Name
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        ImageId:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: City
    AuthorizePaymentCardParameters:
      title: AuthorizePaymentCardParameters
      required:
      - BrowserInfo
      - Client
      - EnterpriseId
      - PaymentCardId
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
        PaymentCardId:
          type: string
          format: uuid
        BrowserInfo:
          allOf:
          - $ref: '#/components/schemas/BrowserInfo'
      additionalProperties: false
      x-schema-id: AuthorizePaymentCardParameters
    ServicePricingResult:
      title: ServicePricingResult
      required:
      - CancellationFees
      - CancellationPolicies
      - CategoryPrices
      - RateGroups
      - Rates
      - ViolatedRestrictions
      type: object
      properties:
        RateGroups:
          type: array
          items:
            $ref: '#/components/schemas/RateGroup'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        CategoryPrices:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategoryPricing'
        ViolatedRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/Restriction'
        CancellationPolicies:
          type: array
          items:
            $ref: '#/components/schemas/CancellationPolicy'
        CancellationFees:
          type: array
          items:
            $ref: '#/components/schemas/CancellationFeeResult'
      additionalProperties: false
      x-schema-id: ServicePricingResult
    ReservationGroup:
      title: ReservationGroup
      required:
      - Id
      - Name
      - TotalAmount
      - TotalCost
      type: object
      properties:
        Id:
          type: string
          format: uuid
        TotalCost: {}
        TotalAmount: {}
        Name:
          minLength: 1
          type: string
        ReservationOwnerEmail:
          type: string
          nullable: true
        CustomerId:
          type: string
          format: uuid
          nullable: true
        PaymentRequestId:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: ReservationGroup
    ProductPricingParameters:
      title: ProductPricingParameters
      required:
      - Client
      - CurrencyCode
      - EndUtc
      - OccupancyData
      - ProductIds
      - Session
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        ConfigurationId:
          type: string
          format: uuid
          nullable: true
          deprecated: true
        ServiceId:
          type: string
          format: uuid
          nullable: true
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        CurrencyCode:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: ProductPricingParameters
    Enterprise:
      title: Enterprise
      required:
      - AcceptedCurrencyCodes
      - Address
      - ChainId
      - CityId
      - DefaultCurrencyCode
      - DefaultLanguageCode
      - Description
      - Email
      - IanaTimeZoneIdentifier
      - Id
      - IsFxMultiCurrencyServiceEnabled
      - Name
      - Pricing
      - TaxEnvironmentCode
      - Telephone
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ChainId:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
        CityId:
          type: string
          format: uuid
        Email:
          minLength: 1
          type: string
        Telephone:
          minLength: 1
          type: string
        DefaultLanguageCode:
          minLength: 1
          type: string
        DefaultCurrencyCode:
          minLength: 1
          type: string
        IanaTimeZoneIdentifier:
          minLength: 1
          type: string
        AcceptedCurrencyCodes:
          type: array
          items:
            type: string
        TaxEnvironmentCode:
          minLength: 1
          type: string
        Pricing:
          minLength: 1
          type: string
        AdditionalLegalStatements:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
          nullable: true
          deprecated: true
        ImageId:
          type: string
          format: uuid
          nullable: true
        IntroImageId:
          type: string
          format: uuid
          nullable: true
        GrossAmountTaxPrecision:
          type: integer
          format: int32
          nullable: true
        ShowSmsConsent:
          type: boolean
        AccountingEnvironment:
          allOf:
          - $ref: '#/components/schemas/AccountingEnvironment'
          nullable: true
        IsFxMultiCurrencyServiceEnabled:
          type: boolean
      additionalProperties: false
      x-schema-id: Enterprise
    ExchangeRateParameters:
      title: ExchangeRateParameters
      required:
      - Client
      - EnterpriseId
      - Session
      - SourceCurrencyCode
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        EnterpriseId:
          type: string
          format: uuid
        SourceCurrencyCode:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: ExchangeRateParameters
    PromotedServiceResult:
      title: PromotedServiceResult
      type: object
      properties:
        PromotedServices:
          type: array
          items:
            $ref: '#/components/schemas/PromotedService'
          nullable: true
        ResourceCategories:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategory'
          nullable: true
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
          nullable: true
      additionalProperties: false
      x-schema-id: PromotedServiceResult
    AdditionalExpensePricingInfo:
      title: AdditionalExpensePricingInfo
      required:
      - TotalAmount
      - Type
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/OrderItemType'
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: AdditionalExpensePricingInfo
    ResourceCategoryExtent:
      title: ResourceCategoryExtent
      required:
      - ImageAssignments
      type: object
      properties:
        ImageAssignments:
          type: boolean
      additionalProperties: false
      x-schema-id: ResourceCategoryExtent
    Product:
      title: Product
      required:
      - AlwaysIncluded
      - Amounts
      - ChargingMode
      - Classifications
      - Description
      - Id
      - IncludedByDefault
      - Name
      - Ordering
      - PostingMode
      - Prices
      - Pricing
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        IncludedByDefault:
          type: boolean
        AlwaysIncluded:
          type: boolean
        Prices: {}
        Pricing:
          allOf:
          - $ref: '#/components/schemas/Coproduct'
        Amounts: {}
        Charging:
          type: string
          nullable: true
          deprecated: true
        ChargingMode:
          minLength: 1
          type: string
        Posting:
          type: string
          nullable: true
          deprecated: true
        PostingMode:
          minLength: 1
          type: string
        Ordering:
          type: integer
          format: int32
        CategoryId:
          type: string
          format: uuid
          nullable: true
        ImageId:
          type: string
          format: uuid
          nullable: true
        RelativePrice:
          type: number
          format: double
          nullable: true
        Classifications:
          type: array
          items:
            type: string
      additionalProperties: false
      x-schema-id: Product
    PaymentCardFilterParameters:
      title: PaymentCardFilterParameters
      required:
      - Client
      - PaymentCardIds
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        PaymentCardIds:
          type: array
          items:
            type: string
            format: uuid
      additionalProperties: false
      x-schema-id: PaymentCardFilterParameters
    BookingEngineParameters:
      title: BookingEngineParameters
      required:
      - BookingEngineId
      - Client
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        BookingEngineId:
          type: string
          format: uuid
      additionalProperties: false
      x-schema-id: BookingEngineParameters
    CancellationPolicy:
      title: CancellationPolicy
      required:
      - CalculatedFee
      - EndUtc
      - RateId
      type: object
      properties:
        RateId:
          type: string
          format: uuid
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        CalculatedFee:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: CancellationPolicy
    Amount:
      title: Amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
        GrossValue:
          type: number
          format: double
        NetValue:
          type: number
          format: double
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
        Breakdown:
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
      additionalProperties: false
      x-schema-id: Amount
    OccupancyPricing:
      title: OccupancyPricing
      required:
      - Occupancies
      - RateGroupPrices
      type: object
      properties:
        Occupancies:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        RateGroupPrices:
          type: array
          items:
            $ref: '#/components/schemas/RateGroupPricing'
      additionalProperties: false
      x-schema-id: OccupancyPricing
    PaymentRequest:
      title: PaymentRequest
      required:
      - Id
      - ReservationGroupId
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ReservationGroupId:
          type: string
          format: uuid
        State:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: PaymentRequest
    PaymentGateway:
      title: PaymentGateway
      required:
      - Accounts
      - IsMerchant
      - Model
      - PaymentCardStorageType
      - PublicKey
      - SupportedCreditCardTypes
      - SupportedPaymentMethods
      type: object
      properties:
        PaymentGatewayType:
          type: string
          nullable: true
          deprecated: true
        PaymentCardStorageType:
          minLength: 1
          type: string
        IsMerchant:
          type: boolean
        Model:
          minLength: 1
          type: string
        SupportedCreditCardTypes:
          type: array
          items:
            type: string
        SupportedPaymentMethods:
          allOf:
          - $ref: '#/components/schemas/PaymentMethods'
        PublicKey:
          minLength: 1
          type: string
        Accounts:
          type: array
          items:
            $ref: '#/components/schemas/PaymentGatewayAccount'
        DefaultCurrencyCode:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: PaymentGateway
    ResourceCategoryParameters:
      title: ResourceCategoryParameters
      required:
      - Client
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        ConfigurationId:
          type: string
          format: uuid
          nullable: true
          deprecated: true
        ServiceId:
          type: string
          format: uuid
          nullable: true
        ResourceCategoryIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        Extent:
          allOf:
          - $ref: '#/components/schemas/ResourceCategoryExtent'
          nullable: true
      additionalProperties: false
      x-schema-id: ResourceCategoryParameters
    CreditCardData:
      title: CreditCardData
      type: object
      properties:
        PaymentGatewayData:
          type: string
          nullable: true
        ObfuscatedCreditCardNumber:
          type: string
          nullable: true
        Expiration:
          type: string
          nullable: true
        HolderName:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: CreditCardData
    GetAllProductsParameters:
      title: GetAllProductsParameters
      required:
      - Client
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        ConfigurationId:
          type: string
          format: uuid
          nullable: true
          deprecated: true
        ServiceId:
          type: string
          format: uuid
          nullable: true
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: GetAllProductsParameters
    AvailabilityBlock:
      title: AvailabilityBlock
      required:
      - EndUtc
      - Id
      - RateId
      - ServiceId
      - StartUtc
      type: object
      properties:
        Name:
          type: string
          nullable: true
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        RateId:
          type: string
          format: uuid
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: AvailabilityBlock
    CreateReservationGroupParameters:
      title: CreateReservationGroupParameters
      required:
      - Client
      - Customer
      - Reservations
      - Session
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type: string
          nullable: true
        CultureCode:
          type: string
          nullable: true
        FullAmounts:
          type: boolean
        Session:
          minLength: 1
          type: string
        HotelId:
          type: string
          format: uuid
          nullable: true
        EnterpriseId:
          type: string
          format: uuid
          nullable: true
        RecaptchaVerificationToken:
          type: string
          nullable: true
        Customer:
          allOf:
          - $ref: '#/components/schemas/Customer'
        Reservations:
          type: array
          items:
            $ref: '#/components/schemas/ReservationParameters'
        PromotedServiceReservations:
          type: array
          items:
            $ref: '#/components/schemas/PromotedServiceReservationParameters'
          nullable: true
        CreditCardData:
          allOf:
          - $ref: '#/components/schemas/CreditCardData'
          nullable: true
        ConfigurationId:
          type: string
          format: uuid
          nullable: true
          deprecated: true
        BookingEngineId:
          type: string
          format: uuid
          nullable: true
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
        Booker:
          allOf:
          - $ref: '#/components/schemas/Customer'
          nullable: true
      additionalProperties: false
      x-schema-id: CreateReservationGroupParameters
    Reservation:
      title: Reservation
      required:
      - Amount
      - ChargeAmount
      - Cost
      - EndUtc
      - Id
      - Notes
      - Number
      - OccupancyData
      - ProductIds
      - RateId
      - RoomCategoryId
      - ServiceTimeUnitPeriod
      - ServiceTotalAmounts
      - StartUtc
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Number:
          minLength: 1
          type: string
        StartUtc:
          minLength: 1
          type: string
        EndUtc:
          minLength: 1
          type: string
        RoomCategoryId:
          type: string
          format: uuid
        RateId:
          type: string
          format: uuid
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        Notes:
          minLength: 1
          type: string
        Cost: {}
        Amount: {}
        ChargeAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        ServiceTotalAmounts: {}
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
        Rate:
          allOf:
          - $ref: '#/components/schemas/Rate'
          nullable: true
          deprecated: true
        ServiceTimeUnitPeriod:
          $ref: '#/components/schemas/TimeUnitPeriod'
        AdultCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
        ChildCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
      additionalProperties: false
      x-schema-id: Reservation
    RateGroup:
      title: RateGroup
      required:
      - Id
      - Ordering
      - SettlementCurrencyCode
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Ordering:
          type: integer
          format: int32
        SettlementMaximumNights:
          type: integer
          format: int32
          nullable: true
          deprecated: true
        SettlementMaximumTimeUnits:
          type: integer
          format: int32
          nullable: true
        SettlementCurrencyCode:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: RateGroup
    AccountingEnvironment:
      title: AccountingEnvironment
      type: object
      properties:
        CustomerIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/LegalEntityIdentifierConfiguration'
          nullable: true
      additionalProperties: false
      x-schema-id: AccountingEnvironment
    ReservationSettlement:
      title: ReservationSettlement
      required:
      - Action
      - Amount
      - IsTriggeredOnConfirmation
      - Trigger
      - TriggerOffset
      - Type
      type: object
      properties:
        Amount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        Action:
          minLength: 1
          type: string
        Type:
          minLength: 1
          type: string
        Trigger:
          minLength: 1
          type: string
        TriggerOffset:
          minLength: 1
          type: string
        IsTriggeredOnConfirmation:
          type: boolean
      additionalProperties: false
      x-schema-id: ReservationSettlement
    AvailabilityBlockResult:
      title: AvailabilityBlockResult
      required:
      - AvailabilityBlocks
      type: object
      properties:
        AvailabilityBlocks:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityBlock'
      additionalProperties: false
      x-schema-id: AvailabilityBlockResult
    RestrictionConditions:
      title: RestrictionConditions
      required:
      - Days
      - Hours
      - Type
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/RestrictionType'
        ExactRateId:
          type: string
          format: uuid
          nullable: true
        BaseRateId:
          type: string
          format: uuid
          nullable: true
        RateGroupId:
          type: string
          format: uuid
          nullable: true
        ResourceCategoryId:
          type: string
          format: uuid
          nullable: true
        ResourceCategoryType:
          anyOf:
          - $ref: '#/components/schemas/ResourceCategoryType'
          nullable: true
        StartUtc:
          type: string
          format: date-time
          nullable: true
        EndUtc:
          type: string
          format: date-time
          nullable: true
        Days:
          type: array
          items:
            type: string
        Hours:
          type: array
          items:
            type: string
      additionalProperties: false
      x-schema-id: RestrictionConditions
    CancellationFeeResult:
      title: CancellationFeeResult
      required:
      - CategoryId
      - Fees
      - RateId
      type: object
      properties:
        RateId:
          type: string
          format: uuid
        CategoryId:
          type: string
          format: uuid
        Fees:
          type: array
          items:
            $ref: '#/components/schemas/CancellationFee'
        Identifier:
          type: string
          nullable: true
      additionalProperties: false
      x-schema-id: CancellationFeeResult
    TaxBreakdown:
      title: TaxBreakdown
      required:
      - Items
      type: object
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/TaxBreakdownItem'
      additionalProperties: false
      x-schema-id: TaxBreakdown
    ReservationPricingInfo:
[...]
