openapi: 3.0.4
info:
  title: BookingEngineApi Account notes Languages API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: Languages
paths:
  /api/connector/v1/languages/getAll:
    post:
      tags:
      - Languages
      summary: Get all languages
      description: Returns all languages supported by the API.
      operationId: languages_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Parameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageResult'
              example:
                Languages:
                - Code: zh-CN
                  EnglishName: Chinese (Simplified)
                  FallbackLanguageCode: en-US
                  LocalName: 中文
                - Code: cs-CZ
                  EnglishName: Czech
                  FallbackLanguageCode: en-US
                  LocalName: Čeština
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/languages/getTexts:
    post:
      tags:
      - Languages
      summary: Get language texts
      description: Returns translations of texts in the specified languages.
      operationId: languages_getTexts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LanguageTextParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              LanguageCodes:
              - en-US
              - cs-CZ
              Scope: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageTextResult'
              example:
                LanguageTexts:
                - LanguageCode: en-US
                  Texts:
                    Address: Address
                    AddressLine1: Address line 1
                    AddressLine2: Address line 2
                    AdultPlural: Adults
                    Apartment: Apartment
                    ApartmentPlural: Apartments
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
components:
  schemas:
    Parameters:
      title: Parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
      additionalProperties: false
      x-schema-id: Parameters
    Language:
      title: Language
      required:
      - Code
      - EnglishName
      - LocalName
      type: object
      properties:
        Code:
          minLength: 1
          type: string
          description: Language-culture code of the language.
        FallbackLanguageCode:
          type: string
          description: Language-culture code of the fallback language.
          nullable: true
        EnglishName:
          minLength: 1
          type: string
          description: English name of the language.
        LocalName:
          minLength: 1
          type: string
          description: Local name of the language.
      additionalProperties: false
      x-schema-id: Language
    LanguageTextResult:
      title: LanguageTextResult
      required:
      - LanguageTexts
      type: object
      properties:
        LanguageTexts:
          type: array
          items:
            $ref: '#/components/schemas/LanguageTexts'
          description: Texts in the specified languages.
      additionalProperties: false
      x-schema-id: LanguageTextResult
    LanguageTextParameters:
      title: LanguageTextParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - LanguageCodes
      - Scope
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        LanguageCodes:
          type: array
          items:
            type: string
          description: Language-culture codes of the `Languages` whose texts to return.
        Scope:
          minLength: 1
          type: string
          description: Scope of texts to return.
      additionalProperties: false
      x-schema-id: LanguageTextParameters
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
        RequestId:
          type: string
          nullable: true
        Details:
          nullable: true
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    LanguageResult:
      title: LanguageResult
      required:
      - Languages
      type: object
      properties:
        Languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
          description: The supported languages.
      additionalProperties: false
      x-schema-id: LanguageResult
    LanguageTexts:
      title: Language texts
      required:
      - LanguageCode
      - Texts
      type: object
      properties:
        LanguageCode:
          minLength: 1
          type: string
          description: Language-culture code of the `Language`.
        Texts:
          title: Dictionary
          type: object
          additionalProperties:
            type: string
          description: Texts in the specified language by their keys.
          x-schema-id: Dictionary
      additionalProperties: false
      x-schema-id: LanguageTexts
