openapi: 3.2.0
info:
  title: Distributor API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: DistributorApi
paths:
  /api/distributor/v1/hotels/getAvailability:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Availability'
      summary: Create api distributor hotels get availability
      x-summary-source: derived
      operationId: postApiDistributorV1HotelsGetAvailability
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Availability'
      summary: Describe api distributor hotels get availability
      x-summary-source: derived
      operationId: optionsApiDistributorV1HotelsGetAvailability
      x-operation-id-source: derived
  /api/distributor/v1/services/getAvailability:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAvailabilityResult'
      summary: Create api distributor services get availability
      x-summary-source: derived
      operationId: postApiDistributorV1ServicesGetAvailability
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAvailabilityResult'
      summary: Describe api distributor services get availability
      x-summary-source: derived
      operationId: optionsApiDistributorV1ServicesGetAvailability
      x-operation-id-source: derived
  /api/distributor/v1/reservations/getPricing:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPricing'
      summary: Create api distributor reservations get pricing
      x-summary-source: derived
      operationId: postApiDistributorV1ReservationsGetPricing
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPricing'
      summary: Describe api distributor reservations get pricing
      x-summary-source: derived
      operationId: optionsApiDistributorV1ReservationsGetPricing
      x-operation-id-source: derived
  /api/distributor/v1/availabilityBlocks/getAll:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult'
      summary: Create api distributor availability blocks get all
      x-summary-source: derived
      operationId: postApiDistributorV1AvailabilityBlocksGetAll
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult'
      summary: Describe api distributor availability blocks get all
      x-summary-source: derived
      operationId: optionsApiDistributorV1AvailabilityBlocksGetAll
      x-operation-id-source: derived
  /api/distributor/v1/configuration/get:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResult'
      summary: Create api distributor configuration get
      x-summary-source: derived
      operationId: postApiDistributorV1ConfigurationGet
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResult'
      summary: Describe api distributor configuration get
      x-summary-source: derived
      operationId: optionsApiDistributorV1ConfigurationGet
      x-operation-id-source: derived
  /api/distributor/v1/hotels/get:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleHotelResult'
      summary: Create api distributor hotels get
      x-summary-source: derived
      operationId: postApiDistributorV1HotelsGet
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleHotelResult'
      summary: Describe api distributor hotels get
      x-summary-source: derived
      operationId: optionsApiDistributorV1HotelsGet
      x-operation-id-source: derived
  /api/distributor/v1/languages/getAll:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageResult'
      summary: Create api distributor languages get all
      x-summary-source: derived
      operationId: postApiDistributorV1LanguagesGetAll
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageResult'
      summary: Describe api distributor languages get all
      x-summary-source: derived
      operationId: optionsApiDistributorV1LanguagesGetAll
      x-operation-id-source: derived
  /api/distributor/v1/currencies/getAll:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResult'
      summary: Create api distributor currencies get all
      x-summary-source: derived
      operationId: postApiDistributorV1CurrenciesGetAll
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResult'
      summary: Describe api distributor currencies get all
      x-summary-source: derived
      operationId: optionsApiDistributorV1CurrenciesGetAll
      x-operation-id-source: derived
  /api/distributor/v1/countries/getAll:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryResult'
      summary: Create api distributor countries get all
      x-summary-source: derived
      operationId: postApiDistributorV1CountriesGetAll
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryResult'
      summary: Describe api distributor countries get all
      x-summary-source: derived
      operationId: optionsApiDistributorV1CountriesGetAll
      x-operation-id-source: derived
  /api/distributor/v1/vouchers/validate:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherValidity'
      summary: Create api distributor vouchers validate
      x-summary-source: derived
      operationId: postApiDistributorV1VouchersValidate
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherValidity'
      summary: Describe api distributor vouchers validate
      x-summary-source: derived
      operationId: optionsApiDistributorV1VouchersValidate
      x-operation-id-source: derived
  /api/distributor/v1/hotels/getPaymentConfiguration:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfiguration'
      summary: Create api distributor hotels get payment configuration
      x-summary-source: derived
      operationId: postApiDistributorV1HotelsGetPaymentConfiguration
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfiguration'
      summary: Describe api distributor hotels get payment configuration
      x-summary-source: derived
      operationId: optionsApiDistributorV1HotelsGetPaymentConfiguration
      x-operation-id-source: derived
  /api/distributor/v1/exchangeRates/getAll:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResult'
      summary: Create api distributor exchange rates get all
      x-summary-source: derived
      operationId: postApiDistributorV1ExchangeRatesGetAll
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResult'
      summary: Describe api distributor exchange rates get all
      x-summary-source: derived
      operationId: optionsApiDistributorV1ExchangeRatesGetAll
      x-operation-id-source: derived
  /api/distributor/v1/paymentCards/authorize:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentCardParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizePaymentCardResult'
      summary: Create api distributor payment cards authorize
      x-summary-source: derived
      operationId: postApiDistributorV1PaymentCardsAuthorize
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentCardParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizePaymentCardResult'
      summary: Describe api distributor payment cards authorize
      x-summary-source: derived
      operationId: optionsApiDistributorV1PaymentCardsAuthorize
      x-operation-id-source: derived
  /api/distributor/v1/paymentCards/getAll:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCardResult'
      summary: Create api distributor payment cards get all
      x-summary-source: derived
      operationId: postApiDistributorV1PaymentCardsGetAll
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCardResult'
      summary: Describe api distributor payment cards get all
      x-summary-source: derived
      operationId: optionsApiDistributorV1PaymentCardsGetAll
      x-operation-id-source: derived
  /api/distributor/v1/reservationGroups/create:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroup'
      summary: Create api distributor reservation groups create
      x-summary-source: derived
      operationId: postApiDistributorV1ReservationGroupsCreate
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroup'
      summary: Describe api distributor reservation groups create
      x-summary-source: derived
      operationId: optionsApiDistributorV1ReservationGroupsCreate
      x-operation-id-source: derived
  /api/distributor/v1/reservationGroups/get:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroup'
      summary: Create api distributor reservation groups get
      x-summary-source: derived
      operationId: postApiDistributorV1ReservationGroupsGet
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroup'
      summary: Describe api distributor reservation groups get
      x-summary-source: derived
      operationId: optionsApiDistributorV1ReservationGroupsGet
      x-operation-id-source: derived
  /api/distributor/v1/reservations/price:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
      summary: Create api distributor reservations price
      x-summary-source: derived
      operationId: postApiDistributorV1ReservationsPrice
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
      summary: Describe api distributor reservations price
      x-summary-source: derived
      operationId: optionsApiDistributorV1ReservationsPrice
      x-operation-id-source: derived
  /api/distributor/v1/products/getPrices:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricesResult'
      summary: Create api distributor products get prices
      x-summary-source: derived
      operationId: postApiDistributorV1ProductsGetPrices
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricesResult'
      summary: Describe api distributor products get prices
      x-summary-source: derived
      operationId: optionsApiDistributorV1ProductsGetPrices
      x-operation-id-source: derived
  /api/distributor/v1/services/getPricing:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePricingResult'
      summary: Create api distributor services get pricing
      x-summary-source: derived
      operationId: postApiDistributorV1ServicesGetPricing
      x-operation-id-source: derived
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePricingResult'
      summary: Describe api distributor services get pricing
      x-summary-source: derived
      operationId: optionsApiDistributorV1ServicesGetPricing
      x-operation-id-source: derived
  /api/distributor/v1/services/getPromotions:
    post:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePromotionParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedServiceResult'
      summary: Create api distributor services get promotions
      x-summary-source: derived
      operationId: postApiDistributorV1ServicesGetPromotions
      x-operation-id-source: derived
components:
  schemas:
    RateGroup:
      title: RateGroup
      required:
      - Id
      - Ordering
      - SettlementAction
      - SettlementCurrencyCode
      - SettlementOffset
      - SettlementTrigger
      - SettlementType
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Ordering:
          type: integer
          format: int32
        SettlementType:
          $ref: '#/components/schemas/SettlementRuleType'
        SettlementAction:
          $ref: '#/components/schemas/SettlementRuleAction'
        SettlementTrigger:
          $ref: '#/components/schemas/SettlementRuleTrigger'
        SettlementOffset:
          minLength: 1
          type: string
        SettlementValue:
          type:
          - number
          - 'null'
          format: double
        SettlementFlatValue:
          type:
          - number
          - 'null'
          format: double
        SettlementMaximumNights:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        SettlementMaximumTimeUnits:
          type:
          - integer
          - 'null'
          format: int32
        SettlementCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
      additionalProperties: false
      x-schema-id: RateGroup
    SurchargeConfiguration:
      title: SurchargeConfiguration
      required:
      - SurchargeFees
      type: object
      properties:
        SurchargeServiceId:
          type:
          - string
          - 'null'
          format: uuid
        SurchargeFees:
          type: object
          additionalProperties:
            type: number
            format: double
      additionalProperties: false
      x-schema-id: SurchargeConfiguration
    Payment:
      title: Payment
      required:
      - Amount
      - CreatedUtc
      - EnterpriseId
      - Id
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
        EnterpriseId:
          type: string
          format: uuid
        PaymentRequestId:
          type:
          - string
          - 'null'
          format: uuid
        CreatedUtc:
          minLength: 1
          type: string
          format: date-time
        State:
          $ref: '#/components/schemas/PaymentState'
        Amount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        ChargeAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: Payment
    AgeCategoryClassification:
      enum:
      - Adult
      - Child
      type: string
    ReservationSettlement:
      title: ReservationSettlement
      required:
      - Action
      - Amount
      - IsTriggeredOnConfirmation
      - Trigger
      - TriggerOffset
      - Type
      type: object
      properties:
        Amount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        Action:
          $ref: '#/components/schemas/SettlementRuleAction'
        Type:
          $ref: '#/components/schemas/SettlementRuleType'
        Trigger:
          $ref: '#/components/schemas/SettlementRuleTrigger'
        TriggerOffset:
          minLength: 1
          type: string
        IsTriggeredOnConfirmation:
          type: boolean
      additionalProperties: false
      x-schema-id: ReservationSettlement
    AmountPart:
      enum:
      - NetValue
      - TaxValue
      - GrossValue
      type: string
    CreditCardData:
      title: CreditCardData
      required:
      - Expiration
      type: object
      properties:
        PaymentGatewayData:
          minLength: 11
          type:
          - string
          - 'null'
        ObfuscatedCreditCardNumber:
          type:
          - string
          - 'null'
        Expiration:
          minLength: 1
          type: string
          format: date
        HolderName:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: CreditCardData
    ProductPrice:
      title: ProductPrice
      required:
      - AgeCategoryPrices
      - ProductId
      - TotalAmount
      - UnitAmount
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
        TotalAmount: {}
        UnitAmount: {}
        AgeCategoryPrices:
          type: array
          items:
            $ref: '#/components/schemas/AgeCategoryProductPrice'
      additionalProperties: false
      x-schema-id: ProductPrice
    ProductOrderPricingInfo:
      title: ProductOrderPricingInfo
      required:
      - ChargingMode
      - ProductId
      - ProductName
      - ProductOptions
      - TotalAmount
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
        AgeCategoryId:
          type:
          - string
          - 'null'
          format: uuid
        ProductName:
          type: object
          additionalProperties:
            type: string
        ProductOptions:
          allOf:
          - $ref: '#/components/schemas/ProductOptions'
        ChargingMode:
          $ref: '#/components/schemas/ProductChargingMode'
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: ProductOrderPricingInfo
    Amount:
      title: Amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
        GrossValue:
          type: number
          format: double
        NetValue:
          type: number
          format: double
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
        Breakdown:
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
      additionalProperties: false
      x-schema-id: Amount
    ProductChargingMode:
      enum:
      - Once
      - PerTimeUnit
      - PerPersonPerTimeUnit
      - PerPerson
      type: string
    Reservation:
      title: Reservation
      required:
      - Amount
      - Cost
      - EndUtc
      - Id
      - Number
      - OccupancyData
      - RateId
      - RoomCategoryId
      - StartUtc
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Identifier:
          type:
          - string
          - 'null'
        Number:
          minLength: 1
          type: string
        StartUtc:
          minLength: 1
          type: string
          format: date-time
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        VoucherCode:
          type:
          - string
          - 'null'
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        RoomCategoryId:
          type: string
          format: uuid
        RateId:
          type: string
          format: uuid
        Rate:
          allOf:
          - $ref: '#/components/schemas/Rate'
        ProductIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        AdultCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        ChildCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        Notes:
          type:
          - string
          - 'null'
        Cost: {}
        Amount: {}
      additionalProperties: false
      x-schema-id: Reservation
    ReservationPricingInfo:
      title: ReservationPricingInfo
      required:
      - ProductOrderPrices
      - TotalAmount
      type: object
      properties:
        Identifier:
          type:
          - string
          - 'null'
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        AmountToChargeOnConfirmation:
          allOf:
          - $ref: '#/components/schemas/Amount'
        ProductOrderPrices:
          type: array
          items:
            $ref: '#/components/schemas/ProductOrderPricingInfo'
        Settlements:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReservationSettlement'
      additionalProperties: false
      x-schema-id: ReservationPricingInfo
    SettlementRuleType:
      enum:
      - Manual
      - Automatic
      type: string
    Service:
      title: Service
      required:
      - CreatedUtc
      - Data
      - EnterpriseId
      - Id
      - IsActive
      - Names
      - Ordering
      - ShortNames
      type: object
      properties:
        Id:
          type: string
          format: uuid
        EnterpriseId:
          type: string
          format: uuid
        Ordering:
          type: integer
          format: int32
        CreatedUtc:
          minLength: 1
          type: string
          format: date-time
        Names:
          type: object
          additionalProperties:
            type: string
        ShortNames:
          type: object
          additionalProperties:
            type: string
        IsActive:
          type: boolean
        Data:
          title: Data
          type: object
          properties:
            discriminator:
              type: string
            value:
              oneOf:
              - $ref: '#/components/schemas/BookableService'
              - type: object
                additionalProperties: false
          x-coproduct: true
          x-schema-id: ServiceDataCoproductOfBookableServiceAdditionalService
      additionalProperties: false
      x-schema-id: Service
    Restriction:
      title: Restriction
      required:
      - Conditions
      - Exceptions
      - Id
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        Conditions:
          allOf:
          - $ref: '#/components/schemas/RestrictionConditions'
        Exceptions:
          allOf:
          - $ref: '#/components/schemas/RestrictionExceptions'
        ExternalIdentifier:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: Restriction
    PromotedServiceResult:
      title: PromotedServiceResult
      type: object
      properties:
        PromotedServices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PromotedService'
        ResourceCategories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Category'
        Rates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Rate'
      additionalProperties: false
      x-schema-id: PromotedServiceResult
    Rate:
      title: Rate
      required:
      - CurrencyCode
      - Description
      - Id
      - IsPrivate
      - Name
      - Ordering
      - RateGroupId
      type: object
      properties:
        Id:
          type: string
          format: uuid
        RateGroupId:
          type: string
          format: uuid
        Ordering:
          type: integer
          format: int32
        Name:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        Description:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        IsPrivate:
          type: boolean
        CurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
      additionalProperties: false
      x-schema-id: Rate
    TaxBreakdownItem:
      title: TaxBreakdownItem
      required:
      - NetValue
      - TaxValue
      type: object
      properties:
        TaxRateCode:
          type:
          - string
          - 'null'
        NetValue:
          type: number
          format: double
        TaxValue:
          type: number
          format: double
      additionalProperties: false
      x-schema-id: TaxBreakdownItem
    Country:
      title: Country
      required:
      - Code
      - Name
      type: object
      properties:
        Code:
          maxLength: 2
          minLength: 1
          type: string
        SovereignCountryCode:
          type:
          - string
          - 'null'
        Name:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: Country
    PaymentCard3DsAuthorizationState:
      enum:
      - Authorized
      - Authorizable
      - Unauthorizable
      type: string
    BookingEngineBookerReservationCustomerEmailInput:
      enum:
      - Required
      - Optional
      type: string
    RelativeProductPrice:
      title: RelativeProductPrice
      required:
      - Multiplier
      - ProductIds
      - Target
      - TaxRateCodes
      type: object
      properties:
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
        TaxRateCodes:
          type: array
          items:
            type: string
        Multiplier:
          type: number
          format: double
        Target:
          $ref: '#/components/schemas/AmountPart'
      additionalProperties: false
      x-schema-id: RelativeProductPrice
    TaxValue:
      title: TaxValue
      required:
      - TaxRateCode
      - Value
      type: object
      properties:
        TaxRateCode:
          minLength: 1
          type: string
        Value:
          type: number
          format: double
      additionalProperties: false
      x-schema-id: TaxValue
    PaymentCardFilterParameters:
      title: PaymentCardFilterParameters
      required:
      - Client
      - FullAmounts
      - PaymentCardIds
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        PaymentCardIds:
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
      additionalProperties: false
      x-schema-id: PaymentCardFilterParameters
    ServiceAvailabilityParameters:
      title: ServiceAvailabilityParameters
      required:
      - Client
      - EndUtc
      - EnterpriseId
      - FullAmounts
      - ServiceId
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        EnterpriseId:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        StartUtc:
          minLength: 1
          type: string
          format: date-time
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        BookingEngineId:
          type:
          - string
          - 'null'
          format: uuid
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        CategoryIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
      x-schema-id: ServiceAvailabilityParameters
    PaymentRequest:
      title: PaymentRequest
      required:
      - Id
      - ReservationGroupId
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ReservationGroupId:
          type: string
          format: uuid
        State:
          $ref: '#/components/schemas/PaymentRequestState'
      additionalProperties: false
      x-schema-id: PaymentRequest
    PaymentCardAuthorizationRequestedAction:
      enum:
      - Redirect
      - Show
      - Nothing
      type: string
    City:
      title: City
      required:
      - Id
      - Name
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        ImageId:
          type:
          - string
          - 'null'
          format: uuid
      additionalProperties: false
      x-schema-id: City
    PaymentMethods:
      title: PaymentMethods
      required:
      - ApplePay
      - GooglePay
      - Ideal
      - PaymentCard
      type: object
      properties:
        PaymentCard:
          type: boolean
        Ideal:
          type: boolean
        ApplePay:
          type: boolean
        GooglePay:
          type: boolean
      additionalProperties: false
      x-schema-id: PaymentMethods
    PromotedService:
      title: PromotedService
      required:
      - MinPricePerTimeUnit
      - Ordering
      - PromotedRateId
      - PromotedRateName
      - PromotedResourceCategoryDescription
      - PromotedResourceCategoryId
      - PromotedResourceCategoryName
      - PromotedServiceAssignmentId
      - PromotedServiceDefaultOccupancyData
      - PromotedServiceEndOffset
      - PromotedServiceId
      - PromotedServiceOptions
      - PromotedServiceReservationIntervalLimit
      - PromotedServiceStartOffset
      - PromotedServiceTimeUnitPeriod
      - PromotedServiceUnitCountLimit
      type: object
      properties:
        PromotedServiceAssignmentId:
          type: string
          format: uuid
        PromotedServiceId:
          type: string
          format: uuid
        PromotedRateId:
          type: string
          format: uuid
        PromotedServiceTimeUnitPeriod:
          $ref: '#/components/schemas/TimeUnitPeriod'
        PromotedServiceStartOffset:
          minLength: 1
          type: string
          format: date-time
        PromotedServiceEndOffset:
          minLength: 1
          type: string
          format: date-time
        PromotedServiceUnitCountLimit:
          $ref: '#/components/schemas/PromotedServiceAssignmentUnitCountLimit'
        PromotedServiceReservationIntervalLimit:
          $ref: '#/components/schemas/PromotedServiceAssignmentReservationIntervalLimit'
        PromotedServiceDefaultOccupancyData:
          allOf:
          - $ref: '#/components/schemas/OccupancyData'
        PromotedServiceOptions:
          allOf:
          - $ref: '#/components/schemas/ServiceOptions'
        PromotedRateName:
          type: object
          additionalProperties:
            type: string
        PromotedResourceCategoryId:
          type: string
          format: uuid
        PromotedResourceCategoryName:
          type: object
          additionalProperties:
            type: string
        PromotedResourceCategoryDescription:
          type: object
          additionalProperties:
            type: string
        AvailableCount:
          type: integer
          format: int32
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        UnitAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        ImageId:
          type:
          - string
          - 'null'
          format: uuid
        Ordering:
          type: integer
          format: int32
        MinPricePerTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: PromotedService
    ResourceCategoryAvailability:
      title: ResourceCategoryAvailability
      required:
      - AvailableRoomCount
      - RoomCategoryId
      - RoomOccupancyAvailabilities
      type: object
      properties:
        RoomCategoryId:
          type: string
          format: uuid
        AvailableRoomCount:
          type: integer
          format: int32
        RoomOccupancyAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/ResourceOccupancyPricing'
      additionalProperties: false
      x-schema-id: ResourceCategoryAvailability
    AgeCategory:
      title: AgeCategory
      required:
      - Classification
      - Id
      - IsDefault
      - Name
      - ServiceId
      - ShortName
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        ShortName:
          type: object
          additionalProperties:
            type: string
        MinimalAge:
          type:
          - integer
          - 'null'
          format: int32
        MaximalAge:
          type:
          - integer
          - 'null'
          format: int32
        Classification:
          $ref: '#/components/schemas/AgeCategoryClassification'
        IsDefault:
          type: boolean
      additionalProperties: false
      x-schema-id: AgeCategory
    RatePricing:
      title: RatePricing
      required:
      - AverageAmountPerFullTimeUnit
      - AverageAmountPerTimeUnit
      - AverageServiceItemAmountPerFullTimeUnit
      - AverageServiceItemAmountPerTimeUnit
      - TotalAmount
      type: object
      properties:
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
        AverageAmountPerTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
        AverageAmountPerFullTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
        AverageServiceItemAmountPerTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
        AverageServiceItemAmountPerFullTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
      additionalProperties: false
      x-schema-id: RatePricing
    ServiceOptions:
      title: ServiceOptions
      required:
      - ProRataCharging
      type: object
      properties:
        ProRataCharging:
          type: boolean
      additionalProperties: false
      x-schema-id: ServiceOptions
    BookingEngineParameters:
      title: BookingEngineParameters
      required:
      - Client
      - ConfigurationId
      - FullAmounts
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        ConfigurationId:
          type: string
          format: uuid
      additionalProperties: false
      x-schema-id: BookingEngineParameters
    ServiceAvailabilityResult:
      title: ServiceAvailabilityResult
      required:
      - ApplicableRestrictions
      - CategoryAvailabilities
      - TimeUnitStartsUtc
      type: object
      properties:
        TimeUnitStartsUtc:
          type: array
          items:
            type: string
        CategoryAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/CategoryAvailability'
        ApplicableRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/Restriction'
      additionalProperties: false
      x-schema-id: ServiceAvailabilityResult
    CountryResult:
      title: CountryResult
      required:
      - Countries
      type: object
      properties:
        Countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
      additionalProperties: false
      x-schema-id: CountryResult
    AvailabilityBlock:
      title: AvailabilityBlock
      required:
      - EndUtc
      - Id
      - RateId
      - ServiceId
      - StartUtc
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        RateId:
          type: string
          format: uuid
        StartUtc:
          minLength: 1
          type: string
          format: date-time
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: AvailabilityBlock
    SettlementRuleTrigger:
      enum:
      - Confirmation
      - Start
      - End
      - StartDate
      - EndDate
      type: string
    ProductPricesResult:
      title: ProductPricesResult
      required:
      - Prices
      type: object
      properties:
        Prices:
          type: array
          items:
            $ref: '#/components/schemas/ProductPrice'
      additionalProperties: false
      x-schema-id: ProductPricesResult
    BookingEngine:
      title: BookingEngine
      required:
      - BookerReservationCustomerEmailInput
      - CheckoutStatement
      - CompetitorRateDescription
      - Enterprise
      - Id
      - PaymentCardRequirement
      - RequiredFields
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        AdultCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        ChildCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        MaxAdultCount:
          type:
          - integer
          - 'null'
          format: int32
        OccupancyData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OccupancyData'
        DisplaySpecialRequests:
          type:
          - boolean
          - 'null'
        DisplayRateComparison:
          type:
          - boolean
          - 'null'
        ChildSelectionEnabled:
          type:
          - boolean
          - 'null'
        DisplayAvailability:
          type:
          - boolean
          - 'null'
        PaymentGatewayEnabled:
          type: boolean
          deprecated: true
        PaymentCardInput:
          type:
          - string
          - 'null'
          deprecated: true
        PaymentCardRequirement:
          $ref: '#/components/schemas/BookingEnginePaymentCardRequirement'
        BookerReservationCustomerEmailInput:
          $ref: '#/components/schemas/BookingEngineBookerReservationCustomerEmailInput'
        RequiredFields:
          type: array
          items:
            $ref: '#/components/schemas/BookingEngineRequiredFields'
        OnlineTravelAgencies:
          type:
          - array
          - 'null'
          items:
            type: string
        CheckoutStatement:
          type: object
          additionalProperties:
            type: string
        CompetitorRateDescription:
          type: object
          additionalProperties:
            type: string
        CompetitorPriceRelativeAdjustment:
          type:
          - number
          - 'null'
          format: double
        Enterprise:
          allOf:
          - $ref: '#/components/schemas/Enterprise'
      additionalProperties: false
      x-schema-id: BookingEngine
    ProductPostingMode:
      enum:
      - Once
      - PerTimeUnit
      type: string
    ExchangeRate:
      title: ExchangeRate
      required:
      - SourceCurrency
      - TargetCurrency
      type: object
      properties:
        SourceCurrency:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
        TargetCurrency:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
        Value:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
      x-schema-id: ExchangeRate
    CategoryAvailability:
      title: CategoryAvailability
      required:
      - Availabilities
      - CategoryId
      type: object
      properties:
        CategoryId:
          type: string
          format: uuid
        Availabilities:
          type: array
          items:
            type: integer
            format: int32
      additionalProperties: false
      x-schema-id: CategoryAvailability
    PaymentCardStorageType:
      enum:
      - Adyen
      - Stripe
      - PciProxy
      type: string
    ServicePricingParameters:
      title: ServicePricingParameters
      required:
      - Client
      - CurrencyCode
      - EndUtc
      - EnterpriseId
      - FullAmounts
      - ServiceId
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        EnterpriseId:
          type: string
          format: uuid
        ServiceId:
          type: string
          format: uuid
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        RateIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        CategoryIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        ProductIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        OccupancyData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OccupancyData'
        CurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
        StartUtc:
          minLength: 1
          type: string
          format: date-time
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        VoucherCode:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: ServicePricingParameters
    CreateReservationGroupParameters:
      title: CreateReservationGroupParameters
      required:
      - Client
      - Customer
      - FullAmounts
      - HotelId
      - Reservations
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        HotelId:
          type: string
          format: uuid
        ConfigurationId:
          type:
          - string
          - 'null'
          format: uuid
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        Customer:
          allOf:
          - $ref: '#/components/schemas/Customer'
        Booker:
          allOf:
          - $ref: '#/components/schemas/Customer'
        Reservations:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
        CreditCardData:
          allOf:
          - $ref: '#/components/schemas/CreditCardData'
      additionalProperties: false
      x-schema-id: CreateReservationGroupParameters
    PaymentGatewayModel:
      enum:
      - MerchantOfRecord
      - PaymentFacilitator
      - Direct
      type: string
    PromotedServiceAssignmentReservationIntervalLimit:
      enum:
      - SameAsParent
      - InsideParent
      type: string
    AvailabilityParameters:
      title: AvailabilityParameters
      required:
      - Client
      - EndUtc
      - FullAmounts
      - HotelId
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        HotelId:
          type: string
          format: uuid
        ConfigurationId:
          type:
          - string
          - 'null'
          format: uuid
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        CurrencyCode:
          type:
          - string
          - 'null'
          deprecated: true
        CurrencyCodes:
          type:
          - array
          - 'null'
          items:
            type: string
        StartUtc:
          minLength: 1
          type: string
          format: date-time
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        AdultCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        ChildCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        OccupancyData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OccupancyData'
        VoucherCode:
          type:
          - string
          - 'null'
        ProductIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        CategoryIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        RateIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
      x-schema-id: AvailabilityParameters
    BookingEngineTheme:
      enum:
      - Light
      - Dark
      type: string
    PaymentGateway:
      title: PaymentGateway
      required:
      - Accounts
      - DefaultCurrencyCode
      - IsMerchant
      - Model
      - PaymentCardStorageType
      - PublicKey
      - SupportedCreditCardTypes
      - SupportedPaymentMethods
      type: object
      properties:
        PaymentGatewayType:
          type:
          - string
          - 'null'
          deprecated: true
        PaymentCardStorageType:
          $ref: '#/components/schemas/PaymentCardStorageType'
        IsMerchant:
          type: boolean
        Model:
          $ref: '#/components/schemas/PaymentGatewayModel'
        SupportedCreditCardTypes:
          type: array
          items:
            $ref: '#/components/schemas/CreditCardTypes'
        SupportedPaymentMethods:
          allOf:
          - $ref: '#/components/schemas/PaymentMethods'
        PublicKey:
          minLength: 1
          type: string
        DefaultCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
        Accounts:
          type: array
          items:
            $ref: '#/components/schemas/PaymentGatewayAccount'
      additionalProperties: false
      x-schema-id: PaymentGateway
    PricingMode:
      enum:
      - Gross
      - Net
      type: string
    Category:
      title: Category
      required:
      - Description
      - ExtraBedCount
      - Id
      - Name
      - NormalBedCount
      - SpaceType
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        ImageIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          deprecated: true
        Ordering:
          type:
          - integer
          - 'null'
          format: int32
        NormalBedCount:
          type: integer
          format: int32
        ExtraBedCount:
          type: integer
          format: int32
        SpaceType:
          $ref: '#/components/schemas/ResourceCategoryType'
      additionalProperties: false
      x-schema-id: Category
    Address:
      title: Address
      type: object
      properties:
        Line1:
          maxLength: 1023
          type:
          - string
          - 'null'
        Line2:
          maxLength: 255
          type:
          - string
          - 'null'
        City:
          maxLength: 255
          type:
          - string
          - 'null'
        PostalCode:
          maxLength: 255
          type:
          - string
          - 'null'
        CountryCode:
          maxLength: 8
          type:
          - string
          - 'null'
        Latitude:
          type:
          - number
          - 'null'
          format: double
        Longitude:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
      x-schema-id: Address
    ResourceCategoryPricing:
      title: ResourceCategoryPricing
      required:
      - CategoryId
      - OccupancyPrices
      type: object
      properties:
        CategoryId:
          type: string
          format: uuid
        OccupancyPrices:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyPricing'
      additionalProperties: false
      x-schema-id: ResourceCategoryPricing
    PaymentRequestState:
      enum:
      - Pending
      - Completed
      - Canceled
      - Expired
      type: string
    PromotedServiceAssignmentUnitCountLimit:
      enum:
      - PerReservation
      - PerSpace
      - PerGuest
      - NoLimit
      type: string
    ReservationGroup:
      title: ReservationGroup
      required:
      - CreditCardAvailable
      - Id
      - Reservations
      - TotalAmount
      - TotalCost
      type: object
      properties:
        Id:
          type: string
          format: uuid
        CustomerId:
          type:
          - string
          - 'null'
          format: uuid
        Reservations:
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
        PaymentRequestId:
          type:
          - string
          - 'null'
          format: uuid
        TotalCost: {}
        TotalAmount: {}
        PaymentCardId:
          type:
          - string
          - 'null'
          format: uuid
        CreditCardAvailable:
          type: boolean
        PaymentRequests:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PaymentRequest'
        Payments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Payment'
      additionalProperties: false
      x-schema-id: ReservationGroup
    OccupancyData:
      title: OccupancyData
      required:
      - AgeCategoryId
      - PersonCount
      type: object
      properties:
        AgeCategoryId:
          type: string
          format: uuid
        PersonCount:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: OccupancyData
    ProductOptions:
      title: ProductOptions
      required:
      - BillAsPackage
      - ExcludePriceFromOffer
      - OfferToCustomer
      - OfferToEmployee
      - SelectedByDefault
      type: object
      properties:
        SelectedByDefault:
          type: boolean
        BillAsPackage:
          type: boolean
        OfferToCustomer:
          type: boolean
        ExcludePriceFromOffer:
          type: boolean
        OfferToEmployee:
          type: boolean
      additionalProperties: false
      x-schema-id: ProductOptions
    Culture:
      title: Culture
      required:
      - CurrencyDecimalSeparator
      - CurrencyGroupSeparator
      type: object
      properties:
        CurrencyDecimalSeparator:
          minLength: 1
          type: string
        CurrencyGroupSeparator:
          minLength: 1
          type: string
      additionalProperties: false
      x-schema-id: Culture
    LanguageResult:
      title: LanguageResult
      required:
      - Languages
      type: object
      properties:
        Languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
      additionalProperties: false
      x-schema-id: LanguageResult
    ConfigurationParameters:
      title: ConfigurationParameters
      required:
      - Client
      - FullAmounts
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        Ids:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        PrimaryId:
          type:
          - string
          - 'null'
          format: uuid
        WebOptions:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-schema-id: ConfigurationParameters
    ReservationPriceResult:
      title: ReservationPriceResult
      required:
      - ReservationPrice
      type: object
      properties:
        ReservationPrice:
          type: array
          items:
            $ref: '#/components/schemas/ReservationPricingInfo'
      additionalProperties: false
      x-schema-id: ReservationPriceResult
    ResourcePricing:
      title: ResourcePricing
      required:
      - MaxPrice
      - Price
      - RateId
      type: object
      properties:
        RateId:
          type: string
          format: uuid
        Price:
          allOf:
          - $ref: '#/components/schemas/ResourcePrice'
        MaxPrice:
          allOf:
          - $ref: '#/components/schemas/ResourcePrice'
      additionalProperties: false
      x-schema-id: ResourcePricing
    ExchangeRateParameters:
      title: ExchangeRateParameters
      required:
      - Client
      - FullAmounts
      - HotelId
      - SourceCurrencyCode
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        HotelId:
          type: string
          format: uuid
        SourceCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
      additionalProperties: false
      x-schema-id: ExchangeRateParameters
    PaymentConfiguration:
      title: PaymentConfiguration
      required:
      - SurchargeConfiguration
      type: object
      properties:
        PaymentGateway:
          allOf:
          - $ref: '#/components/schemas/PaymentGateway'
        SurchargeConfiguration:
          allOf:
          - $ref: '#/components/schemas/SurchargeConfiguration'
      additionalProperties: false
      x-schema-id: PaymentConfiguration
    TimeUnitPeriod:
      enum:
      - Day
      - Month
      - Hour
      type: string
    PaymentCardAuthorizationAction:
      title: PaymentCardAuthorizationAction
      required:
      - HttpMethod
      - Type
      - Url
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/PaymentCardAuthorizationRequestedAction'
        Url:
          minLength: 1
          type: string
          format: uri
        HttpMethod:
          minLength: 1
          type: string
        Data: {}
      additionalProperties: false
      x-schema-id: PaymentCardAuthorizationAction
    AvailabilityBlockResult:
      title: AvailabilityBlockResult
      required:
      - AvailabilityBlocks
      type: object
      properties:
        AvailabilityBlocks:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityBlock'
      additionalProperties: false
      x-schema-id: AvailabilityBlockResult
    BookableService:
      title: BookableService
      required:
      - EndOffset
      - StartOffset
      - TimeUnit
      type: object
      properties:
        StartOffset:
          minLength: 1
          type: string
        EndOffset:
          minLength: 1
          type: string
        TimeUnit:
          $ref: '#/components/schemas/TimeUnitPeriod'
      additionalProperties: false
      x-schema-id: BookableService
    AuthorizePaymentCardParameters:
      title: AuthorizePaymentCardParameters
      required:
      - BrowserInfo
      - Client
      - EnterpriseId
      - FullAmounts
      - PaymentCardId
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        EnterpriseId:
          type: string
          format: uuid
        PaymentCardId:
          type: string
          format: uuid
        BrowserInfo:
          allOf:
          - $ref: '#/components/schemas/BrowserInfo'
      additionalProperties: false
      x-schema-id: AuthorizePaymentCardParameters
    BrowserInfo:
      title: BrowserInfo
      required:
      - AcceptHeader
      - ColorDepth
      - Language
      - ScreenHeight
      - ScreenWidth
      - TimeZoneOffset
      - UserAgent
      type: object
      properties:
        UserAgent:
          minLength: 1
          type: string
        AcceptHeader:
          minLength: 1
          type: string
        Language:
          minLength: 1
          type: string
        ColorDepth:
          type: integer
          format: int32
        ScreenWidth:
          type: integer
          format: int32
        ScreenHeight:
          type: integer
          format: int32
        TimeZoneOffset:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: BrowserInfo
    Product:
      title: Product
      required:
      - AlwaysIncluded
      - Amounts
      - ChargingMode
      - Description
      - Id
      - IncludedByDefault
      - Name
      - Ordering
      - PostingMode
      - Prices
      - Pricing
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        CategoryId:
          type:
          - string
          - 'null'
          format: uuid
        ImageId:
          type:
          - string
          - 'null'
          format: uuid
        IncludedByDefault:
          type: boolean
        AlwaysIncluded:
          type: boolean
        Prices: {}
        Pricing:
          title: Pricing
          type: object
          properties:
            discriminator:
              type: string
            value:
              oneOf:
              - $ref: '#/components/schemas/RelativeProductPrice'
          x-coproduct: true
          x-schema-id: ProductPricingCoproductOfRelativeProductPrice
        Amounts: {}
        RelativePrice:
          type:
          - number
          - 'null'
          format: double
        Charging:
          type:
          - string
          - 'null'
          deprecated: true
        ChargingMode:
          $ref: '#/components/schemas/ProductChargingMode'
        Posting:
          type:
          - string
          - 'null'
          deprecated: true
        PostingMode:
          $ref: '#/components/schemas/ProductPostingMode'
        Ordering:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: Product
    Occupancy:
      title: Occupancy
      type: object
      properties:
        AdultCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        ChildCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        OccupancyData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OccupancyData'
      additionalProperties: false
      x-schema-id: Occupancy
    RestrictionConditions:
      title: RestrictionConditions
      required:
      - Days
      - Type
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/RestrictionType'
        ExactRateId:
          type:
          - string
          - 'null'
          format: uuid
        BaseRateId:
          type:
          - string
          - 'null'
          format: uuid
        RateGroupId:
          type:
          - string
          - 'null'
          format: uuid
        ResourceCategoryId:
          type:
          - string
          - 'null'
          format: uuid
        ResourceCategoryType:
          anyOf:
          - $ref: '#/components/schemas/ResourceCategoryType'
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
        Days:
          type: array
          items:
            type: string
      additionalProperties: false
      x-schema-id: RestrictionConditions
    RestrictionType:
      enum:
      - ClosedToStay
      - ClosedToArrival
      - ClosedToDeparture
      type: string
    OccupancyPricing:
      title: OccupancyPricing
      required:
      - Occupancies
      - RateGroupPrices
      type: object
      properties:
        Occupancies:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        RateGroupPrices:
          type: array
          items:
            $ref: '#/components/schemas/RateGroupPricing'
      additionalProperties: false
      x-schema-id: OccupancyPricing
    Enterprise:
      title: Enterprise
      required:
      - AcceptedCurrencyCodes
      - Address
      - Categories
      - CategoryImageAssignments
      - CityId
      - DefaultCurrencyCode
      - DefaultLanguageCode
      - DefaultRateCurrencyCode
      - Description
      - Email
      - IanaTimeZoneIdentifier
      - Id
      - Name
      - Pricing
      - Products
      - Rates
      - TaxEnvironmentCode
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
        CityId:
          type: string
          format: uuid
        ImageId:
          type:
          - string
          - 'null'
          format: uuid
        IntroImageId:
          type:
          - string
          - 'null'
          format: uuid
        Email:
          minLength: 1
          type: string
        Telephone:
          type:
          - string
          - 'null'
        TermsAndConditionsUrl:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        PrivacyPolicyUrl:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        DefaultLanguageCode:
          maxLength: 3
          minLength: 1
          type: string
        DefaultCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
        DefaultRateCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
        IanaTimeZoneIdentifier:
          minLength: 1
          type: string
        AcceptedCurrencyCodes:
          type: array
          items:
            type: string
          format: currency
        TaxEnvironmentCode:
          minLength: 1
          type: string
        Pricing:
          $ref: '#/components/schemas/PricingMode'
        GrossAmountTaxPrecision:
          type:
          - integer
          - 'null'
          format: int32
        Categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        CategoryImageAssignments:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategoryImageAssignment'
        Products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        AdditionalLegalStatements:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties:
              type: string
          deprecated: true
      additionalProperties: false
      x-schema-id: Enterprise
    TaxBreakdown:
      title: TaxBreakdown
      required:
      - Items
      type: object
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/TaxBreakdownItem'
      additionalProperties: false
      x-schema-id: TaxBreakdown
    VoucherValidity:
      title: VoucherValidity
      required:
      - IsValid
      type: object
      properties:
        IsValid:
          type: boolean
      additionalProperties: false
      x-schema-id: VoucherValidity
    ResourceCategoryImageAssignment:
      title: ResourceCategoryImageAssignment
      required:
      - CategoryId
      - Id
      - ImageId
      - Ordering
      type: object
      properties:
        Id:
          type: string
          format: uuid
        CategoryId:
          type: string
          format: uuid
        ImageId:
          type: string
          format: uuid
        Ordering:
          type: integer
          format: int32
      additionalProperties: false
      x-schema-id: ResourceCategoryImageAssignment
    CurrencyResult:
      title: CurrencyResult
      required:
      - Currencies
      type: object
      properties:
        Currencies:
          type: array
          items:
            $ref: '#/components/schemas/Currency'
      additionalProperties: false
      x-schema-id: CurrencyResult
    PaymentCardResult:
      title: PaymentCardResult
      required:
      - PaymentCards
      type: object
      properties:
        PaymentCards:
          type: array
          items:
            $ref: '#/components/schemas/PaymentCard'
      additionalProperties: false
      x-schema-id: PaymentCardResult
    ResourceCategoryType:
      enum:
      - Room
      - Bed
      - Dorm
      - Apartment
      - Suite
      - Villa
      - Site
      - Office
      - MeetingRoom
      - ParkingSpot
      - Desk
      - TeamArea
      - Membership
      - Tent
      - CaravanOrRV
      - UnequippedCampsite
      - Bike
      - ExtraBed
      - Cot
      - Crib
      - ConferenceRoom
      - Rooftop
      - Garden
      - Restaurant
      - Amphitheater
      - PrivateSpaces
      type: string
    CreditCardTypes:
      enum:
      - MasterCard
      - Visa
      - Amex
      - Discover
      - DinersClub
      - Jcb
      - Maestro
      - UnionPay
      - VPay
      - RuPay
      - Dankort
      - Mir
      - Verve
      - Troy
      - PostFinance
      - Giro
      - Bancomat
      - Bc
      - CarteBleue
      - Eftpos
      - Eps
      - Interac
      - Isracard
      - Meps
      - Nets
      - Bancontact
      type: string
    ReservationGroupParameters:
      title: ReservationGroupParameters
      required:
      - Client
      - FullAmounts
      - HotelId
      - ReservationGroupId
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        HotelId:
          type: string
          format: uuid
        ReservationGroupId:
          type: string
          format: uuid
        Extent:
          allOf:
          - $ref: '#/components/schemas/ReservationGroupExtent'
      additionalProperties: false
      x-schema-id: ReservationGroupParameters
    Currency:
      title: Currency
      required:
      - Code
      - DecimalPlaces
      - Symbol
      - SymbolIsBehindValue
      - ValueFormat
      type: object
      properties:
        Code:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
        Symbol:
          minLength: 1
          type: string
        ValueFormat:
          minLength: 1
          type: string
        DecimalPlaces:
          type: integer
          format: int32
        SymbolIsBehindValue:
          type: boolean
      additionalProperties: false
      x-schema-id: Currency
    PaymentState:
      enum:
      - Charged
      - Canceled
      - Pending
      - Failed
      - Verifying
      type: string
    Language:
      title: Language
      required:
      - Code
      - DefaultCulture
      - Name
      type: object
      properties:
        Code:
          minLength: 1
          type: string
        Name:
          minLength: 1
          type: string
        DefaultCulture:
          allOf:
          - $ref: '#/components/schemas/Culture'
      additionalProperties: false
      x-schema-id: Language
    PaymentGatewayAccount:
      title: PaymentGatewayAccount
      required:
      - CurrencyCode
      type: object
      properties:
        CurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
      additionalProperties: false
      x-schema-id: PaymentGatewayAccount
    ServicePricingResult:
      title: ServicePricingResult
      required:
      - CategoryPrices
      - RateGroups
      - Rates
      type: object
      properties:
        RateGroups:
          type: array
          items:
            $ref: '#/components/schemas/RateGroup'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        CategoryPrices:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategoryPricing'
        ViolatedRestrictions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Restriction'
      additionalProperties: false
      x-schema-id: ServicePricingResult
    ReservationPriceParameters:
      title: ReservationPriceParameters
      required:
      - Client
      - ConfigurationId
      - FullAmounts
      - Reservations
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        ConfigurationId:
          type: string
          format: uuid
        Reservations:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
        CurrencyCode:
          maxLength: 3
          type:
          - string
          - 'null'
          format: currency
      additionalProperties: false
      x-schema-id: ReservationPriceParameters
    ResourcePrice:
      title: ResourcePrice
      required:
      - AverageAmountPerTimeUnit
      - AveragePerTimeUnit
      - Total
      - TotalAmount
      type: object
      properties:
        Total: {}
        TotalAmount: {}
        AveragePerNight:
          deprecated: true
        AveragePerTimeUnit: {}
        AverageAmountPerNight:
          deprecated: true
        AverageAmountPerTimeUnit: {}
      additionalProperties: false
      x-schema-id: ResourcePrice
    ReservationPricingParameters:
      title: ReservationPricingParameters
      required:
      - Client
      - EndUtc
      - FullAmounts
      - HotelId
      - Occupancies
      - RoomCategoryId
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        HotelId:
          type: string
          format: uuid
        VoucherCode:
          type:
          - string
          - 'null'
        StartUtc:
          minLength: 1
          type: string
          format: date-time
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        RoomCategoryId:
          type: string
          format: uuid
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          format: uuid
        RateIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        ProductIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        Occupancies:
          type: array
          items:
            $ref: '#/components/schemas/Occupancy'
      additionalProperties: false
      x-schema-id: ReservationPricingParameters
    PaymentCardAuthorizationState:
      enum:
      - Authorized
      - Requested
      - Pending
      - Declined
      - Canceled
      type: string
    RateGroupPricing:
      title: RateGroupPricing
      required:
      - MaxPrice
      - MinPrice
      - MinRateId
      type: object
      properties:
        MinRateId:
          type: string
          format: uuid
        MinPrice:
          allOf:
          - $ref: '#/components/schemas/RatePricing'
        MaxPrice:
          allOf:
          - $ref: '#/components/schemas/RatePricing'
      additionalProperties: false
      x-schema-id: RateGroupPricing
    SettlementRuleAction:
      enum:
      - ChargeCreditCard
      - CreatePreauthorization
      type: string
    Customer:
      title: Customer
      required:
      - LastName
      type: object
      properties:
        Email:
          type:
          - string
          - 'null'
          format: email
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          minLength: 1
          type: string
        Telephone:
          type:
          - string
          - 'null'
          format: tel
        NationalityCode:
          maxLength: 2
          type:
          - string
          - 'null'
        SendMarketingEmails:
          type:
          - boolean
          - 'null'
      additionalProperties: false
      x-schema-id: Customer
    ExchangeRateResult:
      title: ExchangeRateResult
      required:
      - EnterpriseExchangeRates
      - PlatformExchangeRates
      type: object
      properties:
        EnterpriseExchangeRates:
          type: array
          items:
            $ref: '#/components/schemas/ExchangeRate'
        PlatformExchangeRates:
          type: array
          items:
            $ref: '#/components/schemas/ExchangeRate'
      additionalProperties: false
      x-schema-id: ExchangeRateResult
    HotelParameters:
      title: HotelParameters
      required:
      - Client
      - FullAmounts
      - HotelId
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        HotelId:
          type: string
          format: uuid
      additionalProperties: false
      x-schema-id: HotelParameters
    ReservationGroupExtent:
      title: ReservationGroupExtent
      required:
      - PaymentRequests
      - Payments
      type: object
      properties:
        PaymentRequests:
          type: boolean
        Payments:
          type: boolean
      additionalProperties: false
      x-schema-id: ReservationGroupExtent
    Availability:
      title: Availability
      required:
      - RateGroups
      - Rates
      - RoomCategoryAvailabilities
      type: object
      properties:
        RateGroups:
          type: array
          items:
            $ref: '#/components/schemas/RateGroup'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        RoomCategoryAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategoryAvailability'
        ViolatedRestrictions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Restriction'
      additionalProperties: false
      x-schema-id: Availability
    BookingEngineRequiredFields:
      enum:
      - Telephone
      type: string
    ConfigurationResult:
      title: ConfigurationResult
      required:
      - AgeCategories
      - Cities
      - Configurations
      - CurrencyCodes
      - ImageBaseUrl
      - NowUtc
      - Services
      type: object
      properties:
        NowUtc:
          minLength: 1
          type: string
          format: date-time
        LanguageCode:
          type:
          - string
          - 'null'
        CurrencyCode:
          maxLength: 3
          type:
          - string
          - 'null'
          format: currency
        IntroVideoUrl:
          type:
          - string
          - 'null'
          format: uri
        Theme:
          anyOf:
          - $ref: '#/components/schemas/BookingEngineTheme'
        PrimaryColor:
          type:
          - string
          - 'null'
        VoucherCode:
          type:
          - string
          - 'null'
        DisplayVoucherCode:
          type:
          - boolean
          - 'null'
        GtmContainerId:
          type:
          - string
          - 'null'
        StartDateOffset:
          type:
          - integer
          - 'null'
          format: int32
        EndDateOffset:
          type:
          - integer
          - 'null'
          format: int32
        CityId:
          type:
          - string
          - 'null'
          format: uuid
        ImageBaseUrl:
          minLength: 1
          type: string
          format: uri
        Configurations:
          type: array
          items:
            $ref: '#/components/schemas/BookingEngine'
        Cities:
          type: array
          items:
            $ref: '#/components/schemas/City'
        CurrencyCodes:
          type: array
          items:
            type: string
          format: currency
        AgeCategories:
          type: array
          items:
            $ref: '#/components/schemas/AgeCategory'
        Services:
          type: array
          items:
            $ref: '#/components/schemas/Service'
      additionalProperties: false
      x-schema-id: ConfigurationResult
    BookingEnginePaymentCardRequirement:
      enum:
      - NotRequired
      - NotRequiredForFullyPaidBookings
      - AlwaysRequired
      - NotRequiredForFullyOrPartiallyPaidBookings
      type: string
    ReservationPricing:
      title: ReservationPricing
      required:
      - OccupancyPrices
      type: object
      properties:
        OccupancyPrices:
          type: array
          items:
            $ref: '#/components/schemas/ResourceOccupancyPricing'
      additionalProperties: false
      x-schema-id: ReservationPricing
    AuthorizePaymentCardResult:
      title: AuthorizePaymentCardResult
      required:
      - Id
      - PaymentCardId
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
        PaymentCardId:
          type: string
          format: uuid
        State:
          $ref: '#/components/schemas/PaymentCardAuthorizationState'
        Action:
          allOf:
          - $ref: '#/components/schemas/PaymentCardAuthorizationAction'
      additionalProperties: false
      x-schema-id: AuthorizePaymentCardResult
    SingleHotelResult:
      title: SingleHotelResult
      required:
      - AcceptedCurrencyCodes
      - Address
      - CityId
      - Countries
      - Currencies
      - DefaultCurrencyCode
      - DefaultLanguageCode
      - DefaultRateCurrencyCode
      - Description
      - Email
      - IanaTimeZoneIdentifier
      - Id
      - ImageBaseUrl
      - Languages
      - Name
      - Pricing
      - Products
      - RoomCategories
      - SupportedLanguageCodes
      - TaxEnvironmentCode
      - TermsAndConditionsUrl
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        CityId:
          type: string
          format: uuid
        ImageId:
          type:
          - string
          - 'null'
          format: uuid
        IntroImageId:
          type:
          - string
          - 'null'
          format: uuid
        DefaultLanguageCode:
          minLength: 1
          type: string
        DefaultCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
        DefaultRateCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
        SupportedLanguageCodes:
          type: array
          items:
            type: string
        AcceptedCurrencyCodes:
          type: array
          items:
            type: string
        TaxEnvironmentCode:
          minLength: 1
          type: string
        Pricing:
          $ref: '#/components/schemas/PricingMode'
        RoomCategories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        Products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        PaymentGateway:
          allOf:
          - $ref: '#/components/schemas/PaymentGateway'
        TermsAndConditionsUrl:
          minLength: 1
          type: string
          format: uri
        IanaTimeZoneIdentifier:
          minLength: 1
          type: string
        Email:
          minLength: 1
          type: string
        Telephone:
          type:
          - string
          - 'null'
        AdditionalLegalStatements:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties:
              type: string
          deprecated: true
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
        Languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
        Currencies:
          type: array
          items:
            $ref: '#/components/schemas/Currency'
        Countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        ImageBaseUrl:
          minLength: 1
          type: string
          format: uri
      additionalProperties: false
      x-schema-id: SingleHotelResult
    ProductPricingParameters:
      title: ProductPricingParameters
      required:
      - Client
      - ConfigurationId
      - CurrencyCode
      - EndUtc
      - FullAmounts
      - OccupancyData
      - ProductIds
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        ConfigurationId:
          type: string
          format: uuid
        ProductIds:
          maxItems: 1000
          type: array
          items:
            type: string
            format: uuid
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        StartUtc:
          minLength: 1
          type: string
          format: date-time
        EndUtc:
          minLength: 1
          type: string
          format: date-time
        CurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
      additionalProperties: false
      x-schema-id: ProductPricingParameters
    PaymentCard:
      title: PaymentCard
      required:
      - AuthorizationState
      - Id
      type: object
      properties:
        Id:
          type: string
          format: uuid
        AuthorizationState:
          $ref: '#/components/schemas/PaymentCard3DsAuthorizationState'
      additionalProperties: false
      x-schema-id: PaymentCard
    ResourceOccupancyPricing:
      title: ResourceOccupancyPricing
      required:
      - Pricing
      type: object
      properties:
        AdultCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        ChildCount:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        OccupancyData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OccupancyData'
        Pricing:
          type: array
          items:
            $ref: '#/components/schemas/ResourcePricing'
      additionalProperties: false
      x-schema-id: ResourceOccupancyPricing
    VoucherParameters:
      title: VoucherParameters
      required:
      - Client
      - FullAmounts
      - HotelId
      - VoucherCode
      type: object
      properties:
        Client:
          minLength: 1
          type: string
        LanguageCode:
          type:
          - string
          - 'null'
        CultureCode:
          type:
          - string
          - 'null'
        FullAmounts:
          type: boolean
        Session:
          type:
          - string
          - 'null'
        HotelId:
          type: string
          format: uuid
        VoucherCode:
          minLength: 1
          type: string
        ServiceIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
      x-schema-id: VoucherParameters
    AgeCategoryProductPrice:
      title: AgeCategoryProductPrice
      required:
      - AgeCategoryId
      - ProductId
      - TotalAmount
      - UnitAmount
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
        AgeCategoryId:
[...]
