openapi: 3.0.4
info:
  title: BookingEngineApi Account notes Rates API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: Rates
paths:
  /api/connector/v1/rates/updateCapacityOffset:
    post:
      tags:
      - Rates
      summary: Update rate capacity offset pricing
      description: Updates capacity offset based pricing for specified rates. This operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: rates_updateCapacityOffset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleRateCapacityOffsetUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              CapacityOffsetUpdates:
              - RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                NegativeOccupancyAdjustment:
                  Value: 10.0
                ExtraOccupancyAdjustment:
                  Value: 20.0
              - RateId: b7e6a1c2-4f3a-4e2b-9c1d-2a5e7b8c9d0f
                ExtraOccupancyAdjustment:
                  Value: 15.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/rates/getAll:
    post:
      tags:
      - Rates
      summary: Get all rates
      description: Returns all rates (pricing setups) of the default service provided by the enterprise. Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: rates_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              ServiceIds:
              - bd26d8db-86da-4f96-9efc-e5a4654a4a94
              RateIds:
              - ed4b660b-19d0-434b-9360-a4de2ea42eda
              UpdatedUtc:
                StartUtc: '2022-10-15T00:00:00Z'
                EndUtc: '2022-10-20T00:00:00Z'
              ExternalIdentifiers:
              - Rate-001
              - Rate-002
              ActivityStates:
              - Active
              Extent:
                Rates: true
                RateGroups: true
                AvailabilityBlockAssignments: true
              Limitation:
                Count: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateResult'
              example:
                Rates:
                - BaseRateId: null
                  BusinessSegmentId: null
                  GroupId: c8b866b3-be2e-4a47-9486-034318e9f393
                  Id: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  IsActive: true
                  IsEnabled: true
                  IsPublic: true
                  Name: Fully Flexible
                  ShortName: FF
                  ExternalNames:
                    en-US: Long Stay Flexible Rate
                  ExternalIdentifier: D001
                RateGroups:
                - Id: c8b866b3-be2e-4a47-9486-034318e9f393
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  IsActive: true
                  Name: Default
                  ExternalIdentifier: RG001
                AvailabilityBlockAssignments:
                - RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  AvailabilityBlockId: 12806ae8-9c15-44c7-9a44-afae01289928
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/rates/add:
    post:
      tags:
      - Rates
      summary: Add rates
      description: Adds rates to the enterprise. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property). Rate type of `AvailabilityBlock` cannot be created via this operation.
      operationId: rates_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              Rates:
              - ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                RateGroupId: b9f25a45-9b9a-4b33-99bd-b06f008eb6f5
                IsEnabled: true
                Type: Public
                AccountingCategoryId: 3620c660-a4ec-4e0f-a0bc-b06f008eb8bf
                Names:
                  EN: My rate
                ExternalIdentifier: D001
                PricingType: DependentRatePricing
                Pricing:
                  DependentRatePricing:
                    BaseRateId: 1a1ddd3b-e106-4a70-aef1-54a75b483943
                    RelativeAdjustment: 0.15
                    AbsoluteAdjustment: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateAddResult'
              example:
                Rates:
                - Id: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  GroupId: b9f25a45-9b9a-4b33-99bd-b06f008eb6f5
                  BaseRateId: 1a1ddd3b-e106-4a70-aef1-54a75b483943
                  BusinessSegmentId: null
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  IsActive: true
                  IsEnabled: true
                  IsPublic: true
                  Type: Public
                  Name: My rate
                  ShortName: FF
                  ExternalNames:
                    en-US: Long Stay Flexible Rate
                  ExternalIdentifier: D001
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/rates/set:
    post:
      tags:
      - Rates
      summary: Set rates
      description: Adds new Rates or updates existing ones if they are matched by `Id` or `ExternalIdentifier` property. This operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: rates_set
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateSetParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              Rates:
              - Id: e1b0bf46-32a3-4f7c-99c1-1ff78447d55d
                ServiceId: 956176af-e10b-4f3c-beb7-274801bce328
                RateGroupId: d7adfddc-c2dc-4798-ace2-28de7b25408f
                IsEnabled: true
                Type: Public
                Names:
                  en-US: Base rate
                Descriptions:
                  en-US: Base rate with all fields specified using GUID identifiers.
                PricingType: BaseRatePricing
                Pricing:
                  BaseRatePricing:
                    Amount:
                      Currency: EUR
                      NetValue: 100.0
              - ExternalIdentifier: '55698'
                ServiceId: eid:Stay
                RateGroupId: eid:RG10
                IsEnabled: false
                Type: Private
                Names:
                  en-US: Dependent rate
                Descriptions:
                  en-US: Dependent rate with all field specified using eid identifiers.
                PricingType: DependentRatePricing
                Pricing:
                  DependentRatePricing:
                    BaseRateId: 00392166-3869-4174-b491-cf0162524a38
                    RelativeAdjustment: 0.0
                    AbsoluteAdjustment: 0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateSetResult'
              example:
                Rates:
                - Id: e1b0bf46-32a3-4f7c-99c1-1ff78447d55d
                  GroupId: d7adfddc-c2dc-4798-ace2-28de7b25408f
                  ServiceId: 956176af-e10b-4f3c-beb7-274801bce328
                  BaseRateId: null
                  IsBaseRate: true
                  BusinessSegmentId: dc9188f6-fb61-412c-b3fd-af32dab082ed
                  IsActive: true
                  IsEnabled: true
                  IsPublic: true
                  IsDefault: false
                  Type: Public
                  Name: null
                  Names:
                    en-US: Base rate
                  ShortName: BR
                  UpdatedUtc: '2024-11-20T00:00:00Z'
                  ExternalNames:
                    en-US: External base rate
                  Description:
                    en-US: Base rate description.
                  ExternalIdentifier: null
                  TaxExemptionReason: null
                  TaxExemptionLegalReference: null
                - Id: 8eb1f163-bce7-49ca-a62c-c9261951c85f
                  GroupId: d7adfddc-c2dc-4798-ace2-28de7b25408f
                  ServiceId: 956176af-e10b-4f3c-beb7-274801bce328
                  BaseRateId: 00392166-3869-4174-b491-cf0162524a38
                  IsBaseRate: false
                  BusinessSegmentId: dc9188f6-fb61-412c-b3fd-af32dab082ed
                  IsActive: true
                  IsEnabled: false
                  IsPublic: false
                  IsDefault: false
                  Type: Private
                  Name: null
                  Names:
                    en-US: Dependent rate
                  ShortName: DR
                  UpdatedUtc: '2024-11-20T00:00:00Z'
                  ExternalNames:
                    en-US: External dependent rate
                  Description:
                    en-US: Dependent rate description.
                  ExternalIdentifier: '55698'
                  TaxExemptionReason: null
                  TaxExemptionLegalReference: null
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
      x-restricted: true
  /api/connector/v1/rates/delete:
    post:
      tags:
      - Rates
      summary: Delete rates
      description: Deletes specified rates. This operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: rates_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateDeleteParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              RateIds:
              - 7e89ee8e-11a0-4d9d-8880-f8d8494824b5
              - eid:BasicRate
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/rates/getPricing:
    post:
      tags:
      - Rates
      summary: Get rate pricing
      description: 'Returns prices for a given rate for a specified time interval. Prices will be returned for all service time units that the specified time interval intersects. So, for example, an interval `1st Jan 23:00 UTC - 1st Jan 23:00 UTC` will result in one price for `2nd Jan`, while Interval `1st Jan 23:00 UTC - 2nd Jan 23:00 UTC` will result in two prices for `2nd Jan` and `3rd Jan` (assuming a time unit period of "Day"). UTC timestamps must correspond to the start boundary of a time unit, e.g. 00:00 converted to UTC for a time unit of "Day". Other timestamps are not permitted. The __maximum size of time interval__ depends on the service''s time unit: 367 hours if hours, 367 days if days, or 60 months if months. For more information about time units, see [Time units](https://mews-systems.gitbook.io/connector-api/concepts/time-units).'
      operationId: rates_getPricing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePricingFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
              FirstTimeUnitStartUtc: '2022-01-01T23:00:00.000Z'
              LastTimeUnitStartUtc: '2022-01-03T23:00:00.000Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePricing'
              example:
                Currency: EUR
                BaseAmountPrices:
                - Currency: EUR
                  NetValue: 93.46
                  GrossValue: 100
                  TaxValues:
                  - Code: DE-2020-1-L
                    Value: 6.54
                  Breakdown:
                    Items:
                    - TaxRateCode: DE-2020-1-L
                      NetValue: 93.46
                      TaxValue: 6.54
                - Currency: EUR
                  NetValue: 93.46
                  GrossValue: 100
                  TaxValues:
                  - Code: DE-2020-1-L
                    Value: 6.54
                  Breakdown:
                    Items:
                    - TaxRateCode: DE-2020-1-L
                      NetValue: 93.46
                      TaxValue: 6.54
                CategoryAdjustments:
                - AbsoluteValue: 0
                  CategoryId: 34c29e73-c8db-4e93-b51b-981e42655e03
                  ParentCategoryId: null
                  RelativeValue: 0.2
                - AbsoluteValue: 50
                  CategoryId: a0a7a5c5-c4ef-494a-8b34-6cca97629076
                  ParentCategoryId: 34c29e73-c8db-4e93-b51b-981e42655e03
                  RelativeValue: 0
                CategoryPrices:
                - CategoryId: e3aa3117-dff0-46b7-b49a-2c0391e70ff9
                  AmountPrices:
                  - Currency: EUR
                    NetValue: 93.46
                    GrossValue: 100
                    TaxValues:
                    - Code: DE-2020-1-L
                      Value: 6.54
                    Breakdown:
                      Items:
                      - TaxRateCode: DE-2020-1-L
                        NetValue: 93.46
                        TaxValue: 6.54
                  - Currency: EUR
                    NetValue: 93.46
                    GrossValue: 100
                    TaxValues:
                    - Code: DE-2020-1-L
                      Value: 6.54
                    Breakdown:
                      Items:
                      - TaxRateCode: DE-2020-1-L
                        NetValue: 93.46
                        TaxValue: 6.54
                TimeUnitStartsUtc:
                - '2022-01-01T23:00:00Z'
                - '2022-01-02T23:00:00Z'
                - '2022-01-03T23:00:00Z'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/rates/updatePrice:
    post:
      tags:
      - Rates
      summary: Update rate price
      description: 'Updates the prices for a given rate. You can make multiple price updates with one API call, and for each one specify the time interval for which the update applies, the price value and the applicable [resource category](https://mews-systems.gitbook.io/connector-api/operations/resources/#resource-category). The price will be updated for all service [time units](https://mews-systems.gitbook.io/connector-api/operations/services/#time-unit) that the specified time interval intersects. The price is per time unit, e.g. per day or per month. If the resource category `CategoryId` is not specified, the updated price will apply to the base price for all resource categories.

        Note that prices are defined daily, so when the server receives the UTC interval, it first converts it to the enterprise timezone and updates the price on all dates that the interval intersects. Only root rates can be updated (the rates that have no base rate, that have `BaseRateId` set to `null`). It is not permitted to update historical prices older than specified by `EditableHistoryInterval`. Future prices may be updated up to 5 years in the future. The __maximum size of time interval__ is 100 time units or 2 years, whichever is the shorter amount of time.'
      operationId: rates_updatePrice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePriceUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
              PriceUpdates:
              - FirstTimeUnitStartUtc: '2022-01-01T23:00:00.000Z'
                LastTimeUnitStartUtc: '2022-01-03T23:00:00.000Z'
                Value: 111
              - CategoryId: e3aa3117-dff0-46b7-b49a-2c0391e70ff9
                FirstTimeUnitStartUtc: '2022-01-04T23:00:00.000Z'
                LastTimeUnitStartUtc: '2022-01-05T23:00:00.000Z'
                Value: 222
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
components:
  schemas:
    DecimalUpdateValue:
      title: Decimal update value
      type: object
      properties:
        Value:
          type: number
          description: Value which is to be updated.
          format: double
      additionalProperties: false
      x-schema-id: DecimalUpdateValue
    RateSetResult:
      title: Rate set result
      type: object
      properties:
        Rates:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/Rate'
          description: Rates that were added or updated.
          nullable: true
      additionalProperties: false
      x-schema-id: RateSetResult
    RatePricing:
      title: Rate pricing
      required:
      - AgeCategoryAdjustments
      - BaseAmountPrices
      - BasePrices
      - CategoryAdjustments
      - CategoryPrices
      - Currency
      - TimeUnitStartsUtc
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
        DatesUtc:
          type: array
          items:
            type: string
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `TimeUnitStartsUtc` instead.
        TimeUnitStartsUtc:
          type: array
          items:
            type: string
          description: Set of all time units covered by the time interval; expressed in UTC timezone ISO 8601 format.
        BasePrices:
          type: array
          items:
            type: number
            format: double
          deprecated: true
          x-deprecatedMessage: Use `BaseAmountPrices` instead.
        BaseAmountPrices:
          type: array
          items:
            $ref: '#/components/schemas/Amount'
          description: Base prices of the rates for each time unit covered by the time interval.
        CategoryPrices:
          type: array
          items:
            $ref: '#/components/schemas/CategoryPricing'
          description: Resource category prices.
        CategoryAdjustments:
          type: array
          items:
            $ref: '#/components/schemas/CategoryAdjustment'
          description: Resource category adjustments.
        AgeCategoryAdjustments:
          type: array
          items:
            $ref: '#/components/schemas/AgeCategoryAdjustment'
          description: Assigns different pricing or occupancy based on the guest's age.
        RelativeAdjustment:
          type: number
          description: Specific amount which shows the difference between this rate and the base rate.
          format: double
        AbsoluteAdjustment:
          type: number
          description: Relative amount which shows the difference between this rate and the base rate.
          format: double
        EmptyUnitAdjustment:
          type: number
          description: Price adjustment for when the resource booked with this rate is not full to capacity.
          format: double
        ExtraUnitAdjustment:
          type: number
          description: Price adjustment for when the resource booked with this rate exceeds capacity.
          format: double
      additionalProperties: false
      x-schema-id: RatePricing
    AmountParameters:
      title: Amount parameters
      required:
      - Currency
      - TaxCodes
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          format: currency
        TaxCodes:
          type: array
          items:
            type: string
        NetValue:
          type: number
          format: double
          nullable: true
        GrossValue:
          type: number
          format: double
          nullable: true
      additionalProperties: false
      description: Price of the product that overrides the price defined in Mews.
      x-schema-id: AmountParameters
    RateSetPricingDataParameters:
      title: Rate set pricing data parameters
      type: object
      properties:
        BaseRatePricing:
          title: Base rate pricing parameters (without occupancy adjustments)
          allOf:
          - $ref: '#/components/schemas/BaseRatePricingWithoutAdjustmentsParameters'
          description: 'Additional data for rates with base rate pricing. Used when `PricingType` is `BaseRatePricing`. Defaults are applied if not specified: amount is set to 10000 in default Enterprise''s currency and with its default accommodation tax rate code.'
          nullable: true
        DependentRatePricing:
          title: Dependent rate pricing parameters
          allOf:
          - $ref: '#/components/schemas/DependentRatePricingParameters'
          description: Additional data for rate with dependent rate pricing. Required when `PricingType` is `DependentRatePricing`.
          nullable: true
      additionalProperties: false
      x-schema-id: RateSetPricingDataParameters
    RatePriceUpdateParameters:
      title: Rate price update parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - PriceUpdates
      - RateId
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        RateId:
          minLength: 1
          type: string
          description: Unique identifier of the `Rate`.
          x-schema-id: HybridIdentifier
        ProductId:
          type: string
          description: Unique identifier of the `Product`.
          format: uuid
          nullable: true
        PriceUpdates:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/RatePriceUpdate'
          description: Price adjustments for specific time intervals.
      additionalProperties: false
      x-schema-id: RatePriceUpdateParameters
    RateAddTypeEnum:
      title: Rate Add Type
      enum:
      - Public
      - Private
      type: string
      description: '


        Public


        Private'
      x-enumNames:
      - Public
      - Private
      x-enumDescriptions:
      - ''
      - ''
    RatePriceUpdate:
      title: Rate price update
      type: object
      properties:
        CategoryId:
          type: string
          description: Unique identifier of the Resource category whose prices to update. If not specified, base price is updated.
          format: uuid
          nullable: true
        Value:
          type: number
          description: New value of the rate on the interval. If not specified, removes all adjustments within the interval.
          format: double
          nullable: true
        FirstTimeUnitStartUtc:
          type: string
          description: Start of the time interval, expressed as the timestamp for the start of the first [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units), in UTC timezone ISO 8601 format.
          format: date-time
          nullable: true
        LastTimeUnitStartUtc:
          type: string
          description: 'End of the time interval, expressed as the timestamp for the start of the last [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units), in UTC timezone ISO 8601 format. The maximum size of time interval depends on the service''s time unit: 367 hours if hours, 367 days if days, or 24 months if months.'
          format: date-time
          nullable: true
      additionalProperties: false
      x-schema-id: RatePriceUpdate
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
        RequestId:
          type: string
          nullable: true
        Details:
          nullable: true
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    RateResult:
      title: Rate result
      required:
      - RateGroups
      - RateRestrictions
      - Rates
      type: object
      properties:
        Rates:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/Rate'
          description: Rates of the default service.
        RateGroups:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/RateGroupOld'
          description: Rate groups of the default service.
          deprecated: true
          x-deprecatedMessage: Use [rateGroups/getAll](https://mews-systems.gitbook.io/connector-api/operations/rategroups#request).
        RateRestrictions:
          title: Rate restriction result
          allOf:
          - $ref: '#/components/schemas/RateRestrictionResult'
          deprecated: true
          x-deprecatedMessage: Use [restrictions/getAll](https://mews-systems.gitbook.io/connector-api/operations/restrictions#request).
        Cursor:
          type: string
          description: Unique identifier of the item one newer in time order than the items to be returned. If Cursor is not specified, i.e. null, then the latest or most recent items will be returned.
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: RateResult
    EarlinessRestriction:
      title: Earliness restriction
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate restriction.
          format: uuid
        RateId:
          type: string
          description: Unique identifier of the rate.
          format: uuid
        IsInherited:
          type: boolean
          description: Whether the rate restriction is inherited from the parent rate.
        StartUtc:
          type: string
          description: Start of the rate restriction in UTC timezone in ISO 8601 format.
          nullable: true
        EndUtc:
          type: string
          description: End of the rate restriction in UTC timezone in ISO 8601 format.
          nullable: true
        Days:
          type: array
          items:
            type: string
          description: The restricted days of week.
          nullable: true
        ExternalIdentifier:
          type: string
          description: Identifiers of from external systems.
          nullable: true
        MinAdvance:
          type: string
          description: The minimum time before the reservation starts, you can reserve in ISO 8601 duration format.
          nullable: true
        MaxAdvance:
          type: string
          description: The maximum time before the reservation starts, you can reserve in ISO 8601 duration format.
          nullable: true
      additionalProperties: false
      x-schema-id: EarlinessRestriction
    LengthRestriction:
      title: Length restriction
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate restriction.
          format: uuid
        RateId:
          type: string
          description: Unique identifier of the rate.
          format: uuid
        IsInherited:
          type: boolean
          description: Whether the rate restriction is inherited from the parent rate.
        StartUtc:
          type: string
          description: Start of the rate restriction in UTC timezone in ISO 8601 format.
          nullable: true
        EndUtc:
          type: string
          description: End of the rate restriction in UTC timezone in ISO 8601 format.
          nullable: true
        Days:
          type: array
          items:
            type: string
          description: The restricted days of week.
          nullable: true
        ExternalIdentifier:
          type: string
          description: Identifiers of from external systems.
          nullable: true
        MinLength:
          type: string
          description: Minimal reservation length in ISO 8601 duration format.
          nullable: true
        MaxLength:
          type: string
          description: Maximal reservation length in ISO 8601 duration format.
          nullable: true
      additionalProperties: false
      x-schema-id: LengthRestriction
    RateCapacityOffsetUpdateParameters:
      title: RateCapacityOffsetUpdateParameters
      required:
      - RateId
      type: object
      properties:
        RateId:
          type: string
          description: The unique identifier of the `Rate` to update.
          format: uuid
        NegativeOccupancyAdjustment:
          title: Decimal update value
          allOf:
          - $ref: '#/components/schemas/DecimalUpdateValue'
          description: Amount added to the price when occupancy is less than the Space Category Capacity. Use a negative value to provide a discount for under-occupancy. Set to 'null' if not updated.
          nullable: true
        ExtraOccupancyAdjustment:
          title: Decimal update value
          allOf:
          - $ref: '#/components/schemas/DecimalUpdateValue'
          description: Amount added to the price when the Space Category Capacity is exceeded.
          nullable: true
      additionalProperties: false
      x-schema-id: RateCapacityOffsetUpdateParameters
    RateAddResult:
      title: Rate add result
      type: object
      properties:
        Rates:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/Rate'
          description: Rates that have been added.
          nullable: true
      additionalProperties: false
      x-schema-id: RateAddResult
    TaxValue:
      title: Tax value
      required:
      - Value
      type: object
      properties:
        Code:
          type: string
          description: Code corresponding to tax type.
          nullable: true
        Value:
          type: number
          description: Amount of tax applied.
          format: double
      additionalProperties: false
      x-schema-id: TaxValue
    CategoryPricing:
      title: Resource category pricing
      required:
      - AmountPrices
      - CategoryId
      - Prices
      type: object
      properties:
        CategoryId:
          type: string
          description: Unique identifier of the category.
          format: uuid
        Prices:
          type: array
          items:
            type: number
            format: double
          description: Prices of the rate for the resource category in the covered dates.
          deprecated: true
          x-deprecatedMessage: Use `AmountPrices` instead.
        AmountPrices:
          type: array
          items:
            $ref: '#/components/schemas/Amount'
          description: Prices of the rate for the resource category in the covered dates.
      additionalProperties: false
      x-schema-id: CategoryPricing
    RateRestrictionResult:
      title: Rate restriction result
      required:
      - DateRestrictions
      - EarlinessRestrictions
      - LengthRestrictions
      type: object
      properties:
        DateRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/DateRestriction'
          description: Date restrictions for the rate.
        EarlinessRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/EarlinessRestriction'
          description: Earliness restrictions for the rates that are only available up to before arrival.
        LengthRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/LengthRestriction'
          description: Length restrictions for the rate.
      additionalProperties: false
      x-schema-id: RateRestrictionResult
    BaseRatePricingParametersWithOccupancyAdjustments:
      title: Base rate pricing parameters (with occupancy adjustments)
      required:
      - Amount
      type: object
      properties:
        Amount:
          title: Amount parameters
          allOf:
          - $ref: '#/components/schemas/AmountParameters'
          description: Price of the product that overrides the price defined in Mews.
        NegativeOccupancyAdjustment:
          type: number
          description: This is the amount added to the price when occupancy of the space is less than the Space Category Capacity. To provide a discount price for under-occupancy, simply use a negative value.
          format: double
        ExtraOccupancyAdjustment:
          type: number
          description: This is the amount added to the price when the Space Category Capacity is exceeded.
          format: double
      additionalProperties: false
      x-schema-id: BaseRatePricingParametersWithOccupancyAdjustments
    AgeCategoryAdjustment:
      title: Age category adjustment
      required:
      - AbsoluteValue
      - AgeCategoryId
      - Type
      type: object
      properties:
        AgeCategoryId:
          type: string
          description: Unique identifier of the age category.
          format: uuid
        AbsoluteValue:
          type: number
          description: Absolute value of the adjustment (e.g. `50` represents 50 EUR in case the rate currency is `EUR`).
          format: double
        Type:
          title: Age category adjustment type
          allOf:
          - $ref: '#/components/schemas/AgeCategoryAdjustmentTypeEnum'
          description: 'Age category adjustment type


            ExtraOccupancyAdjustment


            NegativeOccupancyAdjustment


            StandardOccupancyAdjustment'
          x-enumNames:
          - ExtraOccupancyAdjustment
          - NegativeOccupancyAdjustment
          - StandardOccupancyAdjustment
          x-enumDescriptions:
          - ''
          - ''
          - ''
      additionalProperties: false
      x-schema-id: AgeCategoryAdjustment
    RateDeleteParameters:
      title: RateDeleteParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - RateIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          nullable: true
        RateIds:
          maxItems: 10
          minItems: 1
          type: array
          items:
            type: string
          description: Unique identifiers of the rates to be deleted.
          x-schema-id: HybridIdentifier
      additionalProperties: false
      x-schema-id: RateDeleteParameters
    AgeCategoryAdjustmentTypeEnum:
      title: Age category adjustment type
      enum:
      - ExtraOccupancyAdjustment
      - NegativeOccupancyAdjustment
      - StandardOccupancyAdjustment
      type: string
      description: '


        ExtraOccupancyAdjustment


        NegativeOccupancyAdjustment


        StandardOccupancyAdjustment'
      x-enumNames:
      - ExtraOccupancyAdjustment
      - NegativeOccupancyAdjustment
      - StandardOccupancyAdjustment
      x-enumDescriptions:
      - ''
      - ''
      - ''
    Unit:
      type: object
      additionalProperties: false
    RatePricingFilterParameters:
      title: Rate pricing filter parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - FirstTimeUnitStartUtc
      - LastTimeUnitStartUtc
      - RateId
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        RateId:
          type: string
          description: Unique identifier of the `Rate`.
          format: uuid
        ProductId:
          type: string
          description: Unique identifier of the `Product`.
          format: uuid
          nullable: true
        FirstTimeUnitStartUtc:
          minLength: 1
          type: string
          description: Start of the time interval, expressed as the timestamp for the start of the first [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units), in UTC timezone ISO 8601 format.
          format: date-time
        LastTimeUnitStartUtc:
          minLength: 1
          type: string
          description: 'End of the time interval, expressed as the timestamp for the start of the last [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units), in UTC timezone ISO 8601 format. The maximum size of time interval depends on the service''s time unit: 367 hours if hours, 367 days if days, or 24 months if months.'
          format: date-time
      additionalProperties: false
      x-schema-id: RatePricingFilterParameters
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
        Cursor:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    TaxExemptionReasonTypeEnum:
      title: Tax exemption reason type
      enum:
      - Unknown
      - IT_N1
      - IT_N2_2
      - IT_N3_5
      - IT_N4
      - IT_N5
      - PL_ZW
      - PL_NP
      - DE_NATO
      type: string
      description: '


        Unknown (Unknown tax exemption reason)


        IT_N1 (N1 - Escluse ex art.15)


        IT_N2_2 (N2.2 - Non soggette – altri casi)


        IT_N3_5 (N3.5 - Non imponibili – a seguito di dichiarazioni d’intento)


        IT_N4 (N4 - Esenti)


        IT_N5 (N5 - Regime del margine / IVA non esposta in fattura)


        PL_ZW (ZW - Zwolniony)


        PL_NP (NP - Nie podlega)


        DE_NATO (NATO-ZAbk - Umsatzsteuerbefreiung gemäß Artikel 67(3) NATO-Zusatzabkommen)'
      x-enumNames:
      - Unknown
      - IT_N1
      - IT_N2_2
      - IT_N3_5
      - IT_N4
      - IT_N5
      - PL_ZW
      - PL_NP
      - DE_NATO
      x-enumDescriptions:
      - Unknown tax exemption reason
      - N1 - Escluse ex art.15
      - N2.2 - Non soggette – altri casi
      - N3.5 - Non imponibili – a seguito di dichiarazioni d’intento
      - N4 - Esenti
      - N5 - Regime del margine / IVA non esposta in fattura
      - ZW - Zwolniony
      - NP - Nie podlega
      - NATO-ZAbk - Umsatzsteuerbefreiung gemäß Artikel 67(3) NATO-Zusatzabkommen
    RateFilterParameters:
      title: Rate filter parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      - ServiceIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
          nullable: true
        Extent:
          title: Rate extent
          allOf:
          - $ref: '#/components/schemas/RateExtent'
          description: Extent of data to be returned. If not specified, both `Rates` and `RateGroups` will be included.
          nullable: true
        RateIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the requested [Rates](https://mews-systems.gitbook.io/connector-api/operations/rates/#rate).
          nullable: true
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which `Rate` was updated.
          nullable: true
          x-max-interval-in-months: 3
        ServiceIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the [Services](https://mews-systems.gitbook.io/connector-api/operations/services/#service) from which the rates are requested.
        ExternalIdentifiers:
          maxItems: 1000
          type: array
          items:
            type: string
          description: Identifiers of [Rate](https://mews-systems.gitbook.io/connector-api/operations/#rate) from external systems.
          nullable: true
        ActivityStates:
          type: array
          items:
            $ref: '#/components/schemas/ActivityStates'
          description: Whether to return only active, only deleted, or both types of record. If not specified, both active and deleted will be returned.
          nullable: true
      additionalProperties: false
      x-schema-id: RateFilterParameters
    RateTypeEnum:
      title: Rate type
      enum:
      - Public
      - Private
      - AvailabilityBlock
      type: string
      description: '


        Public


        Private


        AvailabilityBlock'
      x-enumNames:
      - Public
      - Private
      - AvailabilityBlock
      x-enumDescriptions:
      - ''
      - ''
      - ''
    Rate:
      title: Rate
      required:
      - GroupId
      - Id
      - IsActive
      - IsBaseRate
      - IsDefault
      - IsEnabled
      - IsPublic
      - Names
      - ServiceId
      - Type
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate.
          format: uuid
        GroupId:
          type: string
          description: Unique identifier of `Rate Group` where the rate belongs.
          format: uuid
        ServiceId:
          type: string
          description: Unique identifier of the `Service`.
          format: uuid
        BaseRateId:
          type: string
          description: Unique identifier of the base `Rate`.
          format: uuid
          nullable: true
        IsBaseRate:
          type: boolean
          description: Indicates if this is a base rate.
        BusinessSegmentId:
          type: string
          description: Unique identifier of the `Business Segment`.
          format: uuid
          nullable: true
        IsActive:
          type: boolean
          description: Indicates if this rate is active.
        IsEnabled:
          type: boolean
          description: Indicates if this rate is currently available to customers.
        IsPublic:
          type: boolean
          description: Indicates if this rate is publicly available.
        IsDefault:
          type: boolean
          description: Indicates if this rate is the default rate for the service. Assigned automatically to the first rate of a service.
        Type:
          title: Rate type
          allOf:
          - $ref: '#/components/schemas/RateTypeEnum'
          description: 'Type of the rate.


            Public


            Private


            AvailabilityBlock'
          x-enumNames:
          - Public
          - Private
          - AvailabilityBlock
          x-enumDescriptions:
          - ''
          - ''
          - ''
        Name:
          type: string
          description: Name of the rate (in the default language).
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `Names` instead
        Names:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the name.
          x-schema-id: LocalizedStrings
        ShortName:
          type: string
          description: Short name of the rate (in the default language).
          nullable: true
        UpdatedUtc:
          minLength: 1
          type: string
          description: Interval in which the rates were updated.
          format: date-time
        ExternalNames:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the external name of the rate.
          nullable: true
          x-schema-id: LocalizedStrings
        Description:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the description of the rate.
          nullable: true
          x-schema-id: LocalizedStrings
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of the rate from external system.
          nullable: true
        TaxExemptionReason:
          allOf:
          - $ref: '#/components/schemas/TaxExemptionReasonTypeEnum'
          description: 'Specifies the reason a rate is exempt from tax.


            Unknown (Unknown tax exemption reason)


            IT_N1 (N1 - Escluse ex art.15)


            IT_N2_2 (N2.2 - Non soggette – altri casi)


            IT_N3_5 (N3.5 - Non imponibili – a seguito di dichiarazioni d’intento)


            IT_N4 (N4 - Esenti)


            IT_N5 (N5 - Regime del margine / IVA non esposta in fattura)


            PL_ZW (ZW - Zwolniony)


            PL_NP (NP - Nie podlega)


            DE_NATO (NATO-ZAbk - Umsatzsteuerbefreiung gemäß Artikel 67(3) NATO-Zusatzabkommen)'
          nullable: true
        TaxExemptionLegalReference:
          type: string
          description: Legal reference that states why this rate is exempt from tax.
          nullable: true
      additionalProperties: false
      x-schema-id: Rate
    DependentRatePricingParameters:
      title: Dependent rate pricing parameters
      required:
      - BaseRateId
      type: object
      properties:
        BaseRateId:
          minLength: 1
          type: string
          description: Unique identifier of the base rate.
          x-schema-id: HybridIdentifier
        RelativeAdjustment:
          type: number
          description: Relative amount which shows the difference between this rate and the base rate.
          format: double
        AbsoluteAdjustment:
          type: number
          description: Specific amount which shows the difference between this rate and the base rate.
          format: double
      additionalProperties: false
      x-schema-id: DependentRatePricingParameters
    RateSetData:
      title: Set rate parameters
      required:
      - Names
      - PricingType
      - ServiceId
      - Type
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate. If it matches an existing rate, that rate will be updated. If no match is found, an error will be returned.
          format: uuid
          nullable: true
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Unique identifier of the rate in the external system. If `Id` is not provided and `ExternalIdentifier` matches an existing rate, the corresponding rate will be updated. If no match is found, a new rate will be created.
          nullable: true
        ServiceId:
          minLength: 1
          type: string
          description: Unique identifier of the service. Ignored in case of updating an existing rate.
          x-schema-id: HybridIdentifier
        RateGroupId:
          type: string
          description: Unique identifier of the rate group under which rate is assigned. Empty value means that rate is added to a default group or the current group is kept for update, respectively.
          nullable: true
          x-schema-id: HybridIdentifier
        IsEnabled:
          type: boolean
          description: Whether the rate is available to customers. `true` will be used as a default if not provided.
          nullable: true
        Type:
          title: Rate Add Type
          allOf:
          - $ref: '#/components/schemas/RateAddTypeEnum'
          description: 'Type of the rate. `Private` will be used as a default if not provided.


            Public


            Private'
        Names:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the name of the rate.
          x-schema-id: LocalizedStrings
        Descriptions:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the description.
          nullable: true
          x-schema-id: LocalizedStrings
        PricingType:
          title: Rate pricing discriminator
          allOf:
          - $ref: '#/components/schemas/RatePricingDiscriminatorEnum'
          description: 'Rate pricing type. Must match existing pricing type in case of update.


            BaseRatePricing


            DependentRatePricing'
          x-enumNames:
          - BaseRatePricing
          - DependentRatePricing
          x-enumDescriptions:
          - ''
          - ''
        Pricing:
          title: Rate set pricing data parameters
          allOf:
          - $ref: '#/components/schemas/RateSetPricingDataParameters'
          description: Contains additional data about pricing of the rate.
          nullable: true
      additionalProperties: false
      x-schema-id: RateSetData
    ActivityStates:
      title: Activity state
      enum:
      - Deleted
      - Active
      type: string
      description: Activity states used for filtering.
    RatePricingDiscriminatorEnum:
      title: Rate pricing discriminator
      enum:
      - BaseRatePricing
      - DependentRatePricing
      type: string
      description: '


        BaseRatePricing


        DependentRatePricing'
      x-enumNames:
      - BaseRatePricing
      - DependentRatePricing
      x-enumDescriptions:
      - ''
      - ''
    DateRestriction:
      title: Date restriction
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate restriction.
          format: uuid
        RateId:
          type: string
          description: Unique identifier of the rate.
          format: uuid
        IsInherited:
          type: boolean
          description: Whether the rate restriction is inherited from the parent rate.
        StartUtc:
          type: string
          description: Start of the rate restriction in UTC timezone in ISO 8601 format.
          nullable: true
        EndUtc:
          type: string
          description: End of the rate restriction in UTC timezone in ISO 8601 format.
          nullable: true
        Days:
          type: array
          items:
            type: string
          description: The restricted days of week.
          nullable: true
        ExternalIdentifier:
          type: string
          description: Identifiers of from external systems.
          nullable: true
      additionalProperties: false
      x-schema-id: DateRestriction
    TaxBreakdown:
      title: Tax breakdown
      required:
      - Items
      type: object
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/TaxBreakdownItem'
          description: Tax breakdown items per each tax rate applied.
      additionalProperties: false
      x-schema-id: TaxBreakdown
    BaseRatePricingWithoutAdjustmentsParameters:
      title: Base rate pricing parameters (without occupancy adjustments)
      required:
      - Amount
      type: object
      properties:
        Amount:
          title: Amount parameters
          allOf:
          - $ref: '#/components/schemas/AmountParameters'
          description: Price of the product that overrides the price defined in Mews.
      additionalProperties: false
      x-schema-id: BaseRatePricingWithoutAdjustmentsParameters
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type: string
          format: date-time
          nullable: true
        EndUtc:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\r\n\r\n- **Start equals End (equality mode)**  \r\n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\r\n  \r\n  ```\r\n  CreatedUtc == StartUtc\r\n  ```\r\n  \r\n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\r\n\r\n- **Start differs from End (interval mode)**  \r\n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\r\n  \r\n  ```\r\n  StartUtc <= CreatedUtc < EndUtc\r\n  ```\r\n  \r\n  In other words, the start is inclusive and the end is exclusive.\r\n\r\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    RateExtent:
      title: Rate extent
      type: object
      properties:
        Rates:
          type: boolean
          description: Whether the response should contain rates.
          nullable: true
        RateGroups:
          type: boolean
          description: Whether the response should contain rate groups.
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `rateGroups/getAll`
        AvailabilityBlockAssignments:
          type: boolean
          description: Whether the response should contain availability block assignments.
      additionalProperties: false
      description: Extent of data to be returned.
      x-schema-id: RateExtent
    RateGroupOld:
      title: Rate group (ver 2017-04-12)
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate group.
          format: uuid
        ServiceId:
          type: string
          description: Unique identifier of the Service that the rate group belongs to.
          format: uuid
        IsActive:
          type: boolean
          description: Whether the rate group is still active.
        Name:
          type: string
          description: Name of the rate group.
          nullable: true
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: External identifier of the rate group.
          nullable: true
      additionalProperties: false
      x-schema-id: RateGroupOld
    RateSetParameters:
      title: Set rates parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Rates
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          nullable: true
        Rates:
          maxItems: 100
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/RateSetData'
          description: Rates to be added or updated.
      additionalProperties: false
      x-schema-id: RateSetParameters
    RateAddData:
      title: Rate parameters
      required:
      - Names
      - PricingType
      - RateGroupId
      - ServiceId
      type: object
      properties:
        ServiceId:
          minLength: 1
          type: string
          description: Unique identifier of the service.
          x-schema-id: HybridIdentifier
        RateGroupId:
          minLength: 1
          type: string
          description: Unique identifier of the rate group under which rate is assigned.
          x-schema-id: HybridIdentifier
        IsEnabled:
          type: boolean
          description: Whether the rate is available to customers. `false` will be used as a default when not provided.
          nullable: true
        Type:
          title: Rate Add Type
          allOf:
          - $ref: '#/components/schemas/RateAddTypeEnum'
          description: 'Type of the rate.


            Public


            Private'
          x-enumNames:
          - Public
          - Private
          x-enumDescriptions:
          - ''
          - ''
        AccountingCategoryId:
          type: string
          description: Unique identifier of the accounting category the rate belongs to.
          format: uuid
          nullable: true
        BusinessSegmentId:
          type: string
          description: Unique identifier of the business segment.
          format: uuid
          nullable: true
        Names:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the name of the rate.
          x-schema-id: LocalizedStrings
        ShortNames:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the short name of the rate.
          nullable: true
          x-schema-id: LocalizedStrings
        ExternalNames:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the external name of the rate.
          nullable: true
          x-schema-id: LocalizedStrings
        Descriptions:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the description.
          nullable: true
          x-schema-id: LocalizedStrings
        PricingType:
          title: Rate pricing discriminator
          allOf:
          - $ref: '#/components/schemas/RatePricingDiscriminatorEnum'
          description: 'Discriminator in which field inside `Pricing` contains additional data.


            BaseRatePricing


            DependentRatePricing'
          x-enumNames:
          - BaseRatePricing
          - DependentRatePricing
          x-enumDescriptions:
          - ''
          - ''
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of the rate from external system.
          nullable: true
        Pricing:
          title: Rate add pricing data parameters
          allOf:
          - $ref: '#/components/schemas/RateAddPricingDataParameters'
          description: Contains additional data about pricing of the rate.
          nullable: true
      additionalProperties: false
      x-schema-id: RateAddData
    Amount:
      title: Amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
          format: currency
        NetValue:
          type: number
          description: Net value without taxes.
          format: double
        GrossValue:
          type: number
          description: Gross value including all taxes.
          format: double
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
          description: The tax values applied.
        Breakdown:
          title: Tax breakdown
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
          description: Information about individual tax amounts.
      additionalProperties: false
      description: ''
      x-schema-id: Amount
    MultipleRateCapacityOffsetUpdateParameters:
      title: MultipleRateCapacityOffsetUpdateParameters
      required:
      - AccessToken
      - CapacityOffsetUpdates
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          nullable: true
        CapacityOffsetUpdates:
          maxItems: 50
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/RateCapacityOffsetUpdateParameters'
          description: A list of rate capacity offset updates to apply.
      additionalProperties: false
      description: Parameters for updating rate capacity offsets in an enterprise.
      x-schema-id: MultipleRateCapacityOffsetUpdateParameters
    CategoryAdjustment:
      title: Resource category adjustment
      required:
      - AbsoluteValue
      - CategoryId
      - RelativeValue
      type: object
      properties:
        CategoryId:
          type: string
          description: Unique identifier of the adjustment category.
          format: uuid
        ParentCategoryId:
          type: string
          description: Unique identifier of the parent category that serves as a base price for the current category.
          format: uuid
          nullable: true
        AbsoluteValue:
          type: number
          description: Absolute value of the adjustment (e.g. `50` represents 50 EUR in case the rate currency is `EUR`).
          format: double
        RelativeValue:
          type: number
          description: Relative value of the adjustment (e.g. `0.5` represents 50% increase).
          format: double
      additionalProperties: false
      x-schema-id: CategoryAdjustment
    TaxBreakdownItem:
      title: Tax breakdown item
      required:
      - NetValue
      - TaxValue
      type: object
      properties:
        TaxRateCode:
          type: string
          description: Tax rate code for the item. `null` for untaxed amounts.
          nullable: true
        NetValue:
          type: number
          description: The net value that the tax is calculated from.
          format: double
        TaxValue:
          type: number
          description: The value of the tax.
          format: double
      additionalProperties: false
      x-schema-id: TaxBreakdownItem
    RateAddParameters:
      title: Rate add parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Rates
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          nullable: true
        Rates:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/RateAddData'
          description: Information about rates to be created.
      additionalProperties: false
      x-schema-id: RateAddParameters
    RateAddPricingDataParameters:
      title: Rate add pricing data parameters
      type: object
      properties:
        BaseRatePricing:
          title: Base rate pricing parameters (with occupancy adjustments)
          allOf:
          - $ref: '#/components/schemas/BaseRatePricingParametersWithOccupancyAdjustments'
          description: 'Additional data for rates with base rate pricing. Used when `PricingType` is `BaseRatePricing`. Defaults are applied if not specified: amount is set to 10000 in default Enterprise''s currency and with its default accommodation tax rate code.'
          nullable: true
        DependentRatePricing:
          title: Dependent rate pricing parameters
          allOf:
          - $ref: '#/components/schemas/DependentRatePricingParameters'
          description: Additional data for rate with dependent rate pricing. Required when `PricingType` is `DependentRatePricing`.
          nullable: true
      additionalProperties: false
      x-schema-id: RateAddPricingDataParameters
