openapi: 3.0.4
info:
  title: BookingEngineApi Account notes Images API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: Images
paths:
  /api/connector/v1/images/getUrls:
    post:
      tags:
      - Images
      summary: Get image URLs
      description: Returns URLs of the specified images.
      operationId: images_getUrls
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrlParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              Images:
              - ImageId: 57a971a5-a335-48f4-8cd1-595245d1a876
                Width: 200
                Height: 150
                ResizeMode: Fit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUrlResult'
              example:
                ImageUrls:
                - ImageId: 57a971a5-a335-48f4-8cd1-595245d1a876
                  Url: https://cdn.demo.mews.li/Media/Image/57a971a5-a335-48f4-8cd1-595245d1a876?Mode=Fit&Width=200&Height=150
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
components:
  schemas:
    ImageUrlResult:
      title: ImageUrlResult
      required:
      - ImageUrls
      type: object
      properties:
        ImageUrls:
          type: array
          items:
            $ref: '#/components/schemas/ImageUrl'
          description: URLs of the images.
      additionalProperties: false
      x-schema-id: ImageUrlResult
    ImageSizeParameters:
      title: Image size parameters
      required:
      - ImageId
      type: object
      properties:
        ImageId:
          type: string
          description: Unique identifier of the image.
          format: uuid
        Width:
          type: integer
          description: Desired width of the image.
          format: int32
          nullable: true
        Height:
          type: integer
          description: Desired height of the image.
          format: int32
          nullable: true
        ResizeMode:
          allOf:
          - $ref: '#/components/schemas/ImageResizeModeEnum'
          description: 'Mode how the image should be resized to the desired width and height.


            Cover (Resize to fit within the specified size, so the result might be smaller than requested.)


            CoverExact (Resize and pad to exactly fit within the specified size.)


            Fit (Resize to fit within the specified size, so the result might be smaller than requested.)


            FitExact (Resize and pad to exactly fit within the specified size.)'
          nullable: true
      additionalProperties: false
      x-schema-id: ImageSizeParameters
    ImageResizeModeEnum:
      title: Image resize mode
      enum:
      - Cover
      - CoverExact
      - Fit
      - FitExact
      type: string
      description: '


        Cover (Resize to fit within the specified size, so the result might be smaller than requested.)


        CoverExact (Resize and pad to exactly fit within the specified size.)


        Fit (Resize to fit within the specified size, so the result might be smaller than requested.)


        FitExact (Resize and pad to exactly fit within the specified size.)'
      x-enumNames:
      - Cover
      - CoverExact
      - Fit
      - FitExact
      x-enumDescriptions:
      - Resize to fit within the specified size, so the result might be smaller than requested.
      - Resize and pad to exactly fit within the specified size.
      - Resize to fit within the specified size, so the result might be smaller than requested.
      - Resize and pad to exactly fit within the specified size.
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
        RequestId:
          type: string
          nullable: true
        Details:
          nullable: true
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    ImageUrl:
      title: Image URL
      required:
      - ImageId
      - Url
      type: object
      properties:
        ImageId:
          type: string
          description: Unique identifier of the image.
          format: uuid
        Url:
          minLength: 1
          type: string
          description: URL of the image.
      additionalProperties: false
      x-schema-id: ImageUrl
    ImageUrlParameters:
      title: ImageUrlParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Images
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        Images:
          type: array
          items:
            $ref: '#/components/schemas/ImageSizeParameters'
          description: Parameters of images whose URLs should be returned.
      additionalProperties: false
      x-schema-id: ImageUrlParameters
