openapi: 3.0.4
info:
  title: BookingEngineApi Account notes Tasks API
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: Tasks
paths:
  /api/connector/v1/tasks/getAll:
    post:
      tags:
      - Tasks
      summary: Get all tasks
      description: Returns all tasks of the enterprise, filtered by identifiers or other filters.
      operationId: tasks_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              TaskIds:
              - 65cf1aac-bef2-4653-9350-ab2600af65af
              DepartmentIds:
              - c28cfb42-a963-4195-ad26-ab1b009b6425
              ServiceOrderIds:
              - 8d70f718-e19c-458d-8ddb-ab1b009b5487
              CreatedUtc:
                StartUtc: '2019-12-08T00:00:00Z'
                EndUtc: '2019-12-10T00:00:00Z'
              ClosedUtc:
                StartUtc: '2019-12-08T00:00:00Z'
                EndUtc: '2019-12-10T00:00:00Z'
              DeadlineUtc:
                StartUtc: '2020-01-01T00:00:00Z'
                EndUtc: '2020-01-02T00:00:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResult'
              example:
                Tasks:
                - Id: b166fc93-c75a-438f-93b8-ab1e00a031ae
                  Name: Test all
                  State: Open
                  Description: Task description
                  DepartmentId: c28cfb42-a963-4195-ad26-ab1b009b6425
                  ServiceOrderId: 8d70f718-e19c-458d-8ddb-ab1b009b5487
                  CreatedUtc: '2019-12-09T09:43:14Z'
                  DeadlineUtc: '2020-01-01T14:00:00Z'
                  ClosedUtc: null
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/tasks/add:
    post:
      tags:
      - Tasks
      summary: Add task
      description: Adds a new task to the enterprise, optionally to a specified department.
      operationId: tasks_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              Name: Test
              Description: Task description
              DeadlineUtc: '2016-01-01T14:00:00Z'
              ServiceOrderId: c73cf884-ae2b-4fba-858c-ab1400b4c8c3
              DepartmentId: 8a0770a7-5178-4b87-8898-ab0400a346ec
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTaskResult'
              example:
                TaskId: 11bcf947-d629-4781-89f9-ab1800d5aa47
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
  /api/connector/v1/tasks/close:
    post:
      tags:
      - Tasks
      summary: Close task
      description: Closes one or more tasks. Closed tasks are considered completed and not shown in active task lists.
      operationId: tasks_close
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseTaskParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              TaskIds:
              - a7f6f8a1-6a2c-4c4d-8b9f-3c8a6d2f1b7e
              - b4c2d9fe-12a1-4c2b-9f6a-5b0c2f1d3e4a
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
      x-restricted: true
components:
  schemas:
    TaskAddParameters:
      title: TaskAddParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - DeadlineUtc
      - Name
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        DepartmentId:
          type: string
          description: Unique identifier of the [Department](https://mews-systems.gitbook.io/connector-api/operations/departments/#department) the task is addressed to.
          format: uuid
          nullable: true
        ServiceOrderId:
          type: string
          description: Unique identifier of the service order (reservation or product service order) the task is linked with.
          format: uuid
          nullable: true
        Name:
          minLength: 1
          type: string
          description: Name (or title) of the task.
        Description:
          type: string
          description: Further decription of the task.
          nullable: true
        DeadlineUtc:
          minLength: 1
          type: string
          description: Deadline of the task in UTC timezone in ISO 8601 format.
          format: date-time
      additionalProperties: false
      x-schema-id: TaskAddParameters
    AddTaskResult:
      title: AddTaskResult
      type: object
      properties:
        TaskId:
          type: string
          description: Unique identifier of added task.
          format: uuid
      additionalProperties: false
      x-schema-id: AddTaskResult
    Task:
      title: Task
      required:
      - ClosedUtc
      - CreatedUtc
      - DeadlineUtc
      - Name
      - State
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the task.
          format: uuid
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using Portfolio Access Tokens, ignored otherwise.
          format: uuid
        Name:
          minLength: 1
          type: string
          description: Name (or title) of the task.
        State:
          minLength: 1
          type: string
          description: State of the task.
        Description:
          type: string
          description: Further description of the task.
          nullable: true
        DepartmentId:
          type: string
          description: Unique identifier of the Department the task is addressed to.
          format: uuid
          nullable: true
        ServiceOrderId:
          type: string
          description: Unique identifier of the service order (reservation or product service order) the task is linked with.
          format: uuid
          nullable: true
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the task in UTC timezone in ISO 8601 format.
        DeadlineUtc:
          minLength: 1
          type: string
          description: Deadline date and time of the task in UTC timezone in ISO 8601 format.
        ClosedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the task in UTC timezone in ISO 8601 format.
      additionalProperties: false
      x-schema-id: Task
    Unit:
      type: object
      additionalProperties: false
    CloseTaskParameters:
      title: CloseTaskParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - TaskIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        TaskIds:
          maxItems: 100
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Tasks to be closed.
      additionalProperties: false
      x-schema-id: CloseTaskParameters
    TaskResult:
      title: TaskResult
      required:
      - Tasks
      type: object
      properties:
        Tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
          description: The filtered tasks.
        Cursor:
          type: string
          description: Unique identifier of the item one newer in time order than the items to be returned. If Cursor is not specified, i.e. null, then the latest or most recent items will be returned.
          format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: TaskResult
    TaskFilterParameters:
      title: TaskFilterParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
          nullable: true
        CreatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the Task was created.
          nullable: true
          x-max-interval-in-months: 3
        ClosedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the Task was closed.
          nullable: true
          x-max-interval-in-months: 3
        DeadlineUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the Task has a deadline.
          nullable: true
          x-max-interval-in-months: 3
        TaskIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of [Tasks](https://mews-systems.gitbook.io/connector-api/operations/#task).
          nullable: true
        DepartmentIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of [Departments](https://mews-systems.gitbook.io/connector-api/operations/departments/#department). Not possible to be used standalone, needs to be used in combination with other filters.
          nullable: true
        ServiceOrderIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of service orders (reservations or product service orders).
          nullable: true
      additionalProperties: false
      x-schema-id: TaskFilterParameters
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
        RequestId:
          type: string
          nullable: true
        Details:
          nullable: true
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type: string
          format: date-time
          nullable: true
        EndUtc:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\r\n\r\n- **Start equals End (equality mode)**  \r\n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\r\n  \r\n  ```\r\n  CreatedUtc == StartUtc\r\n  ```\r\n  \r\n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\r\n\r\n- **Start differs from End (interval mode)**  \r\n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\r\n  \r\n  ```\r\n  StartUtc <= CreatedUtc < EndUtc\r\n  ```\r\n  \r\n  In other words, the start is inclusive and the end is exclusive.\r\n\r\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
        Cursor:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
