openapi: 3.2.0
info:
  title: Connector Reservation groups API
  description: General-purpose API that enables partners of Mews to access data and services in Mews Operations
  termsOfService: https://www.mews.com/en/terms-conditions/partners
  contact:
    name: Partner success
    email: partnersuccess@mews.com
  version: v1
servers:
- url: https://api.mews.com
tags:
- name: Reservation Groups
paths:
  /api/connector/v1/reservationGroups/getAll:
    post:
      tags:
      - Reservation Groups
      summary: Get all reservation groups
      description: Returns all reservation groups, filtered by unique identifiers and other filters. Note this operation uses Pagination and supports Portfolio Access Tokens.
      operationId: reservationGroups_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              ReservationGroupIds:
              - fe795f96-0b64-445b-89ed-c032563f2bac
              UpdatedUtc:
                StartUtc: '2023-04-27T11:48:57Z'
                EndUtc: '2023-04-27T11:48:57Z'
              Limitation:
                Cursor: e7f26210-10e7-462e-9da8-ae8300be8ab7
                Count: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroupResult'
              example:
                ReservationGroups:
                - Id: 769fc613-838f-41a7-ac2a-aff100c3189f
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Name: Mr and Mrs smith wedding
                  ChannelManager: '2023-04-27T11:48:57Z'
                  ChannelManagerGroupNumber: 152fg645-834f-63a7-he6a-vsy845c4753a
                Cursor: 723jd664-235f-36a4-tg6d-gfy850c645f
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
components:
  schemas:
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
        Cursor:
          type:
          - string
          - 'null'
          format: uuid
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
        RequestId:
          type:
          - string
          - 'null'
        Details: {}
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    ReservationGroup:
      title: Reservation Group
      required:
      - EnterpriseId
      - Id
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the reservation group.
          format: uuid
        Name:
          type:
          - string
          - 'null'
          description: Name of the reservation group, might be empty or same for multiple groups.
        ChannelManager:
          type:
          - string
          - 'null'
          description: Name of the corresponding channel manager.
        ChannelManagerGroupNumber:
          type:
          - string
          - 'null'
          description: Identifier of the channel manager.
        EnterpriseId:
          type: string
          description: Unique identifier of the `Enterprise` the reservation group belongs to.
          format: uuid
      additionalProperties: false
      x-schema-id: ReservationGroup
    ReservationGroupFilterParameters:
      title: ReservationGroupFilterParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
        ReservationGroupIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the `ReservationGroup`. Required if no other filter is provided.
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `ReservationGroup` was updated. Required if no other filter is provided.
          x-max-interval-in-months: 3
      additionalProperties: false
      x-schema-id: ReservationGroupFilterParameters
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\n\n- **Start equals End (equality mode)**  \n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\n  \n  ```\n  CreatedUtc == StartUtc\n  ```\n  \n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\n\n- **Start differs from End (interval mode)**  \n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\n  \n  ```\n  StartUtc <= CreatedUtc < EndUtc\n  ```\n  \n  In other words, the start is inclusive and the end is exclusive.\n\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    ReservationGroupResult:
      title: ReservationGroupResult
      required:
      - ReservationGroups
      type: object
      properties:
        ReservationGroups:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/ReservationGroup'
          description: The filtered reservation groups.
        Cursor:
          type:
          - string
          - 'null'
          description: Unique identifier of the last and hence oldest reservation group returned. This can be used in `Limitation` in a subsequent request to fetch the next batch of older reservation groups.
          format: uuid
      additionalProperties: false
      x-schema-id: ReservationGroupResult
